array_splitter.json
[{"id":"32ea38b39d8a6d8f","type":"comment","z":"3cbc9ea1199461d1","name":"Converter seperates the array","info":"","x":700,"y":760,"wires":[]},{"id":"fbcc8045f946b1fc","type":"comment","z":"3cbc9ea1199461d1","name":"HUE Event Receivers for Firmware >= 1.53.1953188010 (beta release) \\n \\n HUE changed the Event-Flow output in the API for groups. \\n Instead of sending payloads for every light/group seperately they changed \\n it into a payload with one big array. \\n For the reason that the response data for th group is not always at the same position \\n the array need to be converted to single payloads first. \\n \\n \\n TO BE SAVE, BACKUP YOUR OLD FLOW BEFORE!","info":"","x":710,"y":960,"wires":[]},{"id":"795854199f99d676","type":"function","z":"3cbc9ea1199461d1","name":"1 data per flow","func":"for (var i = 0; i < msg.payload.data.length; i++) {\n    // Create a deep copy of msg object\n    let splitmsg = JSON.parse(JSON.stringify(msg));\n\n    // Reset data of new message to its single data part\n    splitmsg.payload.data = [msg.payload.data[i]];\n    \n    // send using node\n    node.send(splitmsg);\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":800,"wires":[["02ee5be5444455bd","9fbb179d8c718cf0"]]}]
