helper_functions_flow.json
[{"id":"1fae24d8.376d0b","type":"link in","z":"56a9ddfc.0001f4","name":"BRIDGE DATA RESPONSE IN","links":[],"x":1835,"y":1120,"wires":[["af584bd.98025b8","c10faa54.9696d8","acc755de.112928"]]},{"id":"af584bd.98025b8","type":"switch","z":"56a9ddfc.0001f4","name":"","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"room","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2010,"y":1080,"wires":[["925b094a.87dce8"]]},{"id":"998f9d1a.0ee01","type":"inject","z":"56a9ddfc.0001f4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2000,"y":1200,"wires":[["e4c62150.59774"]]},{"id":"e4c62150.59774","type":"change","z":"56a9ddfc.0001f4","name":"flow.rooms output","rules":[{"t":"set","p":"payload","pt":"msg","to":"rooms","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2530,"y":1200,"wires":[["68322a54.8a2514"]]},{"id":"d390287a.0bcb58","type":"change","z":"56a9ddfc.0001f4","name":"","rules":[{"t":"set","p":"#:(memory)::rooms","pt":"flow","to":"keys","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2530,"y":1040,"wires":[[]]},{"id":"925b094a.87dce8","type":"function","z":"56a9ddfc.0001f4","name":"Room Name and ID","func":"var response = [];\nvar roomkeys = {};\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"name\": item.metadata.name,\n        \"id\": item.id,\n        \"rid\": item.services[0].rid,\n        \"rtype\": item.services[0].rtype\n    };\n    roomkeys[item.id] = item.metadata.name;\n    response.push(pair);\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"rooms name/rid\",\n    \"keys\": roomkeys\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2520,"y":1080,"wires":[["68322a54.8a2514","d390287a.0bcb58"]]},{"id":"68322a54.8a2514","type":"debug","z":"56a9ddfc.0001f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2830,"y":1140,"wires":[]},{"id":"831626f3.7bdb58","type":"function","z":"56a9ddfc.0001f4","name":"Scene Name, ID, Room Name","func":"var response = [];\nvar rooms = flow.get(\"rooms\") || {};\nvar size = Object.keys(rooms).length;\nif(size <= 0) {\n    node.error(\"Please Update Rooms First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"name\": item.metadata.name,\n        \"id\": item.id,\n        // \"rid\": item.group.rid,\n        // \"rtype\": item.group.rtype,\n        \"room-name\": rooms[item.group.rid]\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Scene name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2490,"y":1120,"wires":[["68322a54.8a2514"]]},{"id":"c10faa54.9696d8","type":"switch","z":"56a9ddfc.0001f4","name":"","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"scene","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2010,"y":1120,"wires":[["831626f3.7bdb58"]]},{"id":"acc755de.112928","type":"switch","z":"56a9ddfc.0001f4","name":"","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"light","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2010,"y":1160,"wires":[["c4b95953.1e66c8"]]},{"id":"c4b95953.1e66c8","type":"function","z":"56a9ddfc.0001f4","name":"Light Name, ID, Abilities","func":"var response = [];\nvar rooms = flow.get(\"rooms\") || {};\nvar size = Object.keys(rooms).length;\nif(size <= 0) {\n    node.error(\"Please Update Rooms First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"name\": item.metadata.name,\n        \"type\": item.metadata.archetype,\n        \"id\": item.id,\n        \"color\": item.hasOwnProperty(\"color\") ? true : false,\n        \"temp\": item.hasOwnProperty(\"color_temperature\") ? true : false\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Scene name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2510,"y":1160,"wires":[["68322a54.8a2514"]]},{"id":"b9905ba4.2335e8","type":"comment","z":"56a9ddfc.0001f4","name":"\"Helper Functions for RID / ID discovery\" (made by user marc-gist)","info":"","x":2160,"y":1040,"wires":[]},{"id":"4433b152.6029d","type":"comment","z":"56a9ddfc.0001f4","name":"This helps you to discover the ID / RID for Scenes / lights / grouped_light","info":"","x":2180,"y":1240,"wires":[]},{"id":"b272fad8.683298","type":"comment","z":"56a9ddfc.0001f4","name":"link to \"https request HUE API V2\" http Node","info":"","x":1630,"y":1120,"wires":[]}]
