HUE API V2 HTTP REQUEST.json
[{"id":"313c0097.f1216","type":"subflow","name":"HUE - Motion Sensor Event Filter","info":"","category":"","in":[{"x":380,"y":280,"wires":[{"id":"f00de543.b72668"}]}],"out":[{"x":960,"y":200,"wires":[{"id":"6bf15156.15b6f","port":0}]},{"x":960,"y":280,"wires":[{"id":"6bf15156.15b6f","port":0},{"id":"26f8a17a.e1b86e","port":0}]},{"x":960,"y":360,"wires":[{"id":"26f8a17a.e1b86e","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f00de543.b72668","type":"switch","z":"313c0097.f1216","name":"payload.data.0.motion.motion","property":"payload.data.0.motion.motion","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":280,"wires":[["6bf15156.15b6f"],["26f8a17a.e1b86e"]]},{"id":"6bf15156.15b6f","type":"change","z":"313c0097.f1216","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":240,"wires":[[]]},{"id":"26f8a17a.e1b86e","type":"change","z":"313c0097.f1216","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":320,"wires":[[]]},{"id":"94e24bce.4cf888","type":"comment","z":"313c0097.f1216","name":"PLEASE READ - DOUBLE CLICK","info":"Output 1:\nWill send just an **true** when Motion is detected\n\nOutput 2:\nWill send an **true** when Motion is detected and a **false** if no motion is detected any longer.\n\nOutput 3:\nWill send just an **false** when no Motion is detected any longer.\n\n\n-----------------------\nAll outputs are boolean\n-----------------------\n\nMost easy Subflow, but convinient when lots of sensors need to be set up.","x":580,"y":240,"wires":[]},{"id":"3c1e2a8e.9361c6","type":"comment","z":"313c0097.f1216","name":"motion true","info":"","x":1060,"y":200,"wires":[]},{"id":"dad8bfd3.3e71d","type":"comment","z":"313c0097.f1216","name":"motion false","info":"","x":1070,"y":360,"wires":[]},{"id":"ed505a4f.d8e6d8","type":"comment","z":"313c0097.f1216","name":"motion true / false","info":"","x":1090,"y":280,"wires":[]},{"id":"9871853c.daca88","type":"subflow","name":"HUE light / grouped_light Event Filter","info":"","category":"","in":[{"x":240,"y":320,"wires":[{"id":"723824.285ab7dc"}]}],"out":[{"x":940,"y":240,"wires":[{"id":"1d399dd5.f0d092","port":0}]},{"x":940,"y":320,"wires":[{"id":"1d399dd5.f0d092","port":0},{"id":"6f59fcc3.9545d4","port":0}]},{"x":940,"y":400,"wires":[{"id":"6f59fcc3.9545d4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"6fcf6632.eb3b78","type":"rbe","z":"9871853c.daca88","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":670,"y":240,"wires":[["1d399dd5.f0d092"]]},{"id":"1d399dd5.f0d092","type":"switch","z":"9871853c.daca88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":240,"wires":[[]]},{"id":"ba3a5791.deefb8","type":"change","z":"9871853c.daca88","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":200,"wires":[["5be5f9fa.70da28"]]},{"id":"5be5f9fa.70da28","type":"delay","z":"9871853c.daca88","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":200,"wires":[["6fcf6632.eb3b78"]]},{"id":"92e430e6.e4f8b","type":"change","z":"9871853c.daca88","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":280,"wires":[["6fcf6632.eb3b78"]]},{"id":"5283cb37.b24944","type":"delay","z":"9871853c.daca88","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":440,"wires":[["3629d7ed.666e58"]]},{"id":"3629d7ed.666e58","type":"rbe","z":"9871853c.daca88","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":670,"y":400,"wires":[["6f59fcc3.9545d4"]]},{"id":"70641e2a.2bfd3","type":"change","z":"9871853c.daca88","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":360,"wires":[["3629d7ed.666e58"]]},{"id":"7ebfaa72.65c164","type":"change","z":"9871853c.daca88","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":440,"wires":[["5283cb37.b24944"]]},{"id":"6f59fcc3.9545d4","type":"switch","z":"9871853c.daca88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":400,"wires":[[]]},{"id":"723824.285ab7dc","type":"switch","z":"9871853c.daca88","name":"payload.data.0.on.on","property":"payload.data.0.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":320,"wires":[["92e430e6.e4f8b","ba3a5791.deefb8"],["70641e2a.2bfd3","7ebfaa72.65c164"]]},{"id":"a4b25151.70038","type":"comment","z":"9871853c.daca88","name":"On","info":"","x":1030,"y":240,"wires":[]},{"id":"106e5c42.6b47d4","type":"comment","z":"9871853c.daca88","name":"On / Off","info":"","x":1030,"y":320,"wires":[]},{"id":"a4bc314c.bdd96","type":"comment","z":"9871853c.daca88","name":"Off","info":"","x":1030,"y":400,"wires":[]},{"id":"d04780f0.0c9b4","type":"comment","z":"9871853c.daca88","name":"PLEASE READ - DOUBLE CLICK","info":"Output 1:\nThis output will send a **true** when Lights or Groups are turned on.\n\nOutput 2:\nThis output will send a **true** when Lights or Groups are turned on AND a **false** when Lights or Groups are turned off.\n\nOutput 3:\nThis output will send a **false** when Lights or Groups are turned off\n\n\n\nDepending on your Situation it can be useful just to have a **true** OR **false** OR **both** states in your Flow. Thats the reason i built this Subflow.\nJust use the Output that makes you happy :)\n\n\n-----------------------\nAll outputs are boolean \n-----------------------\n\n\nThe delays will reset the RBE nodes.\nYou can adjust the times for your needs, but this worked for me prefectly.","x":360,"y":280,"wires":[]},{"id":"8bf70583.ef9238","type":"subflow","name":"HUE Button Event Filter","info":"","category":"","in":[{"x":220,"y":440,"wires":[{"id":"31eb8fe1.8937e"}]}],"out":[{"x":1060,"y":180,"wires":[{"id":"edeaaab6.47f6b8","port":0}]},{"x":1060,"y":380,"wires":[{"id":"2877a094.1bfd2","port":0}]},{"x":1060,"y":540,"wires":[{"id":"247f63db.3b6bec","port":0}]},{"x":1060,"y":700,"wires":[{"id":"a1e66691.7ceb58","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3d0704f5.dd228c","type":"rbe","z":"8bf70583.ef9238","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":810,"y":180,"wires":[["edeaaab6.47f6b8"]]},{"id":"edeaaab6.47f6b8","type":"switch","z":"8bf70583.ef9238","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":180,"wires":[[]]},{"id":"9708f490.335c08","type":"change","z":"8bf70583.ef9238","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":140,"wires":[["3e3b648a.73d45c"]]},{"id":"3e3b648a.73d45c","type":"delay","z":"8bf70583.ef9238","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":140,"wires":[["3d0704f5.dd228c"]]},{"id":"19dcf962.c49ee7","type":"change","z":"8bf70583.ef9238","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":220,"wires":[["3d0704f5.dd228c"]]},{"id":"e26ac54.741de38","type":"delay","z":"8bf70583.ef9238","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":660,"wires":[["f42b27c7.aec6e8"]]},{"id":"f42b27c7.aec6e8","type":"rbe","z":"8bf70583.ef9238","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":810,"y":700,"wires":[["a1e66691.7ceb58"]]},{"id":"893962e6.dfef3","type":"change","z":"8bf70583.ef9238","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":660,"wires":[["e26ac54.741de38"]]},{"id":"6050183b.247748","type":"change","z":"8bf70583.ef9238","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":740,"wires":[["f42b27c7.aec6e8"]]},{"id":"a1e66691.7ceb58","type":"switch","z":"8bf70583.ef9238","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":700,"wires":[[]]},{"id":"31eb8fe1.8937e","type":"switch","z":"8bf70583.ef9238","name":"payload.data.0.button.last_event","property":"payload.data.0.button.last_event","propertyType":"msg","rules":[{"t":"cont","v":"initial_press","vt":"str"},{"t":"cont","v":"short_release","vt":"str"},{"t":"cont","v":"repeat","vt":"str"},{"t":"cont","v":"long_release","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":440,"wires":[["9708f490.335c08","19dcf962.c49ee7"],["679ac041.b2df1","7433abf6.09ddf4"],["247f63db.3b6bec"],["6050183b.247748","893962e6.dfef3"]]},{"id":"a6fb44fa.0022c8","type":"rbe","z":"8bf70583.ef9238","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":810,"y":380,"wires":[["2877a094.1bfd2"]]},{"id":"2877a094.1bfd2","type":"switch","z":"8bf70583.ef9238","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":380,"wires":[[]]},{"id":"7433abf6.09ddf4","type":"change","z":"8bf70583.ef9238","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":340,"wires":[["332474df.8d7e8c"]]},{"id":"332474df.8d7e8c","type":"delay","z":"8bf70583.ef9238","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":340,"wires":[["a6fb44fa.0022c8"]]},{"id":"679ac041.b2df1","type":"change","z":"8bf70583.ef9238","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":420,"wires":[["a6fb44fa.0022c8"]]},{"id":"16add84e.450c68","type":"comment","z":"8bf70583.ef9238","name":"initial_press","info":"","x":830,"y":100,"wires":[]},{"id":"aa7b7a9.a1fcb88","type":"comment","z":"8bf70583.ef9238","name":"short_release","info":"","x":830,"y":300,"wires":[]},{"id":"f89c218f.ba5","type":"comment","z":"8bf70583.ef9238","name":"long_release","info":"","x":830,"y":620,"wires":[]},{"id":"247f63db.3b6bec","type":"change","z":"8bf70583.ef9238","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":540,"wires":[[]]},{"id":"a77ccfd7.e13c7","type":"comment","z":"8bf70583.ef9238","name":"repeat","info":"","x":810,"y":500,"wires":[]},{"id":"903773e6.932ce","type":"comment","z":"8bf70583.ef9238","name":"PLEASE READ - DOUBLE CLICK","info":"Output 1:\nThe **initial_press** comes ALWAYS directly after you push the Button. Quickest response possible!\n\nOutput 2:\nThe **short_release** will just appear after the **initial_press**, when you pushed the Button quick.\n\nOutput 3:\nThe **repeat** will appear if you hold the button, and will send a message every second until you release it.\n\nOutput 4:\nThe **long_release** will appear after the **repeat** ENDED!\n\n\n--------------------------------\nAll outputs are boolean **true**\n--------------------------------\n\n\nThe delays will reset the RBE node with a false.\nYou can adjust the times for your needs, but this worked for me prefectly.","x":440,"y":380,"wires":[]},{"id":"c4bb6fdc.f0e168","type":"tab","label":"HUE API V2 CONTROL","disabled":false,"info":""},{"id":"542044db.e0494c","type":"subflow:8bf70583.ef9238","z":"c4bb6fdc.f0e168","name":"","env":[],"x":2100,"y":1300,"wires":[["d5969d46.b7d7d"],["203ce51a.297d2a"],["a6e714a6.f34528"],["506de5ae.1c40bc"]]},{"id":"f67c4a86.468268","type":"subflow:9871853c.daca88","z":"c4bb6fdc.f0e168","name":"","x":2060,"y":1640,"wires":[["93f6fb8a.e805d8"],["30079851.1d8dd8"],["8d03be5e.58152"]]},{"id":"f741faee.58c1b8","type":"subflow:313c0097.f1216","z":"c4bb6fdc.f0e168","name":"","x":2070,"y":1480,"wires":[["6d556138.52817"],["84274d72.bb878"],["e54a3a18.8b7b48"]]},{"id":"fab217c8.96d878","type":"change","z":"c4bb6fdc.f0e168","name":"Motion Sensor DISABLED","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"motion","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"replace with discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"enabled\":false}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":700,"wires":[["28479d18.a9fd52"]]},{"id":"1ef46de9.cb0d72","type":"change","z":"c4bb6fdc.f0e168","name":"Motion Sensor ENABLED","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"motion","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"replace with discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"enabled\":true}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":660,"wires":[["28479d18.a9fd52"]]},{"id":"28479d18.a9fd52","type":"function","z":"c4bb6fdc.f0e168","name":"HUE API V2","func":"\n// you can copy the user key from the hue config node out of Huemagic\nvar user = \"Your Secret Key here\";\n\n\nif(msg.endpoint === undefined)\n msg.url = \"https://YOUR IP HERE/clip/v2/resource\";\nelse if(msg.topic === undefined)\n msg.url = \"https://YOUR IP HERE/clip/v2/resource/\" + msg.endpoint;\nelse\n msg.url = \"https://YOUR IP HERE/clip/v2/resource/\" + msg.endpoint + \"/\" + msg.topic;\n\n\nmsg.headers = {};\n\nmsg.headers['hue-application-key'] = user;\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\n\nif(msg.payload != undefined)\n msg.headers['ContentLength'] = JSON.stringify(msg.payload).length;\n\nif(msg.verb === undefined)\n msg.method = \"get\";\nelse\n msg.method = msg.verb;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":840,"wires":[["61b1da05.3994d4"]]},{"id":"61b1da05.3994d4","type":"http request","z":"c4bb6fdc.f0e168","name":"https request HUE API V2","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"4bc31af9bd03bbdc","persist":false,"proxy":"","authType":"","x":1510,"y":840,"wires":[["7170909b.6ac39"]]},{"id":"1fc385fd.cb519a","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":700,"wires":[["fab217c8.96d878"]]},{"id":"55096a33.157e54","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":660,"wires":[["1ef46de9.cb0d72"]]},{"id":"7170909b.6ac39","type":"debug","z":"c4bb6fdc.f0e168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1730,"y":840,"wires":[]},{"id":"c4db4d3e.53d79","type":"link in","z":"c4bb6fdc.f0e168","name":"Motion Sensor ***Name*** On","links":[],"x":495,"y":660,"wires":[["1ef46de9.cb0d72"]]},{"id":"3c82806e.7e3c6","type":"link in","z":"c4bb6fdc.f0e168","name":"Motion Sensor ***Name*** Off","links":[],"x":495,"y":700,"wires":[["fab217c8.96d878"]]},{"id":"21e0d5d6.c3775a","type":"comment","z":"c4bb6fdc.f0e168","name":"Motion Sensor ENABLED / DISABLED","info":"","x":710,"y":620,"wires":[]},{"id":"6eab8efe.73985","type":"comment","z":"c4bb6fdc.f0e168","name":"Add your Informations in this Node!","info":"","x":1200,"y":800,"wires":[]},{"id":"6ad7f691.19f098","type":"change","z":"c4bb6fdc.f0e168","name":"Recall a Scene","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"scene","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"replace with discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"recall\":{\"action\":\"active\"}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":780,"wires":[["28479d18.a9fd52"]],"icon":"font-awesome/fa-star"},{"id":"489fb838.d29408","type":"change","z":"c4bb6fdc.f0e168","name":"Group or Zone off","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"replace with discovered !!!>> RID <<!!!","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":false}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":840,"wires":[["28479d18.a9fd52"]]},{"id":"74836e4.1d4919","type":"change","z":"c4bb6fdc.f0e168","name":"Light on 100% (previous color)","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"replace with discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":900,"wires":[["28479d18.a9fd52"]]},{"id":"3b4332e9.edf47e","type":"change","z":"c4bb6fdc.f0e168","name":"Light off","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"replace with discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":false}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":940,"wires":[["28479d18.a9fd52"]]},{"id":"83b96f7f.e1318","type":"change","z":"c4bb6fdc.f0e168","name":"Light on (orange color)","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"replace with discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":35},\"dynamics\":{\"duration\":1000},\"color\":{\"xy\":{\"x\":0.6101,\"y\":0.3662}}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1040,"wires":[["28479d18.a9fd52"]]},{"id":"3ebd8de5.96fa52","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":1040,"wires":[["83b96f7f.e1318"]]},{"id":"d051081f.d8c478","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":900,"wires":[["74836e4.1d4919"]]},{"id":"8828ecce.0013f","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":940,"wires":[["3b4332e9.edf47e"]]},{"id":"45463541.59d6cc","type":"debug","z":"c4bb6fdc.f0e168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1640,"wires":[]},{"id":"17600a80.ccd726","type":"inject","z":"c4bb6fdc.f0e168","name":"Get all lights","props":[{"p":"endpoint","v":"light","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":330,"y":1360,"wires":[["73ffbd1d.3bdee4"]]},{"id":"202d82b6.12dd3e","type":"debug","z":"c4bb6fdc.f0e168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1520,"wires":[]},{"id":"50aca4d0.71c2ac","type":"inject","z":"c4bb6fdc.f0e168","name":"Get all scenes","props":[{"p":"endpoint","v":"scene","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":330,"y":1320,"wires":[["73ffbd1d.3bdee4"]]},{"id":"858573ea.83561","type":"inject","z":"c4bb6fdc.f0e168","name":"Get all rooms","props":[{"p":"endpoint","v":"room","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":330,"y":1400,"wires":[["73ffbd1d.3bdee4"]]},{"id":"1ad2ada0.db4d62","type":"inject","z":"c4bb6fdc.f0e168","name":"Get all zones","props":[{"p":"endpoint","v":"zone","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":330,"y":1440,"wires":[["73ffbd1d.3bdee4"]]},{"id":"cb17951d.5d9408","type":"inject","z":"c4bb6fdc.f0e168","name":"Get All","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":350,"y":1200,"wires":[["73ffbd1d.3bdee4"]]},{"id":"d0e2ca89.77d138","type":"comment","z":"c4bb6fdc.f0e168","name":"Bridge Data","info":"","x":330,"y":1160,"wires":[]},{"id":"28aa9267.96d5de","type":"comment","z":"c4bb6fdc.f0e168","name":"HUE Clip API V2","info":"","x":1200,"y":1520,"wires":[]},{"id":"9bed1cc7.ae82e","type":"http request","z":"c4bb6fdc.f0e168","name":"https request HUE API V2","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"4bc31af9bd03bbdc","persist":false,"proxy":"","authType":"","x":950,"y":1520,"wires":[["202d82b6.12dd3e"]]},{"id":"6c8085c0.2224ac","type":"inject","z":"c4bb6fdc.f0e168","name":"Motion","props":[{"p":"endpoint","v":"motion","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":350,"y":1280,"wires":[["73ffbd1d.3bdee4"]]},{"id":"2a5b2dbb.4343a2","type":"inject","z":"c4bb6fdc.f0e168","name":"Button","props":[{"p":"endpoint","v":"button ","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":350,"y":1240,"wires":[["73ffbd1d.3bdee4"]]},{"id":"8024ab8e.7e1d28","type":"inject","z":"c4bb6fdc.f0e168","name":"Bridge Home","props":[{"p":"endpoint","v":"bridge_home","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":330,"y":1480,"wires":[["73ffbd1d.3bdee4"]]},{"id":"48eea3c5.d9f32c","type":"inject","z":"c4bb6fdc.f0e168","name":"Device Power","props":[{"p":"endpoint","v":"device_power","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":320,"y":1520,"wires":[["73ffbd1d.3bdee4"]]},{"id":"b37265d7.cea988","type":"philipshue-events","z":"c4bb6fdc.f0e168","bridge":"","x":320,"y":1640,"wires":[["45463541.59d6cc","153fd0ae.07080f"]]},{"id":"153fd0ae.07080f","type":"link out","z":"c4bb6fdc.f0e168","name":"BRIDGE EVENTSTREAM OUT","links":["306fd2a.930eb2e","fc836ab4.4adae8","a5f7c87b.cd5608"],"x":455,"y":1680,"wires":[]},{"id":"73ffbd1d.3bdee4","type":"function","z":"c4bb6fdc.f0e168","name":"HUE API V2","func":"\n// you can copy the user key from the hue config node out of Huemagic\nvar user = \"Replace with your Secret Key here\";\n\n\nif(msg.endpoint === undefined)\n msg.url = \"https://BRIDGE IP HERE/clip/v2/resource\";\nelse if(msg.topic === undefined)\n msg.url = \"https://BRIDGE IP HERE/clip/v2/resource/\" + msg.endpoint;\nelse\n msg.url = \"https://BRIDGE IP HERE/clip/v2/resource/\" + msg.endpoint + \"/\" + msg.topic;\n\n\nmsg.headers = {};\n\nmsg.headers['hue-application-key'] = user;\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\n\nif(msg.payload != undefined)\n msg.headers['ContentLength'] = JSON.stringify(msg.payload).length;\n\nif(msg.verb === undefined)\n msg.method = \"get\";\nelse\n msg.method = msg.verb;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":1520,"wires":[["9bed1cc7.ae82e"]]},{"id":"96e2091a.f93d68","type":"comment","z":"c4bb6fdc.f0e168","name":"Event Stream from the Bridge","info":"","x":1160,"y":1640,"wires":[]},{"id":"da03c596.ce3488","type":"switch","z":"c4bb6fdc.f0e168","name":"Button Event Stream","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"replace with discovered ID of your Button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1780,"y":1300,"wires":[["542044db.e0494c"]]},{"id":"dfe14fa7.fdd5c","type":"comment","z":"c4bb6fdc.f0e168","name":"Bright 35% and Transition","info":"","x":490,"y":1040,"wires":[]},{"id":"5c69d11.fe0113","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":840,"wires":[["489fb838.d29408"]]},{"id":"fc77de87.dfd2c","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":780,"wires":[["6ad7f691.19f098"]]},{"id":"c498de7a.8f293","type":"comment","z":"c4bb6fdc.f0e168","name":"Attention!! RID needed","info":"","x":500,"y":840,"wires":[]},{"id":"c28274c.cac3088","type":"comment","z":"c4bb6fdc.f0e168","name":"Dont touch this Node","info":"","x":1520,"y":800,"wires":[]},{"id":"306fd2a.930eb2e","type":"link in","z":"c4bb6fdc.f0e168","name":"Events  IN","links":["153fd0ae.07080f"],"x":1515,"y":1300,"wires":[["da03c596.ce3488","205605f1.6add4a","f1e06299.d654"]]},{"id":"d5969d46.b7d7d","type":"debug","z":"c4bb6fdc.f0e168","name":"initial","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2310,"y":1240,"wires":[]},{"id":"203ce51a.297d2a","type":"debug","z":"c4bb6fdc.f0e168","name":"short","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2310,"y":1280,"wires":[]},{"id":"a6e714a6.f34528","type":"debug","z":"c4bb6fdc.f0e168","name":"holded","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2310,"y":1320,"wires":[]},{"id":"506de5ae.1c40bc","type":"debug","z":"c4bb6fdc.f0e168","name":"long","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2310,"y":1360,"wires":[]},{"id":"6d556138.52817","type":"debug","z":"c4bb6fdc.f0e168","name":"motion true","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2330,"y":1440,"wires":[]},{"id":"84274d72.bb878","type":"debug","z":"c4bb6fdc.f0e168","name":"motion true + false","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2350,"y":1480,"wires":[]},{"id":"e54a3a18.8b7b48","type":"debug","z":"c4bb6fdc.f0e168","name":"motion false","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2330,"y":1520,"wires":[]},{"id":"205605f1.6add4a","type":"switch","z":"c4bb6fdc.f0e168","name":"Motion Event Stream","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"replace with discovered ID of your Sensor","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1780,"y":1480,"wires":[["f741faee.58c1b8"]]},{"id":"93f6fb8a.e805d8","type":"debug","z":"c4bb6fdc.f0e168","name":"On","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2310,"y":1600,"wires":[]},{"id":"30079851.1d8dd8","type":"debug","z":"c4bb6fdc.f0e168","name":"On / Off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2320,"y":1640,"wires":[]},{"id":"8d03be5e.58152","type":"debug","z":"c4bb6fdc.f0e168","name":"Off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2310,"y":1680,"wires":[]},{"id":"f1e06299.d654","type":"switch","z":"c4bb6fdc.f0e168","name":"light / grouped_light Event Stream","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"replace with discovered ID of Lamp / Group","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1740,"y":1640,"wires":[["f67c4a86.468268"]]},{"id":"90ece993.9fe2a8","type":"comment","z":"c4bb6fdc.f0e168","name":"Get the Events for your Devices filtered","info":"","x":1890,"y":1200,"wires":[]},{"id":"1ac9a491.bd147b","type":"comment","z":"c4bb6fdc.f0e168","name":"Add your Informations in this Node!","info":"","x":680,"y":1480,"wires":[]},{"id":"4ad68635.0d4488","type":"comment","z":"c4bb6fdc.f0e168","name":"Dont touch this Node","info":"","x":960,"y":1480,"wires":[]},{"id":"143d5689.307b09","type":"comment","z":"c4bb6fdc.f0e168","name":"Add your Data here","info":"","x":310,"y":1600,"wires":[]},{"id":"8dd33f7c.a2a28","type":"comment","z":"c4bb6fdc.f0e168","name":"ATTENTION! READ FIRST - DOUBLE CLICK","info":"First you need to add your Data, IP Adress, Secret Key into the Nodes that have an Add Informations Label. Then deploy.\n\n\nALL CHANGE NODES NEED TO BE EDITED WITH \nDISCOVERED ID / RID, do this step by step","x":1070,"y":1220,"wires":[]},{"id":"d869a0be.19017","type":"debug","z":"c4bb6fdc.f0e168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":1180,"wires":[]},{"id":"f0d48a23.562aa8","type":"debug","z":"c4bb6fdc.f0e168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":1260,"wires":[]},{"id":"7d0c9aab.e63c04","type":"debug","z":"c4bb6fdc.f0e168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":1180,"wires":[]},{"id":"97d74034.86555","type":"debug","z":"c4bb6fdc.f0e168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":1260,"wires":[]},{"id":"e5c8801e.40971","type":"debug","z":"c4bb6fdc.f0e168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":1220,"wires":[]},{"id":"a86817b5.477538","type":"debug","z":"c4bb6fdc.f0e168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":1220,"wires":[]},{"id":"941f31a7.b178e","type":"comment","z":"c4bb6fdc.f0e168","name":"Check inside the Subflows for additional Information","info":"","x":1890,"y":1240,"wires":[]},{"id":"4bc31af9bd03bbdc","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]