HUE-CLIP-API_Node-Red-Flows.json
[{"id":"7a14643a.75260c","type":"subflow","name":"Splitter","info":"","category":"","in":[{"x":540,"y":300,"wires":[{"id":"273108cc.4b9928"}]}],"out":[{"x":1140,"y":300,"wires":[{"id":"a7524f72.576f3","port":0},{"id":"3d746554.ddcffa","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"273108cc.4b9928","type":"switch","z":"7a14643a.75260c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"array","vt":"str"},{"t":"eq","v":"split","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":300,"wires":[["3d746554.ddcffa"],["fb18185d.5df9e8"]]},{"id":"a7524f72.576f3","type":"split","z":"7a14643a.75260c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":880,"y":340,"wires":[[]]},{"id":"fb18185d.5df9e8","type":"change","z":"7a14643a.75260c","name":"del topic","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":300,"wires":[["a7524f72.576f3"]]},{"id":"3d746554.ddcffa","type":"change","z":"7a14643a.75260c","name":"del topic","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"parts","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":240,"wires":[[]]},{"id":"79900ab2d31e27fc","type":"subflow","name":"Request Timer (2)","info":"","category":"","in":[{"x":240,"y":180,"wires":[{"id":"5d17373d6b79ba4e"},{"id":"8ccc5785a5699920"}]}],"out":[{"x":840,"y":180,"wires":[{"id":"8ccc5785a5699920","port":0},{"id":"72b850f6c2172853","port":0},{"id":"1f4f65e8c2442c64","port":0},{"id":"1230da69cafee945","port":0},{"id":"57e33d63a8f7c984","port":0},{"id":"172d1796fba03af5","port":0},{"id":"96c50ee7c12c7459","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"5d17373d6b79ba4e","type":"delay","z":"79900ab2d31e27fc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":480,"y":220,"wires":[["72b850f6c2172853","4c7c2ac56e8ff2c9"]]},{"id":"4c7c2ac56e8ff2c9","type":"delay","z":"79900ab2d31e27fc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":480,"y":260,"wires":[["1f4f65e8c2442c64","ecb4bc87d09f0df3"]]},{"id":"8ccc5785a5699920","type":"change","z":"79900ab2d31e27fc","name":"room","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"room","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":180,"wires":[[]]},{"id":"72b850f6c2172853","type":"change","z":"79900ab2d31e27fc","name":"zone","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"zone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":220,"wires":[[]]},{"id":"1f4f65e8c2442c64","type":"change","z":"79900ab2d31e27fc","name":"scene","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"scene","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":260,"wires":[[]]},{"id":"ecb4bc87d09f0df3","type":"delay","z":"79900ab2d31e27fc","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":480,"y":300,"wires":[["57e33d63a8f7c984","c288ea595bc46717"]]},{"id":"57e33d63a8f7c984","type":"change","z":"79900ab2d31e27fc","name":"device","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"device","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[[]]},{"id":"1230da69cafee945","type":"change","z":"79900ab2d31e27fc","name":"motion","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":340,"wires":[[]]},{"id":"c288ea595bc46717","type":"delay","z":"79900ab2d31e27fc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":480,"y":340,"wires":[["1230da69cafee945","ffc6c7fe7b91d8b4"]]},{"id":"172d1796fba03af5","type":"change","z":"79900ab2d31e27fc","name":"button","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"button","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":380,"wires":[[]]},{"id":"96c50ee7c12c7459","type":"change","z":"79900ab2d31e27fc","name":"light","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":420,"wires":[[]]},{"id":"ffc6c7fe7b91d8b4","type":"delay","z":"79900ab2d31e27fc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":480,"y":380,"wires":[["172d1796fba03af5","07e023095ae064b2"]]},{"id":"07e023095ae064b2","type":"delay","z":"79900ab2d31e27fc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":480,"y":420,"wires":[["96c50ee7c12c7459"]]},{"id":"aff9cdb5.1ba04","type":"subflow","name":"Scenes Room / Zones","info":"","category":"","in":[{"x":660,"y":340,"wires":[{"id":"d783c4a0.a134f8"},{"id":"b2fff99f.0b7af8"}]}],"out":[{"x":1260,"y":300,"wires":[{"id":"fb43fcd6.f6b8c","port":0}]},{"x":1260,"y":380,"wires":[{"id":"c17682ee.48568","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b2fff99f.0b7af8","type":"split","z":"aff9cdb5.1ba04","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":840,"y":380,"wires":[["48dc6c9.51e3694"]]},{"id":"48dc6c9.51e3694","type":"switch","z":"aff9cdb5.1ba04","name":"","property":"payload.zone-name","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":380,"wires":[["c17682ee.48568"]]},{"id":"c17682ee.48568","type":"join","z":"aff9cdb5.1ba04","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1130,"y":380,"wires":[[]]},{"id":"a1aefb6a.38dee8","type":"switch","z":"aff9cdb5.1ba04","name":"","property":"payload.room-name","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":300,"wires":[["fb43fcd6.f6b8c"]]},{"id":"fb43fcd6.f6b8c","type":"join","z":"aff9cdb5.1ba04","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1130,"y":300,"wires":[[]]},{"id":"d783c4a0.a134f8","type":"split","z":"aff9cdb5.1ba04","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":840,"y":300,"wires":[["a1aefb6a.38dee8"]]},{"id":"4c3d3acf.2f8024","type":"subflow","name":"HUE - Motion Sensor Event Filter","info":"","category":"","in":[{"x":380,"y":280,"wires":[{"id":"141a3bcf.ada954"}]}],"out":[{"x":960,"y":200,"wires":[{"id":"803a4d3.1397db","port":0}]},{"x":960,"y":280,"wires":[{"id":"803a4d3.1397db","port":0},{"id":"9d94cd03.7d235","port":0}]},{"x":960,"y":360,"wires":[{"id":"9d94cd03.7d235","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"141a3bcf.ada954","type":"switch","z":"4c3d3acf.2f8024","name":"payload.data.0.motion.motion","property":"payload.data.0.motion.motion","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":280,"wires":[["803a4d3.1397db"],["9d94cd03.7d235"]]},{"id":"803a4d3.1397db","type":"change","z":"4c3d3acf.2f8024","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":240,"wires":[[]]},{"id":"9d94cd03.7d235","type":"change","z":"4c3d3acf.2f8024","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":320,"wires":[[]]},{"id":"8e15a437.76f868","type":"comment","z":"4c3d3acf.2f8024","name":"PLEASE READ - DOUBLE CLICK","info":"Output 1:\nWill send just an **true** when Motion is detected\n\nOutput 2:\nWill send an **true** when Motion is detected and a **false** if no motion is detected any longer.\n\nOutput 3:\nWill send just an **false** when no Motion is detected any longer.\n\n\n-----------------------\nAll outputs are boolean\n-----------------------\n\nMost easy Subflow, but convinient when lots of sensors need to be set up.","x":580,"y":240,"wires":[]},{"id":"53cefa81.4b65a4","type":"comment","z":"4c3d3acf.2f8024","name":"motion true","info":"","x":1060,"y":200,"wires":[]},{"id":"223ce200.ad667e","type":"comment","z":"4c3d3acf.2f8024","name":"motion false","info":"","x":1070,"y":360,"wires":[]},{"id":"83e117e4.a287b8","type":"comment","z":"4c3d3acf.2f8024","name":"motion true / false","info":"","x":1090,"y":280,"wires":[]},{"id":"6c37d014b4cffa2b","type":"subflow","name":"HUE light / grouped_light Event Filter (2)","info":"","category":"","in":[{"x":240,"y":320,"wires":[{"id":"091863c1fcdd8b66"}]}],"out":[{"x":940,"y":240,"wires":[{"id":"8602e887c92d2ccd","port":0}]},{"x":940,"y":320,"wires":[{"id":"8602e887c92d2ccd","port":0},{"id":"967617231466ad2a","port":0}]},{"x":940,"y":400,"wires":[{"id":"967617231466ad2a","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f8b293e92df003af","type":"rbe","z":"6c37d014b4cffa2b","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":670,"y":240,"wires":[["8602e887c92d2ccd"]]},{"id":"8602e887c92d2ccd","type":"switch","z":"6c37d014b4cffa2b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":240,"wires":[[]]},{"id":"c3230a3c40b90ab0","type":"change","z":"6c37d014b4cffa2b","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":200,"wires":[["77761193492c5560"]]},{"id":"77761193492c5560","type":"delay","z":"6c37d014b4cffa2b","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":790,"y":200,"wires":[["f8b293e92df003af"]]},{"id":"e03c94ed7add528b","type":"change","z":"6c37d014b4cffa2b","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":280,"wires":[["f8b293e92df003af"]]},{"id":"a59b562d9c22c386","type":"delay","z":"6c37d014b4cffa2b","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":790,"y":440,"wires":[["cdf7fae3276b4a2f"]]},{"id":"cdf7fae3276b4a2f","type":"rbe","z":"6c37d014b4cffa2b","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":670,"y":400,"wires":[["967617231466ad2a"]]},{"id":"bacff479c723abd4","type":"change","z":"6c37d014b4cffa2b","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":360,"wires":[["cdf7fae3276b4a2f"]]},{"id":"5efd97b42fd5ac33","type":"change","z":"6c37d014b4cffa2b","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":440,"wires":[["a59b562d9c22c386"]]},{"id":"967617231466ad2a","type":"switch","z":"6c37d014b4cffa2b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":400,"wires":[[]]},{"id":"091863c1fcdd8b66","type":"switch","z":"6c37d014b4cffa2b","name":"payload.data.0.on.on","property":"payload.data.0.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":320,"wires":[["e03c94ed7add528b","c3230a3c40b90ab0"],["bacff479c723abd4","5efd97b42fd5ac33"]]},{"id":"daddd70e7fdf15e1","type":"comment","z":"6c37d014b4cffa2b","name":"On","info":"","x":1030,"y":240,"wires":[]},{"id":"10e2a42f226df840","type":"comment","z":"6c37d014b4cffa2b","name":"On / Off","info":"","x":1030,"y":320,"wires":[]},{"id":"5e8f897e37ba9f0f","type":"comment","z":"6c37d014b4cffa2b","name":"Off","info":"","x":1030,"y":400,"wires":[]},{"id":"a16a7325ce52b505","type":"comment","z":"6c37d014b4cffa2b","name":"PLEASE READ - DOUBLE CLICK","info":"Output 1:\nThis output will send a **true** when Lights or Groups are turned on.\n\nOutput 2:\nThis output will send a **true** when Lights or Groups are turned on AND a **false** when Lights or Groups are turned off.\n\nOutput 3:\nThis output will send a **false** when Lights or Groups are turned off\n\n\n\nDepending on your Situation it can be useful just to have a **true** OR **false** OR **both** states in your Flow. Thats the reason i built this Subflow.\nJust use the Output that makes you happy :)\n\n\n-----------------------\nAll outputs are boolean \n-----------------------\n\n\nThe delays will reset the RBE nodes.\nYou can adjust the times for your needs, but this worked for me prefectly.","x":360,"y":280,"wires":[]},{"id":"629d5d52fd661d6c","type":"subflow","name":"HUE Button Event Filter (2)","info":"","category":"","in":[{"x":220,"y":440,"wires":[{"id":"4b466d1f2321d107"}]}],"out":[{"x":1060,"y":180,"wires":[{"id":"74c87e85d9e38882","port":0}]},{"x":1060,"y":380,"wires":[{"id":"0acf2998596b830e","port":0}]},{"x":1060,"y":540,"wires":[{"id":"13239928c6114c6d","port":0}]},{"x":1060,"y":700,"wires":[{"id":"ef72c55fbc8474ef","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3e2f72eaef634e13","type":"rbe","z":"629d5d52fd661d6c","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":810,"y":180,"wires":[["74c87e85d9e38882"]]},{"id":"74c87e85d9e38882","type":"switch","z":"629d5d52fd661d6c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":180,"wires":[[]]},{"id":"321a4b76cb241767","type":"change","z":"629d5d52fd661d6c","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":140,"wires":[["7bdac9648825a32e"]]},{"id":"7bdac9648825a32e","type":"delay","z":"629d5d52fd661d6c","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":930,"y":140,"wires":[["3e2f72eaef634e13"]]},{"id":"d14a88e41a5738e6","type":"change","z":"629d5d52fd661d6c","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":220,"wires":[["3e2f72eaef634e13"]]},{"id":"c21e5d8bea37b84d","type":"delay","z":"629d5d52fd661d6c","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":930,"y":660,"wires":[["c4d0cd945043ce4d"]]},{"id":"c4d0cd945043ce4d","type":"rbe","z":"629d5d52fd661d6c","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":810,"y":700,"wires":[["ef72c55fbc8474ef"]]},{"id":"946d0172c4ee2b68","type":"change","z":"629d5d52fd661d6c","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":660,"wires":[["c21e5d8bea37b84d"]]},{"id":"2cd5027d630d1bc7","type":"change","z":"629d5d52fd661d6c","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":740,"wires":[["c4d0cd945043ce4d"]]},{"id":"ef72c55fbc8474ef","type":"switch","z":"629d5d52fd661d6c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":700,"wires":[[]]},{"id":"4b466d1f2321d107","type":"switch","z":"629d5d52fd661d6c","name":"payload.data.0.button.last_event","property":"payload.data.0.button.last_event","propertyType":"msg","rules":[{"t":"cont","v":"initial_press","vt":"str"},{"t":"cont","v":"short_release","vt":"str"},{"t":"cont","v":"repeat","vt":"str"},{"t":"cont","v":"long_release","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":440,"wires":[["321a4b76cb241767","d14a88e41a5738e6"],["e8113a0e4d9c1336","f18a0eeda09f32c1"],["13239928c6114c6d"],["2cd5027d630d1bc7","946d0172c4ee2b68"]]},{"id":"801b6a9d5faaa425","type":"rbe","z":"629d5d52fd661d6c","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":810,"y":380,"wires":[["0acf2998596b830e"]]},{"id":"0acf2998596b830e","type":"switch","z":"629d5d52fd661d6c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":380,"wires":[[]]},{"id":"f18a0eeda09f32c1","type":"change","z":"629d5d52fd661d6c","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":340,"wires":[["8b2b47df4e9c9f0e"]]},{"id":"8b2b47df4e9c9f0e","type":"delay","z":"629d5d52fd661d6c","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":930,"y":340,"wires":[["801b6a9d5faaa425"]]},{"id":"e8113a0e4d9c1336","type":"change","z":"629d5d52fd661d6c","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":420,"wires":[["801b6a9d5faaa425"]]},{"id":"3cd50d65d41cd8c5","type":"comment","z":"629d5d52fd661d6c","name":"initial_press","info":"","x":830,"y":100,"wires":[]},{"id":"46998b13dd0dd379","type":"comment","z":"629d5d52fd661d6c","name":"short_release","info":"","x":830,"y":300,"wires":[]},{"id":"75aaacb794187221","type":"comment","z":"629d5d52fd661d6c","name":"long_release","info":"","x":830,"y":620,"wires":[]},{"id":"13239928c6114c6d","type":"change","z":"629d5d52fd661d6c","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":540,"wires":[[]]},{"id":"0eda0a5d7332d4b9","type":"comment","z":"629d5d52fd661d6c","name":"repeat","info":"","x":810,"y":500,"wires":[]},{"id":"7ecf2e9c9a2a3ee6","type":"comment","z":"629d5d52fd661d6c","name":"PLEASE READ - DOUBLE CLICK","info":"Output 1:\nThe **initial_press** comes ALWAYS directly after you push the Button. Quickest response possible!\n\nOutput 2:\nThe **short_release** will just appear after the **initial_press**, when you pushed the Button quick.\n\nOutput 3:\nThe **repeat** will appear if you hold the button, and will send a message every second until you release it.\n\nOutput 4:\nThe **long_release** will appear after the **repeat** ENDED!\n\n\n--------------------------------\nAll outputs are boolean **true**\n--------------------------------\n\n\nThe delays will reset the RBE node with a false.\nYou can adjust the times for your needs, but this worked for me prefectly.","x":440,"y":380,"wires":[]},{"id":"3cbc9ea1199461d1","type":"tab","label":"HUE API V2 CONTROL","disabled":false,"info":""},{"id":"6bd045699c7b979f","type":"subflow:629d5d52fd661d6c","z":"3cbc9ea1199461d1","name":"","env":[],"x":3060,"y":1720,"wires":[["63880cabbbbb7020"],["b2ec2b3ec4f92864"],["1cd3403b34855588"],["31284e3912d82ecd"]]},{"id":"541e84e1c012a18f","type":"subflow:6c37d014b4cffa2b","z":"3cbc9ea1199461d1","name":"","env":[],"x":3020,"y":2060,"wires":[["98c48ba4b7e4f623"],["e6bdd2c7209026f5"],["a1d4acfc979a470f"]]},{"id":"0fc932780f070a73","type":"subflow:4c3d3acf.2f8024","z":"3cbc9ea1199461d1","name":"","x":3030,"y":1900,"wires":[["36620be0eca680a5"],["bf4be4e74413182e"],["c424952a34c4f69e"]]},{"id":"2ebc36c41a18baa3","type":"inject","z":"3cbc9ea1199461d1","name":"Get all lights","props":[{"p":"endpoint","v":"light","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":310,"y":420,"wires":[["c79945070229b1c9"]]},{"id":"86bab19a78445c8e","type":"debug","z":"3cbc9ea1199461d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":580,"wires":[]},{"id":"7ebce39b98868cfa","type":"inject","z":"3cbc9ea1199461d1","name":"Get all scenes","props":[{"p":"endpoint","v":"scene","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":310,"y":380,"wires":[["c79945070229b1c9"]]},{"id":"f3ac79e7ad3ff896","type":"inject","z":"3cbc9ea1199461d1","name":"Get all rooms","props":[{"p":"endpoint","v":"room","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":310,"y":460,"wires":[["c79945070229b1c9"]]},{"id":"32080362ed05edf7","type":"inject","z":"3cbc9ea1199461d1","name":"Get all zones","props":[{"p":"endpoint","v":"zone","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":310,"y":500,"wires":[["c79945070229b1c9"]]},{"id":"ac861a3395adaff4","type":"inject","z":"3cbc9ea1199461d1","name":"Get All","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":330,"y":260,"wires":[["c79945070229b1c9"]]},{"id":"969c204ae6f52a07","type":"comment","z":"3cbc9ea1199461d1","name":"Bridge Data","info":"","x":270,"y":220,"wires":[]},{"id":"62a5a79b4cebf4ca","type":"comment","z":"3cbc9ea1199461d1","name":"HUE Clip API V2","info":"","x":1180,"y":580,"wires":[]},{"id":"3f3d40455909cdb2","type":"http request","z":"3cbc9ea1199461d1","name":"https request HUE API V2","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"4bc31af9bd03bbdc","persist":false,"proxy":"","authType":"","x":930,"y":580,"wires":[["86bab19a78445c8e","9193bb42a7e83c9b"]]},{"id":"1f2807febe9eb97f","type":"inject","z":"3cbc9ea1199461d1","name":"Motion","props":[{"p":"endpoint","v":"motion","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":330,"y":340,"wires":[["c79945070229b1c9"]]},{"id":"8370274c3e16c922","type":"inject","z":"3cbc9ea1199461d1","name":"Button","props":[{"p":"endpoint","v":"button ","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":330,"y":300,"wires":[["c79945070229b1c9"]]},{"id":"62f68e467288eb5e","type":"inject","z":"3cbc9ea1199461d1","name":"Bridge Home","props":[{"p":"endpoint","v":"bridge_home","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":310,"y":540,"wires":[["c79945070229b1c9"]]},{"id":"c4a4fa629cfc1d12","type":"inject","z":"3cbc9ea1199461d1","name":"Device Power","props":[{"p":"endpoint","v":"device_power","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":300,"y":580,"wires":[["c79945070229b1c9"]]},{"id":"0ceafe8dd0ba611a","type":"philipshue-events","z":"3cbc9ea1199461d1","d":true,"bridge":"","x":300,"y":800,"wires":[["795854199f99d676"]]},{"id":"c79945070229b1c9","type":"function","z":"3cbc9ea1199461d1","name":"HUE API V2","func":"\n// you can copy the user key from the hue config node out of Huemagic\nvar user = \"Replace with your Secret Key here\";\n\n\nif(msg.endpoint === undefined)\n msg.url = \"https://BRIDGE IP HERE/clip/v2/resource\";\nelse if(msg.topic === undefined)\n msg.url = \"https://BRIDGE IP HERE/clip/v2/resource/\" + msg.endpoint;\nelse\n msg.url = \"https://BRIDGE IP HERE/clip/v2/resource/\" + msg.endpoint + \"/\" + msg.topic;\n\n\nmsg.headers = {};\n\nmsg.headers['hue-application-key'] = user;\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\n\nif(msg.payload != undefined)\n msg.headers['ContentLength'] = JSON.stringify(msg.payload).length;\n\nif(msg.verb === undefined)\n msg.method = \"get\";\nelse\n msg.method = msg.verb;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":580,"wires":[["3f3d40455909cdb2"]]},{"id":"a9e607ca43fae87d","type":"comment","z":"3cbc9ea1199461d1","name":"Event Stream from the Bridge","info":"","x":1160,"y":760,"wires":[]},{"id":"e0dca2efda38627b","type":"switch","z":"3cbc9ea1199461d1","name":"Button Event Stream","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"replace with discovered ID of your Button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2610,"y":1720,"wires":[["6bd045699c7b979f"]]},{"id":"2d9ea9fd332df0d1","type":"link in","z":"3cbc9ea1199461d1","name":"Events  IN","links":["056c47f53a58391d","9fbb179d8c718cf0"],"x":2345,"y":1900,"wires":[["e0dca2efda38627b","619c1c6820dbc038","c29b04879f7f996f"]]},{"id":"63880cabbbbb7020","type":"debug","z":"3cbc9ea1199461d1","name":"initial","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3360,"y":1660,"wires":[]},{"id":"b2ec2b3ec4f92864","type":"debug","z":"3cbc9ea1199461d1","name":"short","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3360,"y":1700,"wires":[]},{"id":"1cd3403b34855588","type":"debug","z":"3cbc9ea1199461d1","name":"holded","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3360,"y":1740,"wires":[]},{"id":"31284e3912d82ecd","type":"debug","z":"3cbc9ea1199461d1","name":"long","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3360,"y":1780,"wires":[]},{"id":"36620be0eca680a5","type":"debug","z":"3cbc9ea1199461d1","name":"motion true","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3380,"y":1860,"wires":[]},{"id":"bf4be4e74413182e","type":"debug","z":"3cbc9ea1199461d1","name":"motion true + false","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3400,"y":1900,"wires":[]},{"id":"c424952a34c4f69e","type":"debug","z":"3cbc9ea1199461d1","name":"motion false","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3380,"y":1940,"wires":[]},{"id":"619c1c6820dbc038","type":"switch","z":"3cbc9ea1199461d1","name":"Motion Event Stream","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"replace with discovered ID of your Sensor","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2610,"y":1900,"wires":[["0fc932780f070a73"]]},{"id":"98c48ba4b7e4f623","type":"debug","z":"3cbc9ea1199461d1","name":"On","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3360,"y":2020,"wires":[]},{"id":"e6bdd2c7209026f5","type":"debug","z":"3cbc9ea1199461d1","name":"On / Off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3370,"y":2060,"wires":[]},{"id":"a1d4acfc979a470f","type":"debug","z":"3cbc9ea1199461d1","name":"Off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3360,"y":2100,"wires":[]},{"id":"c29b04879f7f996f","type":"switch","z":"3cbc9ea1199461d1","name":"light / grouped_light Event Stream","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"replace with discovered RID of Lamp / Group","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2650,"y":2060,"wires":[["541e84e1c012a18f"]]},{"id":"2e184a163f6cad28","type":"comment","z":"3cbc9ea1199461d1","name":"This Filters the events for your Devices, you need to add the discovered IDs in the switch nodes","info":"","x":2840,"y":1640,"wires":[]},{"id":"02b93b5016a79a44","type":"comment","z":"3cbc9ea1199461d1","name":"Dont touch this Node","info":"","x":940,"y":540,"wires":[]},{"id":"c4a7277805786f9c","type":"comment","z":"3cbc9ea1199461d1","name":"Add your Data here","info":"","x":290,"y":760,"wires":[]},{"id":"89a17448394adbaf","type":"comment","z":"3cbc9ea1199461d1","name":"ATTENTION! READ FIRST - DOUBLE CLICK","info":"First you need to add your Data, IP Adress, Secret Key into the Nodes that have an **add Data** Label, then deploy.\n\nALL CHANGE NODES NEED TO BE EDITED WITH \nDISCOVERED ID / RID, do this step by step","x":990,"y":260,"wires":[]},{"id":"96ae493b87fbf0f8","type":"debug","z":"3cbc9ea1199461d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":220,"wires":[]},{"id":"21cc4fc5c886642c","type":"debug","z":"3cbc9ea1199461d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":300,"wires":[]},{"id":"d421241e3be6f942","type":"debug","z":"3cbc9ea1199461d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":220,"wires":[]},{"id":"439b24eddc1751b9","type":"debug","z":"3cbc9ea1199461d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":300,"wires":[]},{"id":"5666e133a9037841","type":"comment","z":"3cbc9ea1199461d1","name":"Check inside the Subflows for additional Information","info":"","x":2980,"y":1800,"wires":[]},{"id":"8d40db73a69e7136","type":"change","z":"3cbc9ea1199461d1","name":"Dimming 10% down / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"dynamics\":{\"duration\":1000},\"dimming_delta\":{\"action\":\"down\",\"brightness_delta\":10}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1600,"wires":[["5e506fc598872b6a"]]},{"id":"c99f1768dad57222","type":"change","z":"3cbc9ea1199461d1","name":"Light off / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":false},\"dynamics\":{\"duration\":1000}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1680,"wires":[["5e506fc598872b6a"]]},{"id":"03e05b8219452a0c","type":"http request","z":"3cbc9ea1199461d1","name":"https request HUE API V2","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"4bc31af9bd03bbdc","persist":false,"proxy":"","authType":"","x":1290,"y":1920,"wires":[["aca1d59674e97dbc"]]},{"id":"5b854c382b2dc8d6","type":"inject","z":"3cbc9ea1199461d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1600,"wires":[["8d40db73a69e7136"]]},{"id":"35e8683707e9765f","type":"inject","z":"3cbc9ea1199461d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1560,"wires":[["a2382181f8062406"]]},{"id":"343d1eb0bd767ea0","type":"inject","z":"3cbc9ea1199461d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1680,"wires":[["c99f1768dad57222"]]},{"id":"a2382181f8062406","type":"change","z":"3cbc9ea1199461d1","name":"Light on / 100% / orange / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100},\"dynamics\":{\"duration\":1000},\"color\":{\"xy\":{\"x\":0.6101,\"y\":0.3662}}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1560,"wires":[["5e506fc598872b6a"]]},{"id":"c02dff2c9e91fa42","type":"change","z":"3cbc9ea1199461d1","name":"Dimming 10% up / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"dynamics\":{\"duration\":1000},\"dimming_delta\":{\"action\":\"up\",\"brightness_delta\":10}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1640,"wires":[["5e506fc598872b6a"]]},{"id":"06644ed1061010f2","type":"inject","z":"3cbc9ea1199461d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1640,"wires":[["c02dff2c9e91fa42"]]},{"id":"71cd1e520d1b680a","type":"change","z":"3cbc9ea1199461d1","name":"Light on / 100% / red / alert flashing","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100},\"color\":{\"xy\":{\"x\":0.7,\"y\":0.25}},\"alert\":{\"action\":\"breathe\"}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1720,"wires":[["5e506fc598872b6a"]]},{"id":"16cb3de9bbb15aae","type":"inject","z":"3cbc9ea1199461d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1720,"wires":[["71cd1e520d1b680a"]]},{"id":"e6cbf55f66bcd10a","type":"change","z":"3cbc9ea1199461d1","name":"Light on / 80% / 2s transition / color temp cold 153","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":80},\"dynamics\":{\"duration\":2000},\"color_temperature\":{\"mirek\":153}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1760,"wires":[["5e506fc598872b6a"]]},{"id":"3214d0861a4e304f","type":"inject","z":"3cbc9ea1199461d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1760,"wires":[["e6cbf55f66bcd10a"]]},{"id":"fa249e6666d58836","type":"change","z":"3cbc9ea1199461d1","name":"Light on / 50% / 1s transition / color temp warm 500","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":50},\"dynamics\":{\"duration\":1000},\"color_temperature\":{\"mirek\":500}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1800,"wires":[["5e506fc598872b6a"]]},{"id":"6d15fbeefe1a610b","type":"inject","z":"3cbc9ea1199461d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1800,"wires":[["fa249e6666d58836"]]},{"id":"3f0141772992fc4f","type":"comment","z":"3cbc9ea1199461d1","name":"lights - DOUBLE CLICK FOR INFO","info":"","x":360,"y":1520,"wires":[]},{"id":"87069622d5bbe2dc","type":"change","z":"3cbc9ea1199461d1","name":"Room or Zone on / 100% / orange / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"replace with discovered !!!>> RID <<!!!","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100},\"dynamics\":{\"duration\":1000},\"color\":{\"xy\":{\"x\":0.6101,\"y\":0.3662}}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1920,"wires":[["5e506fc598872b6a"]]},{"id":"40596763e545f603","type":"inject","z":"3cbc9ea1199461d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1920,"wires":[["87069622d5bbe2dc"]]},{"id":"9d5b67e6f880bb62","type":"comment","z":"3cbc9ea1199461d1","name":"grouped_light - DOUBLE CLICK FOR INFO","info":"(Rooms & Zones) can be controlled in almost the samme way as lights. \n\nJust the endpoint in the change node is different and instead of using the ID of a Room / Zone you need to use the discoverd **rid **\n\ngrouped_light is a service (rid) that is connected to the group/zone ID","x":390,"y":1880,"wires":[]},{"id":"487c1d66c62a8087","type":"change","z":"3cbc9ea1199461d1","name":"Motion Sensor DISABLED","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"motion","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"enabled\":false}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":2240,"wires":[["5e506fc598872b6a"]]},{"id":"955be7bc7bf564d0","type":"change","z":"3cbc9ea1199461d1","name":"Motion Sensor ENABLED","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"motion","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"enabled\":true}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":2200,"wires":[["5e506fc598872b6a"]]},{"id":"bbdb58dee99ef96a","type":"inject","z":"3cbc9ea1199461d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":2240,"wires":[["487c1d66c62a8087"]]},{"id":"2a7e7999176fac10","type":"inject","z":"3cbc9ea1199461d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":2200,"wires":[["955be7bc7bf564d0"]]},{"id":"09cc235510f01d99","type":"link in","z":"3cbc9ea1199461d1","name":"Motion Sensor ***Name*** On","links":[],"x":435,"y":2200,"wires":[["955be7bc7bf564d0"]]},{"id":"c2f23a3f6734e494","type":"link in","z":"3cbc9ea1199461d1","name":"Motion Sensor ***Name*** Off","links":[],"x":435,"y":2240,"wires":[["487c1d66c62a8087"]]},{"id":"db834b12d44d446d","type":"comment","z":"3cbc9ea1199461d1","name":"Motion Sensor ENABLED / DISABLED","info":"","x":370,"y":2160,"wires":[]},{"id":"7fa0722db0fe1f90","type":"change","z":"3cbc9ea1199461d1","name":"Recall a Scene","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"scene","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"recall\":{\"action\":\"active\"}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2080,"wires":[["5e506fc598872b6a"]],"icon":"font-awesome/fa-star"},{"id":"a449eac527cf26e3","type":"change","z":"3cbc9ea1199461d1","name":"Room or Zone off","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"replace with discovered !!!>> RID <<!!!","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":false}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1960,"wires":[["5e506fc598872b6a"]]},{"id":"72beeaccca8e7cbc","type":"inject","z":"3cbc9ea1199461d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1960,"wires":[["a449eac527cf26e3"]]},{"id":"6450d16fac50a594","type":"inject","z":"3cbc9ea1199461d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":2080,"wires":[["7fa0722db0fe1f90"]]},{"id":"5f4333b61a941fbc","type":"comment","z":"3cbc9ea1199461d1","name":"Add your Data here","info":"","x":1070,"y":1880,"wires":[]},{"id":"887b666cb78a1d3d","type":"comment","z":"3cbc9ea1199461d1","name":"Add your Data here","info":"","x":670,"y":540,"wires":[]},{"id":"a27a4a18c17ca81b","type":"comment","z":"3cbc9ea1199461d1","name":"Recall a Scene - DOUBLE CLICK FOR INFO","info":"I highly recommend to use Scenes to turn on Rooms/Zones. This is just one request to the Bridge and the rest is processed in the bridge. When 4 lights are turned on simultanious, the bridge possible wont be able to handle these requests at once.\n\nIf you have a sestup where it is needed to turn on seperate lights, then add delay nodes i front of the chhange node. \n\nExample: 4 Lights need to be tunes on, \nlight 1 = no delay\nlight 2 = 200ms delay\nlight 3 = 400ms delay\nlight 4 = 600ms delay\n\nwhen turning light off simultanious, this should be done in this way. Better is to turn off Rooms or Zones with one request.","x":390,"y":2040,"wires":[]},{"id":"aca1d59674e97dbc","type":"debug","z":"3cbc9ea1199461d1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1490,"y":1920,"wires":[]},{"id":"befbd2be0104fd09","type":"comment","z":"3cbc9ea1199461d1","name":"Dont touch this Node","info":"","x":1300,"y":1880,"wires":[]},{"id":"a425f742bcbb927f","type":"comment","z":"3cbc9ea1199461d1","name":"You need one swich and subflow for every button / light / sensor / grouped_light where you want to have a response from","info":"","x":2910,"y":2160,"wires":[]},{"id":"5e506fc598872b6a","type":"function","z":"3cbc9ea1199461d1","name":"HUE API V2","func":"\n// you can copy the user key from the hue config node out of Huemagic\nvar user = \"Replace with your Secret Key here\";\n\n\nif(msg.endpoint === undefined)\n msg.url = \"https://BRIDGE IP HERE/clip/v2/resource\";\nelse if(msg.topic === undefined)\n msg.url = \"https://BRIDGE IP HERE/clip/v2/resource/\" + msg.endpoint;\nelse\n msg.url = \"https://BRIDGE IP HERE/clip/v2/resource/\" + msg.endpoint + \"/\" + msg.topic;\n\n\nmsg.headers = {};\n\nmsg.headers['hue-application-key'] = user;\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\n\nif(msg.payload != undefined)\n msg.headers['ContentLength'] = JSON.stringify(msg.payload).length;\n\nif(msg.verb === undefined)\n msg.method = \"get\";\nelse\n msg.method = msg.verb;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":1920,"wires":[["03e05b8219452a0c"]]},{"id":"2f3d3ef553b643c3","type":"function","z":"3cbc9ea1199461d1","name":"HEADER V2","func":"// you can copy the user key from the hue config node out of Huemagic\nvar user = \"YOUR CODE\";\nvar ip = \"YOUR IP\"\n\nif(msg.endpoint === undefined)\n msg.url = \"https://\" + ip + \"/clip/v2/resource\";\nelse if(msg.topic === undefined)\n msg.url = \"https://\" + ip + \"/clip/v2/resource/\" + msg.endpoint;\nelse\n msg.url = \"https://\" + ip + \"/clip/v2/resource/\" + msg.endpoint + \"/\" + msg.topic;\n\nmsg.headers = {};\n\nmsg.headers['hue-application-key'] = user;\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\n\nif(msg.payload != undefined)\n msg.headers['ContentLength'] = JSON.stringify(msg.payload).length;\n\nif(msg.verb === undefined)\n msg.method = \"get\";\nelse\n msg.method = msg.verb;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1470,"y":260,"wires":[[]]},{"id":"ec5bc0c4bce00e3c","type":"change","z":"3cbc9ea1199461d1","name":"Get State","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ADD GROUP RID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"get","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":2360,"wires":[["5e506fc598872b6a"]]},{"id":"adb276132c0d965d","type":"comment","z":"3cbc9ea1199461d1","name":"\"Helper Functions for RID / ID discovery\" (credits to user marc-gist for his help!)","info":"","x":2400,"y":460,"wires":[]},{"id":"9193bb42a7e83c9b","type":"link out","z":"3cbc9ea1199461d1","name":"API Response OUT","links":["5e740a1026d5a824"],"x":1335,"y":580,"wires":[]},{"id":"1e1e8bae9e0c7ece","type":"comment","z":"3cbc9ea1199461d1","name":"This helps you to discover the ID / RID for Scenes / lights / grouped_light","info":"","x":2400,"y":500,"wires":[]},{"id":"043828df814728ea","type":"inject","z":"3cbc9ea1199461d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":2360,"wires":[["ec5bc0c4bce00e3c"]]},{"id":"cbb6b20b25b5f2f2","type":"comment","z":"3cbc9ea1199461d1","name":"Get state of a Group","info":"","x":310,"y":2320,"wires":[]},{"id":"3a806ad2f08da3b4","type":"comment","z":"3cbc9ea1199461d1","name":"Header Node V2 - DOUBLE CLICK FOR INFO","info":"Version 2 of the Header Node, easier setup.\nYou can decide by yourself which one you like to use. If your Flow is already running, no need to change.","x":1470,"y":220,"wires":[]},{"id":"5e740a1026d5a824","type":"link in","z":"3cbc9ea1199461d1","name":"BRIDGE DATA RESPONSE IN","links":["9843e319.dcf13","9193bb42a7e83c9b"],"x":2555,"y":820,"wires":[["4bab4847d1fa25b1","4947669303eebb08","e024059792481bb4","916af279d28ceb61","35b564800dd4ba2d","32d1ecf85c1f0e2b","a6b901ef06fadbb9"]]},{"id":"4bab4847d1fa25b1","type":"switch","z":"3cbc9ea1199461d1","name":"Room","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"room","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2810,"y":600,"wires":[["e969c1140df6242f","6e80cc9d0c4abdf8"]]},{"id":"d754d3cfa32a7ec6","type":"inject","z":"3cbc9ea1199461d1","name":"Scenes Zone (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"zone_scenes","payloadType":"flow","x":1930,"y":960,"wires":[["dc68437212b953c0"]]},{"id":"a40c78b443449433","type":"change","z":"3cbc9ea1199461d1","name":"rooms","rules":[{"t":"set","p":"rooms","pt":"flow","to":"keys","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3150,"y":540,"wires":[[]]},{"id":"4947669303eebb08","type":"switch","z":"3cbc9ea1199461d1","name":"Scene","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"scene","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2810,"y":820,"wires":[["959ff36b3b224cf9","3a02431b6ce91713"]]},{"id":"e024059792481bb4","type":"switch","z":"3cbc9ea1199461d1","name":"Light","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"light","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2810,"y":1340,"wires":[["64e9ba6bfca9d007"]]},{"id":"916af279d28ceb61","type":"switch","z":"3cbc9ea1199461d1","name":"Zone","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"zone","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2810,"y":400,"wires":[["08e674769e0d54b8","1d969c6a0ae5e02d"]]},{"id":"959ff36b3b224cf9","type":"function","z":"3cbc9ea1199461d1","name":"Scene Name, ID, Zone Name","func":"var response = [];\nvar zones = flow.get(\"zones\") || {};\nvar size = Object.keys(zones).length;\nif(size <= 0) {\n    node.error(\"Please Update Zones First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"name\": item.metadata.name,\n        \"id\": item.id,\n        // \"rid\": item.group.rid,\n        // \"rtype\": item.group.rtype,\n        \"zone-name\": zones[item.group.rid]\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Scene name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3070,"y":780,"wires":[["d3ad303983ec77ed"]]},{"id":"47482d41f5267c84","type":"change","z":"3cbc9ea1199461d1","name":"zones","rules":[{"t":"set","p":"zones","pt":"flow","to":"keys","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3150,"y":340,"wires":[[]]},{"id":"d3ad303983ec77ed","type":"subflow:aff9cdb5.1ba04","z":"3cbc9ea1199461d1","name":"","env":[],"x":3100,"y":820,"wires":[["48b4a18721416e7c","1cc3e4549b78b244"],["9df5668ef87ab7f8","d87b8b2d2bd1d516"]]},{"id":"48b4a18721416e7c","type":"debug","z":"3cbc9ea1199461d1","name":"Room Scenes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3420,"y":780,"wires":[]},{"id":"9df5668ef87ab7f8","type":"debug","z":"3cbc9ea1199461d1","name":"Zone Scenes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3410,"y":860,"wires":[]},{"id":"1b6237759365e272","type":"debug","z":"3cbc9ea1199461d1","name":"Rooms","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3400,"y":580,"wires":[]},{"id":"d703d6835a3e6ad3","type":"debug","z":"3cbc9ea1199461d1","name":"Zones","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3390,"y":380,"wires":[]},{"id":"2d22fb6b778b61e7","type":"inject","z":"3cbc9ea1199461d1","name":"Get all Data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1970,"y":300,"wires":[["d51032870b0cdd98"]]},{"id":"1cc3e4549b78b244","type":"change","z":"3cbc9ea1199461d1","name":"room_scenes","rules":[{"t":"set","p":"room_scenes","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3120,"y":740,"wires":[[]]},{"id":"d51032870b0cdd98","type":"subflow:79900ab2d31e27fc","z":"3cbc9ea1199461d1","name":"Request","env":[],"x":2280,"y":300,"wires":[["e695d23d4d0acfd4"]]},{"id":"e695d23d4d0acfd4","type":"link out","z":"3cbc9ea1199461d1","name":"Timer Out","links":["4754eac7f164428c","c0ea44d8.8272a8"],"x":2455,"y":300,"wires":[]},{"id":"b6c4784a07a29c8b","type":"comment","z":"3cbc9ea1199461d1","name":"1 - Readme - DOUBLE CLICK","info":"This Flow is for discovering the needed IDs / RIDs. This makes it easier instead of searching in the payload of the https response from the Bridge!\n\n**Thanks to fellow Github User @marc-gist who had this great idea and programmed the function nodes!**\n\n\"Get all Data\" discovers Datapoints from:\n\n- Rooms / Zones\n- Scenes\n- Devices\n- Motion Sensors\n- Buttons\n- Lights\n\nThe process takes about 15 seconds, depending on your setup. You directly see arrays in the debug window, but the context is also stored in a variable. \n\n>>> No need to change anything in this Flow <<<\n\n- By clicking \"Get all Data\" Inject Node, you also refresh the stored Data. \n\n- The \"Delete\" Inject Node is for deleting the storead Data if needed at some point.\n\n","x":2020,"y":260,"wires":[]},{"id":"d87b8b2d2bd1d516","type":"change","z":"3cbc9ea1199461d1","name":"zone scene","rules":[{"t":"set","p":"zone_scenes","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3130,"y":900,"wires":[[]]},{"id":"93fe7a26121abeed","type":"inject","z":"3cbc9ea1199461d1","name":"Scenes Zone (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"zone_scenes","payloadType":"flow","x":1940,"y":920,"wires":[["dc68437212b953c0"]]},{"id":"0cdfbe2cafc4dbf4","type":"inject","z":"3cbc9ea1199461d1","name":"Scenes Room (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"room_scenes","payloadType":"flow","x":1930,"y":660,"wires":[["dc68437212b953c0"]]},{"id":"d342cdc3835499d4","type":"inject","z":"3cbc9ea1199461d1","name":"Scenes Room (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"room_scenes","payloadType":"flow","x":1930,"y":700,"wires":[["dc68437212b953c0"]]},{"id":"dc68437212b953c0","type":"subflow:7a14643a.75260c","z":"3cbc9ea1199461d1","name":"","env":[],"x":2300,"y":820,"wires":[["5127497677b4d161"]]},{"id":"49f4221987b695e5","type":"change","z":"3cbc9ea1199461d1","name":"DELETE STORED CONTEXT","rules":[{"t":"delete","p":"zones","pt":"flow"},{"t":"delete","p":"rooms","pt":"flow"},{"t":"delete","p":"lights","pt":"flow"},{"t":"delete","p":"zone_scenes","pt":"flow"},{"t":"delete","p":"room_scenes","pt":"flow"},{"t":"delete","p":"rooms_array","pt":"flow"},{"t":"delete","p":"zones_array","pt":"flow"},{"t":"delete","p":"devices","pt":"flow"},{"t":"delete","p":"motion","pt":"flow"},{"t":"delete","p":"lights","pt":"flow"},{"t":"delete","p":"button","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2350,"y":220,"wires":[[]]},{"id":"54f890ba8645dfba","type":"inject","z":"3cbc9ea1199461d1","name":"Delete","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1990,"y":220,"wires":[["49f4221987b695e5"]]},{"id":"83cfe2c6b6406632","type":"change","z":"3cbc9ea1199461d1","name":"lights","rules":[{"t":"set","p":"lights","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3150,"y":1300,"wires":[[]]},{"id":"4ecd97b3e48b0c41","type":"debug","z":"3cbc9ea1199461d1","name":"Lights","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3390,"y":1340,"wires":[]},{"id":"64e9ba6bfca9d007","type":"function","z":"3cbc9ea1199461d1","name":"Light Name, ID, Abilities","func":"var response = [];\nvar rooms = flow.get(\"rooms\") || {};\nvar size = Object.keys(rooms).length;\nif(size <= 0) {\n    node.error(\"Please Update Rooms First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"name\": item.metadata.name,\n        \"type\": item.metadata.archetype,\n        \"id\": item.id,\n        \"color\": item.hasOwnProperty(\"color\") ? true : false,\n        \"temp\": item.hasOwnProperty(\"color_temperature\") ? true : false\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Lights\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3090,"y":1340,"wires":[["83cfe2c6b6406632","4ecd97b3e48b0c41"]]},{"id":"5a26120662b7a0f3","type":"inject","z":"3cbc9ea1199461d1","name":"Buttons (an Array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"button","payloadType":"flow","x":1950,"y":1240,"wires":[["dc68437212b953c0"]]},{"id":"43b77301772be8ed","type":"inject","z":"3cbc9ea1199461d1","name":"Buttons (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"button","payloadType":"flow","x":1950,"y":1280,"wires":[["dc68437212b953c0"]]},{"id":"d70b24aaea462bd2","type":"inject","z":"3cbc9ea1199461d1","name":"Rooms (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"rooms_array","payloadType":"flow","x":1950,"y":600,"wires":[["dc68437212b953c0"]]},{"id":"e969c1140df6242f","type":"function","z":"3cbc9ea1199461d1","name":"Room Name and ID","func":"var response = [];\nvar roomkeys = {};\nmsg.payload.data.forEach(function(item){\n    if(item.services.length > 0) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            \"rid\": item.services[0].rid,\n            \"rtype\": item.services[0].rtype\n        };\n        roomkeys[item.id] = item.metadata.name;\n        response.push(pair);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"rooms name/rid\",\n    \"keys\": roomkeys\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3100,"y":580,"wires":[["a40c78b443449433","1b6237759365e272"]]},{"id":"35b564800dd4ba2d","type":"switch","z":"3cbc9ea1199461d1","name":"Device","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"device","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2810,"y":1000,"wires":[["b76a12c6204ca9f2"]]},{"id":"b76a12c6204ca9f2","type":"function","z":"3cbc9ea1199461d1","name":"Devices Button and Motion","func":"// NOTE: Devices have multipe rtypes in the services\n// This script grabs the first one, so a motion sensor may show\n// up as \"temperature\" as it also does temp. don't worry\n// this script is more to get the name of the devices to help\n// with the button/motion scripts.\nvar response = [];\nvar devices = {};\nmsg.payload.data.forEach(function(item){\n    try {\n        if(item.metadata.archetype == \"unknown_archetype\") {\n            var pair = {\n                \"name\": item.metadata.name,\n                \"id\": item.id,\n                \"rid\": item.services[0].rid,\n                \"rtype\": item.services[0].rtype\n            };\n            devices[item.id] = item.metadata.name;\n            response.push(pair);\n        }\n    } catch(err) {\n        node.warn(err);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"devices name/rid\",\n    \"keys\": devices\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3080,"y":1000,"wires":[["bd163f44332a3adb","3c01ef4d52384e89"]]},{"id":"bd163f44332a3adb","type":"change","z":"3cbc9ea1199461d1","name":"devices","rules":[{"t":"set","p":"devices","pt":"flow","to":"keys","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3140,"y":960,"wires":[[]]},{"id":"1d969c6a0ae5e02d","type":"function","z":"3cbc9ea1199461d1","name":"Zone Name and ID","func":"var response = [];\nvar roomkeys = {};\nmsg.payload.data.forEach(function(item){\n    if(item.hasOwnProperty(\"services\")) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            \"rid\": item.services[0].rid,\n            \"rtype\": item.services[0].rtype\n        };\n        roomkeys[item.id] = item.metadata.name;\n        response.push(pair);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"zones name/rid\",\n    \"keys\": roomkeys\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3110,"y":380,"wires":[["47482d41f5267c84","d703d6835a3e6ad3"]]},{"id":"08e674769e0d54b8","type":"function","z":"3cbc9ea1199461d1","name":"Zone Name and ID (array)","func":"var response = [];\nmsg.payload.data.forEach(function(item){\n    if(item.services.length > 0) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            \"rid\": item.services[0].rid,\n            \"rtype\": item.services[0].rtype\n        };\n         response.push(pair);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"zones name/rid\",\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3090,"y":420,"wires":[["ee081ef2bf54c871"]]},{"id":"3a02431b6ce91713","type":"function","z":"3cbc9ea1199461d1","name":"Scene Name, ID, Room Name","func":"var response = [];\nvar rooms = flow.get(\"rooms\") || {};\nvar size = Object.keys(rooms).length;\nif(size <= 0) {\n    node.error(\"Please Update Rooms First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"name\": item.metadata.name,\n        \"id\": item.id,\n        // \"rid\": item.group.rid,\n        // \"rtype\": item.group.rtype,\n        \"room-name\": rooms[item.group.rid]\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Scene name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3070,"y":860,"wires":[["d3ad303983ec77ed"]]},{"id":"6e80cc9d0c4abdf8","type":"function","z":"3cbc9ea1199461d1","name":"Room Name and ID (array)","func":"var response = [];\nmsg.payload.data.forEach(function(item){\n    if(item.services.length > 0) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            \"rid\": item.services[0].rid,\n            \"rtype\": item.services[0].rtype\n        };\n         response.push(pair);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"rooms name/rid\",\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3080,"y":620,"wires":[["04364f3ca86464d6"]]},{"id":"04364f3ca86464d6","type":"change","z":"3cbc9ea1199461d1","name":"rooms_array","rules":[{"t":"set","p":"rooms_array","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3130,"y":660,"wires":[[]]},{"id":"ee081ef2bf54c871","type":"change","z":"3cbc9ea1199461d1","name":"zones_array","rules":[{"t":"set","p":"zones_array","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3130,"y":460,"wires":[[]]},{"id":"01475eb29afcf78e","type":"inject","z":"3cbc9ea1199461d1","name":"Rooms (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"rooms_array","payloadType":"flow","x":1960,"y":560,"wires":[["dc68437212b953c0"]]},{"id":"5127497677b4d161","type":"debug","z":"3cbc9ea1199461d1","name":"API V2 DATA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2310,"y":780,"wires":[]},{"id":"1960d1d6509647ac","type":"inject","z":"3cbc9ea1199461d1","name":"Zones (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"zones_array","payloadType":"flow","x":1950,"y":860,"wires":[["dc68437212b953c0"]]},{"id":"8b0b24638853611b","type":"inject","z":"3cbc9ea1199461d1","name":"Zones (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"zones_array","payloadType":"flow","x":1960,"y":820,"wires":[["dc68437212b953c0"]]},{"id":"3c01ef4d52384e89","type":"debug","z":"3cbc9ea1199461d1","name":"Devices","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3400,"y":1000,"wires":[]},{"id":"32d1ecf85c1f0e2b","type":"switch","z":"3cbc9ea1199461d1","name":"Motion","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"motion","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2810,"y":1120,"wires":[["bc55c7ea8de7ca9b"]]},{"id":"bc55c7ea8de7ca9b","type":"function","z":"3cbc9ea1199461d1","name":"Motion Name, ID, Device Name","func":"var response = [];\nvar devices = flow.get(\"devices\") || {};\nvar size = Object.keys(devices).length;\nif(size <= 0) {\n    node.error(\"Please Update Devices First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"Device\": devices[item.owner.rid],\n        \"id\": item.id,\n        \"type\": item.type,\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Motion name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3070,"y":1120,"wires":[["a25c0778632f6dde","452c538b1ad08493"]]},{"id":"a25c0778632f6dde","type":"debug","z":"3cbc9ea1199461d1","name":"Motion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3390,"y":1120,"wires":[]},{"id":"452c538b1ad08493","type":"change","z":"3cbc9ea1199461d1","name":"motion","rules":[{"t":"set","p":"motion","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3150,"y":1080,"wires":[[]]},{"id":"ef79b9081586a1ae","type":"inject","z":"3cbc9ea1199461d1","name":"Motion Senors (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"motion","payloadType":"flow","x":1930,"y":1120,"wires":[["dc68437212b953c0"]]},{"id":"c5a747b30ac440cd","type":"inject","z":"3cbc9ea1199461d1","name":"Motion Sensors (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"motion","payloadType":"flow","x":1930,"y":1080,"wires":[["dc68437212b953c0"]]},{"id":"a6b901ef06fadbb9","type":"switch","z":"3cbc9ea1199461d1","name":"Button","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2810,"y":1220,"wires":[["8bbc53abba3027df"]]},{"id":"48d7a2a5b791bd2f","type":"inject","z":"3cbc9ea1199461d1","name":"Lights (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"lights","payloadType":"flow","x":1950,"y":440,"wires":[["dc68437212b953c0"]]},{"id":"b531125d08aa7d2c","type":"inject","z":"3cbc9ea1199461d1","name":"Lights (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"lights","payloadType":"flow","x":1960,"y":400,"wires":[["dc68437212b953c0"]]},{"id":"8bbc53abba3027df","type":"function","z":"3cbc9ea1199461d1","name":"Button Name, ID, Device Name","func":"var response = [];\nvar devices = flow.get(\"devices\") || {};\nvar size = Object.keys(devices).length;\nif(size <= 0) {\n    node.error(\"Please Update Devices First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"Device\": devices[item.owner.rid],\n        \"id\": item.id,\n        \"type\": item.type,\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Motion name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3070,"y":1220,"wires":[["fe0a4edc435f3da6","7505573bfb522f68"]]},{"id":"fe0a4edc435f3da6","type":"change","z":"3cbc9ea1199461d1","name":"button","rules":[{"t":"set","p":"button","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3150,"y":1180,"wires":[[]]},{"id":"7505573bfb522f68","type":"debug","z":"3cbc9ea1199461d1","name":"Button","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3390,"y":1220,"wires":[]},{"id":"54029a9c47bedbc2","type":"comment","z":"3cbc9ea1199461d1","name":"2 - Readme - DOUBLE CLICK","info":"After you got all Data stored, you can easily access it here again, by clicking the inject nodes.\n\nDepending on your favorite way to do it, you can get an array in response or seperate payloads for every device. \n\nTry it out!","x":2020,"y":360,"wires":[]},{"id":"34e3e6d6f9b0f4d4","type":"comment","z":"3cbc9ea1199461d1","name":"DONT CHANGE ANY OF THESE NODES","info":"","x":2860,"y":700,"wires":[]},{"id":"4754eac7f164428c","type":"link in","z":"3cbc9ea1199461d1","name":"API IN","links":["e695d23d4d0acfd4"],"x":375,"y":220,"wires":[["c79945070229b1c9"]]},{"id":"02ee5be5444455bd","type":"debug","z":"3cbc9ea1199461d1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":800,"wires":[]},{"id":"32ea38b39d8a6d8f","type":"comment","z":"3cbc9ea1199461d1","name":"Converter seperates the array","info":"","x":700,"y":760,"wires":[]},{"id":"fbcc8045f946b1fc","type":"comment","z":"3cbc9ea1199461d1","name":"HUE Event Receivers for Firmware >= 1.53.1953188010 (beta release) \\n \\n HUE changed the Event-Flow output in the API for groups. \\n Instead of sending payloads for every light/group seperately they changed \\n it into a payload with one big array. \\n For the reason that the response data for th group is not always at the same position \\n the array need to be converted to single payloads first. \\n \\n \\n TO BE SAVE, BACKUP YOUR OLD FLOW BEFORE!","info":"","x":710,"y":960,"wires":[]},{"id":"795854199f99d676","type":"function","z":"3cbc9ea1199461d1","name":"1 data per flow","func":"for (var i = 0; i < msg.payload.data.length; i++) {\n    // Create a deep copy of msg object\n    let splitmsg = JSON.parse(JSON.stringify(msg));\n\n    // Reset data of new message to its single data part\n    splitmsg.payload.data = [msg.payload.data[i]];\n    \n    // send using node\n    node.send(splitmsg);\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":800,"wires":[["02ee5be5444455bd","9fbb179d8c718cf0"]]},{"id":"9fbb179d8c718cf0","type":"link out","z":"3cbc9ea1199461d1","name":"BRIDGE EVENTSTREAM OUT","links":["2d9ea9fd332df0d1","fc836ab4.4adae8","a5f7c87b.cd5608","30d8c91d2ab227b0"],"x":865,"y":800,"wires":[]},{"id":"4bc31af9bd03bbdc","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]
