HUE-CLIP-API_Node-Red-Flows_v4_Fred.Blo.json
[{"id":"22c6f6c185a55668","type":"subflow","name":"HUE Light (Sender)","info":"","category":"HUE v2","in":[{"x":160,"y":380,"wires":[{"id":"50de5d6012c670ae"}]}],"out":[{"x":1020,"y":500,"wires":[{"id":"c428d580898d44e4","port":0}]}],"env":[{"name":"light_ID","type":"str","value":"Enter the light/group ID to control"},{"name":"light_Type","type":"str","value":"light","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"Light point"},"v":"light"},{"l":{"en-US":"Group of lights"},"v":"grouped_light"}]}}}],"meta":{},"color":"#47C0E8","icon":"node-red/light.svg"},{"id":"50de5d6012c670ae","type":"change","z":"22c6f6c185a55668","name":"Set Light / Group ID (from node config)","rules":[{"t":"set","p":"topic","pt":"msg","to":"light_ID","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":380,"wires":[["297c45d6fbf3dca6"]]},{"id":"c428d580898d44e4","type":"link call","z":"22c6f6c185a55668","name":"","links":["6e3a4608.2e8928"],"linkType":"static","timeout":"30","x":820,"y":500,"wires":[[]]},{"id":"eb65f5252bd1a528","type":"change","z":"22c6f6c185a55668","name":"Add technical PUT stuff (hard-coded)","rules":[{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":500,"wires":[["c428d580898d44e4"]]},{"id":"92006ef402db1ce2","type":"function","z":"22c6f6c185a55668","name":"Set light On/Off & Brightness (from flow)","func":"// Based on payload type, define whether current light must be set ON or OFF\n// Ensure we have a valid payload object to work on\nif (msg.payload === undefined) {\n    msg.payload = {};\n} else if (typeof (msg.payload) === 'string') {\n    try { msg.payload = JSON.parse(msg.payload); } catch (error) { }\n}\n\n// ON/OFF & Brightness state ?\nlet onState;\nlet brightnessState;\nif (typeof (msg.payload) === 'object') {\n    if (typeof (msg.payload.on) === 'boolean') {\n        onState = msg.payload.on;\n    }\n    if (typeof (msg.payload.brightness) === 'number') {\n        brightnessState = msg.payload.brightness;\n    }\n} else {\n    if (typeof (msg.payload) === 'boolean') {\n        onState = msg.payload;\n    } else if (!isNaN(msg.payload)) {\n        if (msg.payload == 0) {\n            onState = false;\n        } else {\n            onState = true;\n            brightnessState = parseInt(msg.payload);\n        }\n    };\n    msg.payload = {};\n}\n\n// Build Payload to be used and sent\nif (onState !== undefined) {\n    msg.payload.on = { 'on': onState };\n}\nif (brightnessState !== undefined) {\n    msg.payload.dimming = { 'brightness': brightnessState };\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":460,"wires":[["eb65f5252bd1a528"]]},{"id":"1b1737a775f81597","type":"comment","z":"22c6f6c185a55668","name":"This subflow manages a HUE light call (using HUE API v2 Sender) \\n    INPUTS (frrom the node config box) : \\n      - light_ID :(discovered on the bridge using API v2) : \\n \t\t-> for a light, its ID \\n \t\t-> for a group, its RID (of the 'room')\\n    INPUTS (from the flow) payload can be : \\n      - True/False : to turn on/off \\n      - A value (0-100) to manage brightness (0 only turns lamp off) \\n      - An object containing '.on' and/or '.brightness' which are sent as state on/off + brightness as such to the bridge \\n       \\n    OUTPUT \\n     The response received from the HUE bridge","info":"","x":400,"y":160,"wires":[]},{"id":"297c45d6fbf3dca6","type":"change","z":"22c6f6c185a55668","name":"Set type Light / Group (from node config)","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light_Type","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":420,"wires":[["92006ef402db1ce2"]]},{"id":"4c3d3acf.2f8024","type":"subflow","name":"HUE Motion (Receiver)","info":"","category":"HUE v2","in":[{"x":40,"y":440,"wires":[{"id":"b1e1712abe1b5f35"}]}],"out":[{"x":870,"y":360,"wires":[{"id":"803a4d3.1397db","port":0}]},{"x":890,"y":440,"wires":[{"id":"803a4d3.1397db","port":0},{"id":"9d94cd03.7d235","port":0}]},{"x":870,"y":520,"wires":[{"id":"9d94cd03.7d235","port":0}]}],"env":[{"name":"motion_ID","type":"str","value":"replace with discovered Motion Sensor ID"}],"meta":{},"color":"#9876D3","outputLabels":["motion true","motion true / false","motion false"],"icon":"node-red/bridge-dash.svg"},{"id":"141a3bcf.ada954","type":"switch","z":"4c3d3acf.2f8024","name":"payload.data.0.motion.motion","property":"payload.data.0.motion.motion","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":440,"wires":[["803a4d3.1397db"],["9d94cd03.7d235"]]},{"id":"803a4d3.1397db","type":"change","z":"4c3d3acf.2f8024","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":400,"wires":[[]]},{"id":"9d94cd03.7d235","type":"change","z":"4c3d3acf.2f8024","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":480,"wires":[[]]},{"id":"b1e1712abe1b5f35","type":"switch","z":"4c3d3acf.2f8024","name":"Motion Sensor ID","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"motion_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":440,"wires":[["141a3bcf.ada954"]]},{"id":"861b0181793d0182","type":"comment","z":"4c3d3acf.2f8024","name":"HUE - Motion Sensor Event Filter \\n \\n Output 1: Will send just an **true** when Motion is detected \\n  \\n Output 2: Will send an **true** when Motion is detected and a **false** if no motion is detected any longer. \\n  \\n Output 3: Will send just an **false** when no Motion is detected any longer. \\n  \\n ----------------------- \\n All outputs are boolean \\n ----------------------- \\n  \\n Most easy Subflow, but convinient when lots of sensors need to be set up.","info":"Output 1:\nWill send just an **true** when Motion is detected\n\nOutput 2:\nWill send an **true** when Motion is detected and a **false** if no motion is detected any longer.\n\nOutput 3:\nWill send just an **false** when no Motion is detected any longer.\n\n-----------------------\nAll outputs are boolean\n-----------------------\n\nMost easy Subflow, but convinient when lots of sensors need to be set up.","x":380,"y":180,"wires":[]},{"id":"8b11354f.4a0658","type":"subflow","name":"HUE Light (Receiver)","info":"","category":"HUE v2","in":[{"x":40,"y":580,"wires":[{"id":"d1cb572d1416b71d"}]}],"out":[{"x":1020,"y":500,"wires":[{"id":"aace2843.2871c8","port":0}]},{"x":1040,"y":580,"wires":[{"id":"aace2843.2871c8","port":0},{"id":"41a47fec.70648","port":0}]},{"x":1020,"y":660,"wires":[{"id":"41a47fec.70648","port":0}]}],"env":[{"name":"light_ID","type":"str","value":"replace with discovered Lamp / Group ID"}],"meta":{},"color":"#86E3FF","outputLabels":["On","On / Off","Off"],"icon":"node-red/light.svg"},{"id":"746939f9.f6b108","type":"rbe","z":"8b11354f.4a0658","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":730,"y":500,"wires":[["aace2843.2871c8"]]},{"id":"aace2843.2871c8","type":"switch","z":"8b11354f.4a0658","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":500,"wires":[[]]},{"id":"2f699b9.a0d8564","type":"change","z":"8b11354f.4a0658","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":460,"wires":[["564377fd.a0e0b8"]]},{"id":"564377fd.a0e0b8","type":"delay","z":"8b11354f.4a0658","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":850,"y":460,"wires":[["746939f9.f6b108"]]},{"id":"fa001d5d.71b28","type":"change","z":"8b11354f.4a0658","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":540,"wires":[["746939f9.f6b108"]]},{"id":"508f9bfa.48bee4","type":"delay","z":"8b11354f.4a0658","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":850,"y":700,"wires":[["13d2358.64a41cb"]]},{"id":"13d2358.64a41cb","type":"rbe","z":"8b11354f.4a0658","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":730,"y":660,"wires":[["41a47fec.70648"]]},{"id":"53e1fe05.52fae","type":"change","z":"8b11354f.4a0658","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":620,"wires":[["13d2358.64a41cb"]]},{"id":"e79cdf6a.98b9a","type":"change","z":"8b11354f.4a0658","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":700,"wires":[["508f9bfa.48bee4"]]},{"id":"41a47fec.70648","type":"switch","z":"8b11354f.4a0658","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":660,"wires":[[]]},{"id":"dac5f0fa.1f40f","type":"switch","z":"8b11354f.4a0658","name":"payload.data.0.on.on","property":"payload.data.0.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":580,"wires":[["fa001d5d.71b28","2f699b9.a0d8564"],["53e1fe05.52fae","e79cdf6a.98b9a"]]},{"id":"b28d5c4586f0ca47","type":"comment","z":"8b11354f.4a0658","name":"HUE light / grouped_light Event Filter \\n  \\n Output 1: This output will send a **true** when Lights or Groups are turned on. \\n  \\n Output 2: This output will send a **true** when Lights or Groups are turned on AND a **false** when Lights or Groups are turned off. \\n  \\n Output 3: This output will send a **false** when Lights or Groups are turned off \\n  \\n Depending on your Situation it can be useful just to have a **true** OR **false** OR **both** states in your Flow. Thats the reason i built this Subflow. \\n Just use the Output that makes you happy :) \\n  \\n ----------------------- \\n All outputs are boolean  \\n ----------------------- \\n  \\n The delays will reset the RBE nodes. \\n You can adjust the times for your needs, but this worked for me prefectly.","info":"Output 1:\nThis output will send a **true** when Lights or Groups are turned on.\n\nOutput 2:\nThis output will send a **true** when Lights or Groups are turned on AND a **false** when Lights or Groups are turned off.\n\nOutput 3:\nThis output will send a **false** when Lights or Groups are turned off\n\nDepending on your Situation it can be useful just to have a **true** OR **false** OR **both** states in your Flow. Thats the reason i built this Subflow.\nJust use the Output that makes you happy :)\n\n-----------------------\nAll outputs are boolean \n-----------------------\n\nThe delays will reset the RBE nodes.\nYou can adjust the times for your needs, but this worked for me prefectly.","x":510,"y":220,"wires":[]},{"id":"d1cb572d1416b71d","type":"switch","z":"8b11354f.4a0658","name":"light / grouped_light ID","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":200,"y":580,"wires":[["dac5f0fa.1f40f"]]},{"id":"a0f46ca3.05bb","type":"subflow","name":"HUE Button (Receiver)","info":"","category":"HUE v2","in":[{"x":40,"y":500,"wires":[{"id":"76a1f7125e873605"}]}],"out":[{"x":1230,"y":240,"wires":[{"id":"b32878f3.1affd8","port":0}]},{"x":1240,"y":440,"wires":[{"id":"3b896174.68dd9e","port":0}]},{"x":1210,"y":600,"wires":[{"id":"4e317780.000048","port":0}]},{"x":1230,"y":760,"wires":[{"id":"5785d67f.aaa618","port":0}]}],"env":[{"name":"button_ID","type":"str","value":"replace with discovered button ID","ui":{"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#E6E0F8","outputLabels":["initial_press","short_release","repeat","long_release"],"icon":"font-awesome/fa-toggle-on"},{"id":"5c9c6f16.5554d","type":"rbe","z":"a0f46ca3.05bb","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":950,"y":240,"wires":[["b32878f3.1affd8"]]},{"id":"b32878f3.1affd8","type":"switch","z":"a0f46ca3.05bb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":240,"wires":[[]]},{"id":"1e0b07e4.60c4d8","type":"change","z":"a0f46ca3.05bb","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":200,"wires":[["b42db4d.b8a2b48"]]},{"id":"b42db4d.b8a2b48","type":"delay","z":"a0f46ca3.05bb","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1070,"y":200,"wires":[["5c9c6f16.5554d"]]},{"id":"95a9a39.1d3dc6","type":"change","z":"a0f46ca3.05bb","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":280,"wires":[["5c9c6f16.5554d"]]},{"id":"b3cdb363.f8188","type":"delay","z":"a0f46ca3.05bb","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1070,"y":720,"wires":[["9e027249.8c0a7"]]},{"id":"9e027249.8c0a7","type":"rbe","z":"a0f46ca3.05bb","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":950,"y":760,"wires":[["5785d67f.aaa618"]]},{"id":"17135676.a1efda","type":"change","z":"a0f46ca3.05bb","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":720,"wires":[["b3cdb363.f8188"]]},{"id":"7f17a1ec.8e6b1","type":"change","z":"a0f46ca3.05bb","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":800,"wires":[["9e027249.8c0a7"]]},{"id":"5785d67f.aaa618","type":"switch","z":"a0f46ca3.05bb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":760,"wires":[[]]},{"id":"16fe52.092431af","type":"switch","z":"a0f46ca3.05bb","name":"payload.data.0.button.last_event","property":"payload.data.0.button.last_event","propertyType":"msg","rules":[{"t":"cont","v":"initial_press","vt":"str"},{"t":"cont","v":"short_release","vt":"str"},{"t":"cont","v":"repeat","vt":"str"},{"t":"cont","v":"long_release","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":660,"y":500,"wires":[["1e0b07e4.60c4d8","95a9a39.1d3dc6"],["46f6f60.375360c","c2c46cf6.3eb51"],["4e317780.000048"],["7f17a1ec.8e6b1","17135676.a1efda"]]},{"id":"824dedac.3b8ea","type":"rbe","z":"a0f46ca3.05bb","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":950,"y":440,"wires":[["3b896174.68dd9e"]]},{"id":"3b896174.68dd9e","type":"switch","z":"a0f46ca3.05bb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":440,"wires":[[]]},{"id":"c2c46cf6.3eb51","type":"change","z":"a0f46ca3.05bb","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":400,"wires":[["6936b721.8e55a8"]]},{"id":"6936b721.8e55a8","type":"delay","z":"a0f46ca3.05bb","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1070,"y":400,"wires":[["824dedac.3b8ea"]]},{"id":"46f6f60.375360c","type":"change","z":"a0f46ca3.05bb","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":480,"wires":[["824dedac.3b8ea"]]},{"id":"4e317780.000048","type":"change","z":"a0f46ca3.05bb","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":600,"wires":[[]]},{"id":"ffcecb8d.db6828","type":"comment","z":"a0f46ca3.05bb","name":"HUE Button Event Filter \\n  \\n Output 1: The **initial_press** comes ALWAYS directly after you push the Button. Quickest response possible! \\n  \\n Output 2: The **short_release** will just appear after the **initial_press**, when you pushed the Button quick. \\n  \\n Output 3: The **repeat** will appear if you hold the button, and will send a message every second until you release it. \\n  \\n Output 4: The **long_release** will appear after the **repeat** ENDED! \\n  \\n -------------------------------- \\n All outputs are boolean **true** \\n -------------------------------- \\n  \\n The delays will reset the RBE node with a false. \\n You can adjust the times for your needs, but this worked for me prefectly.","info":"Output 1:\nThe **initial_press** comes ALWAYS directly after you push the Button. Quickest response possible!\n\nOutput 2:\nThe **short_release** will just appear after the **initial_press**, when you pushed the Button quick.\n\nOutput 3:\nThe **repeat** will appear if you hold the button, and will send a message every second until you release it.\n\nOutput 4:\nThe **long_release** will appear after the **repeat** ENDED!\n\n\n--------------------------------\nAll outputs are boolean **true**\n--------------------------------\n\n\nThe delays will reset the RBE node with a false.\nYou can adjust the times for your needs, but this worked for me prefectly.","x":420,"y":200,"wires":[]},{"id":"76a1f7125e873605","type":"switch","z":"a0f46ca3.05bb","name":"Button ID","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"button_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":500,"wires":[["16fe52.092431af"]]},{"id":"56a9ddfc.0001f4","type":"tab","label":"HUE API V2 Engine","disabled":false,"info":""},{"id":"a78294ebd879b22b","type":"group","z":"56a9ddfc.0001f4","name":"SAMPLES : Advanced commands (Senders)","style":{"label":true,"stroke":"#d1d1d1","fill":"#ffffbf","color":"#7f7f7f","fill-opacity":"0.6"},"nodes":["d08716af.fa7288","49199026.ab11d","6c01a647.956d58","dcc02d41.cffe4","e0476b05.c78068","a482cf6.0bc873","7c4c7287.f973fc","c069714.8eadb9","c4a73add.214f78","538bf907.32de88","5d4d3fc7.0d864","7d4d038.b31a6fc","51258312.d0c33c","b74f58013a96f441","9f7c602e.9a74b","908477fc.4159c8","f210ce78.3061d","35bea1c0.2d67ee","f987fd60.f08d7","8b64befe.3ff7d","3d3b5435.63b7dc","f1a6d7fe.ce85b8","d750744.2ffd588","d3b8101c.76109","8cb919b5.040ad8","31340eef.b41302","edf3f028.f1d01","fce40a59.f541e8","dfe1cb5b.67a688","b67ced85.f24e3","e3cc04f4.c1d138","fe39e95e10d9a713"],"x":654,"y":539,"w":672,"h":842},{"id":"cc307a16ac989975","type":"group","z":"56a9ddfc.0001f4","name":"Step 1. HUE Bridge API v2 - Engine","style":{"label":true,"stroke":"#a4a4a4","fill":"#d1d1d1","color":"#7f7f7f","fill-opacity":"0.6"},"nodes":["99f31f482d72921d","2a03efea391e2967","f0e3b1b47b8c4f4f"],"x":28,"y":153,"w":1304,"h":374},{"id":"e816edac52d67afb","type":"group","z":"56a9ddfc.0001f4","name":"Step 2 : ID / RID Analyzer - One-shot usage to find ID of lights / buttons","style":{"label":true,"stroke":"#9363b7","fill":"#dbcbe7","color":"#3f3f3f","fill-opacity":"0.48"},"nodes":["b9905ba4.2335e8","a8fe8327.b5826","5f81dd61.2b48c4","b0c1c08f.cd09","b260caba.8ee0e8","f50205ef.511b38","c99f72b.86fac9","a92d8993.234808","4ce2bfd3.60447","1134a254.0a791e","6048660a.edfb28","1c2578db.96e2c7","5bf4d24f.d7f07c","e43d3f47.f52f1","c7a424f1.138818","b0e860ed.47474","93fb11ca.c149b","df8fd5f9.59db08","5a3ac02d.42096","8be2de1d.232f2","e3ea92e5.cc115","4a4a0367.b3df5c","ab31bc05.77c0c","bc6de8ba.6fe0a8","c184b3ad.f0547","29f74ca9.125ba4","8b2e2ac7.3015b8","c1c632c6.7c459","5281ce31.81651","ab0eaa70.e72fb8","8b5bcae6.1e48c8","d6d0e3ed.3456","11c52499.8a819b","9da74eb5.c82d4","9d108223.484bb","18ca2231.e3138e","9088582b.14ed48","ed3f26cb.0cf278","461c6f4.a8ac19","3e0417af.770258","9a001341.31be3","a35b7a0f.1afe08","ed685ba8.78f468","6515ee56.e8bbb","eb88fcc7.fe913","ebecd6ca.f71978","ca64ff94.37462","5f661afe.7ce084","a6af15b0.378138","77339fcc.c76a8","e17c6a61.df9538","c50458a6.d2c7c8","e95d779a.615128","20712c19.2fb934","34885ffc.14396","c3a2bcd7.4dde4","df5ee252eac7d40d","5cf150ad225c4b8e","eb0ac954aaf2b57f","5988e4f1ded621ee","49697464f89acdce","87cbe7cc37ee3965","31ee5bfafca6d724","be90744927c5acce","d5cd8a44935df494","e42bded7b069943c","9637e6ba6ec16235","026d91b755f8efa9","74c8bfffa594f40d","42046e82fadb6144","f677a54a9769284a","b89934382bcbc259","71edcc5bb7e3d9c6","8fdee0e80c1fab28","145cc14ad0f586b2","03f96d668411cc11","6f55c280.d3b75c","d412dd90.7e7f7","580835bf.1beb4c"],"x":1354,"y":167,"w":1412,"h":1214,"info":"USe me"},{"id":"fd56e8cd7512a750","type":"group","z":"56a9ddfc.0001f4","name":"SAMPLES : Easy monitor changes (Receivers)","style":{"fill":"#ffffbf","fill-opacity":"0.6","label":true,"stroke":"#d1d1d1","color":"#7f7f7f"},"nodes":["84e4e2f1.1a016","b98cd7f320a6bb30","ac875e16.63482","363c7a56.5b9536","4d466db0.acc304","3c135e8f.96d652","16c9c4ba.16f75b","cebbe3c7.368e6","fd837119.af71c","44c4770b.63ac58","d1f2bed1.99d62","325a9966.f50a76","2739ae8c.8a6c82","24dffc64.54a264","2ca1de10.d9f262","2a5471cb108f5661","ee10574be5916c7d","32a8aa85634b959b","4891482a3140ae46","eba16386963eec18","45380bb405a44d4a","b2e0d0d6cdf458d7"],"x":34,"y":783,"w":612,"h":853},{"id":"0bc4a3b0d316fd37","type":"group","z":"56a9ddfc.0001f4","name":"SAMPLE : Easy Lamp control (Subflow sender)","style":{"stroke":"#d1d1d1","label":true,"fill":"#ffffbf","fill-opacity":"0.6","color":"#7f7f7f"},"nodes":["6f5fed64f7a3f4e9","72db07721cfc5e96","02e55c5e87c3ccab","1ea36d83b83864b0","fe1bc784edeafc9e"],"x":34,"y":539,"w":612,"h":222},{"id":"99f31f482d72921d","type":"group","z":"56a9ddfc.0001f4","g":"cc307a16ac989975","name":"HUE Bridge API v2 - Receiver (Monitoring)","style":{"stroke":"#ffdf7f","fill":"#ffffbf","label":true,"color":"#3f3f3f","fill-opacity":"0.6"},"nodes":["5e30c429f10e4bc0","ee89c8d0.30a558","101ff5fa75158ad7","c6df3b4353536ffa"],"x":54,"y":179,"w":732,"h":122},{"id":"2a03efea391e2967","type":"group","z":"56a9ddfc.0001f4","g":"cc307a16ac989975","name":"HUE Bridge API v2 - Sender (Injecting) - DO NOT CHANGE","style":{"label":true,"stroke":"#ffbfbf","fill":"#ffbfbf","color":"#ff0000","fill-opacity":"0.6"},"nodes":["aed035b1.67d568","6e3a4608.2e8928","d6f5a979.26cb98","13a96f9.261ac9","a9a6378a16bfb1fe","ec5d2be8e26774d2","ee6665c5557fe2ae","65aba98a18250041","af70bab1a78b0a8b","90bd24bd9c03022d","8878c9e6dcae783c"],"x":54,"y":319,"w":1252,"h":182},{"id":"f0e3b1b47b8c4f4f","type":"group","z":"56a9ddfc.0001f4","g":"cc307a16ac989975","name":"","style":{"stroke":"#ffdf7f","label":true,"fill":"#ffffbf","fill-opacity":"0.6"},"nodes":["c123d607.88dfa8","fdfe253ce538e31a","0cb658c58c551dc1"],"x":794,"y":179,"w":512,"h":122},{"id":"8878c9e6dcae783c","type":"junction","z":"56a9ddfc.0001f4","g":"2a03efea391e2967","x":700,"y":380,"wires":[[]]},{"id":"84e4e2f1.1a016","type":"subflow:a0f46ca3.05bb","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"","env":[{"name":"button_ID","value":"replace with discovered button <<ID>>","type":"str"}],"x":280,"y":1280,"wires":[["ac875e16.63482"],["363c7a56.5b9536"],["4d466db0.acc304"],["3c135e8f.96d652"]]},{"id":"cebbe3c7.368e6","type":"subflow:8b11354f.4a0658","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"","env":[{"name":"light_ID","value":"replace with discovered Lamp <<ID>> / Group <<RID>>","type":"str"}],"x":280,"y":980,"wires":[["325a9966.f50a76"],["2739ae8c.8a6c82"],["24dffc64.54a264"]]},{"id":"16c9c4ba.16f75b","type":"subflow:4c3d3acf.2f8024","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"","env":[{"name":"motion_ID","value":"replace with discovered Motion Sensor <<ID>>","type":"str"}],"x":280,"y":1120,"wires":[["fd837119.af71c"],["44c4770b.63ac58"],["d1f2bed1.99d62"]]},{"id":"6f55c280.d3b75c","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Misc Tech. - Get All","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":2170,"y":240,"wires":[["03f96d668411cc11"]]},{"id":"d412dd90.7e7f7","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Misc Tech. - Bridge Home","props":[{"p":"endpoint","v":"bridge_home","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":2150,"y":280,"wires":[["03f96d668411cc11"]]},{"id":"ee89c8d0.30a558","type":"link out","z":"56a9ddfc.0001f4","g":"99f31f482d72921d","name":"HUE Bridge API v2 Receiver","mode":"link","links":["40d3a5e96fd49e78","7dc9365442da8850","b073c2ca.c11b7","bf51feaf2b0d20f4","5e77d5fda10f43e1","b98cd7f320a6bb30","2a5471cb108f5661","ee10574be5916c7d","8a366c952ed297fd","32a8aa85634b959b"],"x":640,"y":260,"wires":[],"l":true},{"id":"ac875e16.63482","type":"debug","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"initial","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1220,"wires":[]},{"id":"363c7a56.5b9536","type":"debug","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"short","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1260,"wires":[]},{"id":"4d466db0.acc304","type":"debug","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"holded","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1300,"wires":[]},{"id":"3c135e8f.96d652","type":"debug","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"long","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1340,"wires":[]},{"id":"fd837119.af71c","type":"debug","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"motion true","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":1080,"wires":[]},{"id":"44c4770b.63ac58","type":"debug","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"motion true + false","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":1120,"wires":[]},{"id":"d1f2bed1.99d62","type":"debug","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"motion false","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":1160,"wires":[]},{"id":"325a9966.f50a76","type":"debug","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"On","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":940,"wires":[]},{"id":"2739ae8c.8a6c82","type":"debug","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"On / Off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":980,"wires":[]},{"id":"24dffc64.54a264","type":"debug","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"Off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1020,"wires":[]},{"id":"2ca1de10.d9f262","type":"comment","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"This filters RECEIVED events for your devices. \\n You need to set-up one node (subflow) for every button / light /  \\n sensor / grouped_light you want to have a response from. \\n To set-up, simply add the 'discovered ID' within the node config.","info":"","x":290,"y":860,"wires":[]},{"id":"8ecbb9e1.8c1d08","type":"comment","z":"56a9ddfc.0001f4","name":"ATTENTION! READ FIRST \\n Step 1a : Configure the 'philipshue-events' node \\n Step 1b : Update the info (key (=secret) and IP address) in 'HUE Bridge config' node \\n Step 2 : Use the RID / ID discovery nodes to discover the Device / Room / Light / ... ID \\n Step 3 : Use the discovered ID's to se-up nodes using Senders / Receivers subflow","info":"ATTENTION! READ FIRST\n\nStep 1a : Configure the 'philipshue-events' node\nStep 1b : Update the info (key (=secret) and IP address) in 'HUE Bridge config' node\nStep 2 : Use the RID / ID discovery nodes to discover the Device / Room / Light / ... ID\nStep 3 : Use the discovered ID's to se-up nodes using Senders / Receivers subflow\n","x":320,"y":80,"wires":[]},{"id":"6c01a647.956d58","type":"change","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"Dimming 10% down / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"dynamics\":{\"duration\":1000},\"dimming_delta\":{\"action\":\"down\",\"brightness_delta\":10}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":660,"wires":[["fe39e95e10d9a713"]]},{"id":"dcc02d41.cffe4","type":"change","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"Light off / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":false},\"dynamics\":{\"duration\":1000}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":740,"wires":[["fe39e95e10d9a713"]]},{"id":"9f7c602e.9a74b","type":"inject","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"launch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":715,"y":660,"wires":[["6c01a647.956d58"]],"l":false},{"id":"f210ce78.3061d","type":"inject","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"launch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":715,"y":620,"wires":[["e0476b05.c78068"]],"l":false},{"id":"908477fc.4159c8","type":"inject","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":715,"y":740,"wires":[["dcc02d41.cffe4"]],"l":false},{"id":"e0476b05.c78068","type":"change","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"Light on / 100% / orange / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100},\"dynamics\":{\"duration\":1000},\"color\":{\"xy\":{\"x\":0.6101,\"y\":0.3662}}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":620,"wires":[["fe39e95e10d9a713"]]},{"id":"a482cf6.0bc873","type":"change","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"Dimming 10% up / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"dynamics\":{\"duration\":1000},\"dimming_delta\":{\"action\":\"up\",\"brightness_delta\":10}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":700,"wires":[["fe39e95e10d9a713"]]},{"id":"35bea1c0.2d67ee","type":"inject","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"launch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":715,"y":700,"wires":[["a482cf6.0bc873"]],"l":false},{"id":"7c4c7287.f973fc","type":"change","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"Light on / 100% / red / alert flashing","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100},\"color\":{\"xy\":{\"x\":0.7,\"y\":0.25}},\"alert\":{\"action\":\"breathe\"}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":780,"wires":[["fe39e95e10d9a713"]]},{"id":"f987fd60.f08d7","type":"inject","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"launch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":715,"y":780,"wires":[["7c4c7287.f973fc"]],"l":false},{"id":"c069714.8eadb9","type":"change","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"Light on / 80% / 2s transition / color temp cold 153","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":80},\"dynamics\":{\"duration\":2000},\"color_temperature\":{\"mirek\":153}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":820,"wires":[["fe39e95e10d9a713"]]},{"id":"8b64befe.3ff7d","type":"inject","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"launch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":715,"y":820,"wires":[["c069714.8eadb9"]],"l":false},{"id":"d08716af.fa7288","type":"change","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"Light on / 50% / 1s transition / color temp warm 500","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":50},\"dynamics\":{\"duration\":1000},\"color_temperature\":{\"mirek\":500}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":860,"wires":[["fe39e95e10d9a713"]]},{"id":"49199026.ab11d","type":"inject","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"launch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":715,"y":860,"wires":[["d08716af.fa7288"]],"l":false},{"id":"e3cc04f4.c1d138","type":"comment","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"lights - DOUBLE CLICK FOR INFO","info":"","x":840,"y":580,"wires":[]},{"id":"c4a73add.214f78","type":"change","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"Room or Zone on / 100% / orange / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"replace with discovered !!!>> RID <<!!!","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100},\"dynamics\":{\"duration\":1000},\"color\":{\"xy\":{\"x\":0.6101,\"y\":0.3662}}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":960,"wires":[["fe39e95e10d9a713"]]},{"id":"3d3b5435.63b7dc","type":"inject","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"launch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":715,"y":960,"wires":[["c4a73add.214f78"]],"l":false},{"id":"edf3f028.f1d01","type":"comment","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"grouped_light - DOUBLE CLICK FOR INFO","info":"(Rooms & Zones) can be controlled in almost the samme way as lights. \n\nJust the endpoint in the change node is different and instead of using the ID of a Room / Zone you need to use the discoverd **rid **\n\ngrouped_light is a service (rid) that is connected to the group/zone ID","x":860,"y":920,"wires":[]},{"id":"538bf907.32de88","type":"change","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"Motion Sensor DISABLED","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"motion","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"enabled\":false}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1240,"wires":[["fe39e95e10d9a713"]]},{"id":"5d4d3fc7.0d864","type":"change","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"Motion Sensor ENABLED","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"motion","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"enabled\":true}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1200,"wires":[["fe39e95e10d9a713"]]},{"id":"f1a6d7fe.ce85b8","type":"inject","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"launch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":715,"y":1240,"wires":[["538bf907.32de88"]],"l":false},{"id":"d750744.2ffd588","type":"inject","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"launch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":715,"y":1200,"wires":[["5d4d3fc7.0d864"]],"l":false},{"id":"dfe1cb5b.67a688","type":"comment","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"Motion Sensor ENABLED / DISABLED","info":"","x":850,"y":1160,"wires":[]},{"id":"7d4d038.b31a6fc","type":"change","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"Recall a Scene","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"scene","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"recall\":{\"action\":\"active\"}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1100,"wires":[["fe39e95e10d9a713"]],"icon":"font-awesome/fa-star"},{"id":"51258312.d0c33c","type":"change","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"Room or Zone off","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"replace with discovered !!!>> RID <<!!!","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":false}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":1000,"wires":[["fe39e95e10d9a713"]]},{"id":"8cb919b5.040ad8","type":"inject","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"launch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":715,"y":1000,"wires":[["51258312.d0c33c"]],"l":false},{"id":"d3b8101c.76109","type":"inject","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"launch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":715,"y":1100,"wires":[["7d4d038.b31a6fc"]],"l":false},{"id":"fce40a59.f541e8","type":"comment","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"Recall a Scene - DOUBLE CLICK FOR INFO","info":"I highly recommend to use Scenes to turn on Rooms/Zones. This is just one request to the Bridge and the rest is processed in the bridge. When 4 lights are turned on simultanious, the bridge possible wont be able to handle these requests at once.\n\nIf you have a sestup where it is needed to turn on seperate lights, then add delay nodes i front of the chhange node. \n\nExample: 4 Lights need to be tunes on, \nlight 1 = no delay\nlight 2 = 200ms delay\nlight 3 = 400ms delay\nlight 4 = 600ms delay\n\nwhen turning light off simultanious, this should be done in this way. Better is to turn off Rooms or Zones with one request.","x":870,"y":1060,"wires":[]},{"id":"b74f58013a96f441","type":"change","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"Get State","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ADD GROUP RID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"get","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1340,"wires":[["fe39e95e10d9a713"]]},{"id":"b9905ba4.2335e8","type":"comment","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Helper Functions for RID / ID discovery \\n This helps you to discover the ID / RID for Scenes / lights / grouped_light","info":"","x":1660,"y":220,"wires":[]},{"id":"31340eef.b41302","type":"inject","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"launch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":715,"y":1340,"wires":[["b74f58013a96f441"]],"l":false},{"id":"b67ced85.f24e3","type":"comment","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"Get state of a Group","info":"","x":790,"y":1300,"wires":[]},{"id":"a8fe8327.b5826","type":"switch","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Room","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"room","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2050,"y":360,"wires":[["5281ce31.81651","18ca2231.e3138e"]]},{"id":"5f81dd61.2b48c4","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Scenes Zone (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"zone_scenes","payloadType":"flow","x":1530,"y":1140,"wires":[["42046e82fadb6144"]]},{"id":"b0c1c08f.cd09","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"rooms","rules":[{"t":"set","p":"rooms","pt":"flow","to":"keys","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2450,"y":340,"wires":[["1c2578db.96e2c7"]]},{"id":"b260caba.8ee0e8","type":"switch","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Scene","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"scene","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2050,"y":560,"wires":[["a92d8993.234808","9d108223.484bb"]]},{"id":"f50205ef.511b38","type":"switch","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Light","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"light","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2050,"y":820,"wires":[["c184b3ad.f0547"]]},{"id":"c99f72b.86fac9","type":"switch","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Zone","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"zone","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2050,"y":460,"wires":[["9da74eb5.c82d4","11c52499.8a819b"]]},{"id":"a92d8993.234808","type":"function","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Scene Name, ID, Zone Name","func":"var response = [];\nvar zones = flow.get(\"zones\") || {};\nvar size = Object.keys(zones).length;\nif(size <= 0) {\n    node.error(\"Please Update Zones First\");\n}\nmsg.payload.data.forEach(function(item){\n    if (zones[item.group.rid] !== undefined) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            // \"rid\": item.group.rid,\n            // \"rtype\": item.group.rtype,\n            \"zone-name\": zones[item.group.rid]\n        };\n    response.push(pair);\n    }\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Scene name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":580,"wires":[["93fb11ca.c149b"]]},{"id":"4ce2bfd3.60447","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"zones","rules":[{"t":"set","p":"zones","pt":"flow","to":"keys","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2450,"y":440,"wires":[["5bf4d24f.d7f07c"]]},{"id":"1134a254.0a791e","type":"debug","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Room Scenes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2640,"y":540,"wires":[]},{"id":"6048660a.edfb28","type":"debug","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Zone Scenes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2630,"y":580,"wires":[]},{"id":"1c2578db.96e2c7","type":"debug","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Rooms","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2620,"y":340,"wires":[]},{"id":"5bf4d24f.d7f07c","type":"debug","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Zones","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2610,"y":440,"wires":[]},{"id":"e43d3f47.f52f1","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"1. Get all Data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1560,"y":380,"wires":[["5988e4f1ded621ee","df5ee252eac7d40d"]]},{"id":"c7a424f1.138818","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"room scenes","rules":[{"t":"set","p":"room_scenes","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2470,"y":540,"wires":[["1134a254.0a791e"]]},{"id":"b0e860ed.47474","type":"comment","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"1 - Readme - DOUBLE CLICK","info":"This Flow is for discovering the needed IDs / RIDs. This makes it easier instead of searching in the payload of the https response from the Bridge!\n\n**Thanks to fellow Github User @marc-gist who had this great idea and programmed the function nodes!**\n\n\"Get all Data\" discovers Datapoints from:\n\n- Rooms / Zones\n- Scenes\n- Devices\n- Motion Sensors\n- Buttons\n- Lights\n\nThe process takes about 15 seconds, depending on your setup. You directly see arrays in the debug window, but the context is also stored in a variable. \n\n>>> No need to change anything in this Flow <<<\n\n- By clicking \"Get all Data\" Inject Node, you also refresh the stored Data. \n\n- The \"Delete\" Inject Node is for deleting the storead Data if needed at some point.\n\n","x":1520,"y":340,"wires":[]},{"id":"93fb11ca.c149b","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"zone scenes","rules":[{"t":"set","p":"zone_scenes","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2470,"y":580,"wires":[["6048660a.edfb28"]]},{"id":"df8fd5f9.59db08","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Scenes Zone (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"zone_scenes","payloadType":"flow","x":1540,"y":1100,"wires":[["42046e82fadb6144"]]},{"id":"5a3ac02d.42096","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Scenes Room (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"room_scenes","payloadType":"flow","x":1530,"y":900,"wires":[["42046e82fadb6144"]]},{"id":"8be2de1d.232f2","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Scenes Room (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"room_scenes","payloadType":"flow","x":1530,"y":940,"wires":[["42046e82fadb6144"]]},{"id":"e3ea92e5.cc115","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"DELETE STORED CONTEXT","rules":[{"t":"delete","p":"zones","pt":"flow"},{"t":"delete","p":"rooms","pt":"flow"},{"t":"delete","p":"lights","pt":"flow"},{"t":"delete","p":"zone_scenes","pt":"flow"},{"t":"delete","p":"room_scenes","pt":"flow"},{"t":"delete","p":"rooms_array","pt":"flow"},{"t":"delete","p":"zones_array","pt":"flow"},{"t":"delete","p":"devices","pt":"flow"},{"t":"delete","p":"motion","pt":"flow"},{"t":"delete","p":"lights","pt":"flow"},{"t":"delete","p":"button","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":280,"wires":[[]]},{"id":"4a4a0367.b3df5c","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"0. Delete","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1580,"y":280,"wires":[["e3ea92e5.cc115"]]},{"id":"ab31bc05.77c0c","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"lights","rules":[{"t":"set","p":"lights","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2450,"y":820,"wires":[["bc6de8ba.6fe0a8"]]},{"id":"bc6de8ba.6fe0a8","type":"debug","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Lights","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2610,"y":820,"wires":[]},{"id":"c184b3ad.f0547","type":"function","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Light Name, ID, Abilities","func":"var response = [];\nvar rooms = flow.get(\"rooms\") || {};\nvar size = Object.keys(rooms).length;\nif(size <= 0) {\n    node.error(\"Please Update Rooms First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"name\": item.metadata.name,\n        \"type\": item.metadata.archetype,\n        \"id\": item.id,\n        \"color\": item.hasOwnProperty(\"color\") ? true : false,\n        \"temp\": item.hasOwnProperty(\"color_temperature\") ? true : false\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Lights\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2230,"y":820,"wires":[["ab31bc05.77c0c"]]},{"id":"29f74ca9.125ba4","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Buttons (an Array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"button","payloadType":"flow","x":1550,"y":1300,"wires":[["42046e82fadb6144"]]},{"id":"8b2e2ac7.3015b8","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Buttons (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"button","payloadType":"flow","x":1550,"y":1340,"wires":[["42046e82fadb6144"]]},{"id":"c1c632c6.7c459","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Rooms (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"rooms_array","payloadType":"flow","x":1550,"y":840,"wires":[["42046e82fadb6144"]]},{"id":"5281ce31.81651","type":"function","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Room Name and ID","func":"var response = [];\nvar roomkeys = {};\nmsg.payload.data.forEach(function(item){\n    if(item.services.length > 0) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            \"rid\": item.services[0].rid,\n            \"rtype\": item.services[0].rtype\n        };\n        roomkeys[item.id] = item.metadata.name;\n        response.push(pair);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"rooms name/rid\",\n    \"keys\": roomkeys\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2210,"y":340,"wires":[["b0c1c08f.cd09"]]},{"id":"ab0eaa70.e72fb8","type":"switch","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Device","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"device","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2050,"y":640,"wires":[["8b5bcae6.1e48c8"]]},{"id":"8b5bcae6.1e48c8","type":"function","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Devices Button and Motion","func":"// NOTE: Devices have multipe rtypes in the services\n// This script grabs the first one, so a motion sensor may show\n// up as \"temperature\" as it also does temp. don't worry\n// this script is more to get the name of the devices to help\n// with the button/motion scripts.\nvar response = [];\nvar devices = {};\nmsg.payload.data.forEach(function(item){\n    try {\n        if(item.metadata.archetype == \"unknown_archetype\") {\n            var pair = {\n                \"name\": item.metadata.name,\n                \"id\": item.id,\n                \"rid\": item.services[0].rid,\n                \"rtype\": item.services[0].rtype\n            };\n            devices[item.id] = item.metadata.name;\n            response.push(pair);\n        }\n    } catch(err) {\n        node.warn(err);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"devices name/rid\",\n    \"keys\": devices\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":640,"wires":[["d6d0e3ed.3456"]]},{"id":"d6d0e3ed.3456","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"devices","rules":[{"t":"set","p":"devices","pt":"flow","to":"keys","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2460,"y":640,"wires":[["ed685ba8.78f468"]]},{"id":"11c52499.8a819b","type":"function","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Zone Name and ID","func":"var response = [];\nvar roomkeys = {};\nmsg.payload.data.forEach(function(item){\n    if(item.hasOwnProperty(\"services\")) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            \"rid\": item.services[0].rid,\n            \"rtype\": item.services[0].rtype\n        };\n        roomkeys[item.id] = item.metadata.name;\n        response.push(pair);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"zones name/rid\",\n    \"keys\": roomkeys\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2210,"y":440,"wires":[["4ce2bfd3.60447"]]},{"id":"9da74eb5.c82d4","type":"function","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Zone Name and ID (array)","func":"var response = [];\nmsg.payload.data.forEach(function(item){\n    if(item.services.length > 0) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            \"rid\": item.services[0].rid,\n            \"rtype\": item.services[0].rtype\n        };\n         response.push(pair);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"zones name/rid\",\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2240,"y":480,"wires":[["ed3f26cb.0cf278"]]},{"id":"9d108223.484bb","type":"function","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Scene Name, ID, Room Name","func":"var response = [];\nvar rooms = flow.get(\"rooms\") || {};\nvar size = Object.keys(rooms).length;\nif(size <= 0) {\n    node.error(\"Please Update Rooms First\");\n}\nmsg.payload.data.forEach(function(item){\n    if (rooms[item.group.rid] !== undefined) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            // \"rid\": item.group.rid,\n            // \"rtype\": item.group.rtype,\n            \"room-name\": rooms[item.group.rid]\n        };\n        response.push(pair);\n    }\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Scene name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2250,"y":540,"wires":[["c7a424f1.138818"]]},{"id":"18ca2231.e3138e","type":"function","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Room Name and ID (array)","func":"var response = [];\nmsg.payload.data.forEach(function(item){\n    if(item.services.length > 0) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            \"rid\": item.services[0].rid,\n            \"rtype\": item.services[0].rtype\n        };\n         response.push(pair);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"rooms name/rid\",\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2240,"y":380,"wires":[["9088582b.14ed48"]]},{"id":"9088582b.14ed48","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"rooms_array","rules":[{"t":"set","p":"rooms_array","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2470,"y":380,"wires":[[]]},{"id":"ed3f26cb.0cf278","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"zones_array","rules":[{"t":"set","p":"zones_array","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2470,"y":480,"wires":[[]]},{"id":"461c6f4.a8ac19","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Rooms (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"rooms_array","payloadType":"flow","x":1550,"y":800,"wires":[["42046e82fadb6144"]]},{"id":"3e0417af.770258","type":"debug","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"API V2 DATA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2170,"y":920,"wires":[]},{"id":"9a001341.31be3","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Zones (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"zones_array","payloadType":"flow","x":1550,"y":1040,"wires":[["42046e82fadb6144"]]},{"id":"a35b7a0f.1afe08","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Zones (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"zones_array","payloadType":"flow","x":1560,"y":1000,"wires":[["42046e82fadb6144"]]},{"id":"ed685ba8.78f468","type":"debug","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Devices","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2620,"y":640,"wires":[]},{"id":"6515ee56.e8bbb","type":"switch","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Motion","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"motion","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2050,"y":700,"wires":[["eb88fcc7.fe913"]]},{"id":"eb88fcc7.fe913","type":"function","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Motion Name, ID, Device Name","func":"var response = [];\nvar devices = flow.get(\"devices\") || {};\nvar size = Object.keys(devices).length;\nif(size <= 0) {\n    node.error(\"Please Update Devices First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"Device\": devices[item.owner.rid],\n        \"id\": item.id,\n        \"type\": item.type,\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Motion name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2250,"y":700,"wires":[["ca64ff94.37462"]]},{"id":"ebecd6ca.f71978","type":"debug","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Motion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2610,"y":700,"wires":[]},{"id":"ca64ff94.37462","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"motion","rules":[{"t":"set","p":"motion","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2450,"y":700,"wires":[["ebecd6ca.f71978"]]},{"id":"5f661afe.7ce084","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Motion Senors (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"motion","payloadType":"flow","x":1520,"y":1240,"wires":[["42046e82fadb6144"]]},{"id":"a6af15b0.378138","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Motion Sensors (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"motion","payloadType":"flow","x":1530,"y":1200,"wires":[["42046e82fadb6144"]]},{"id":"77339fcc.c76a8","type":"switch","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Button","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2050,"y":760,"wires":[["e95d779a.615128"]]},{"id":"e17c6a61.df9538","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Lights (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"lights","payloadType":"flow","x":1550,"y":740,"wires":[["42046e82fadb6144"]]},{"id":"c50458a6.d2c7c8","type":"inject","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Lights (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"lights","payloadType":"flow","x":1560,"y":700,"wires":[["42046e82fadb6144"]]},{"id":"e95d779a.615128","type":"function","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Button Name, ID, Device Name","func":"var response = [];\nvar devices = flow.get(\"devices\") || {};\nvar size = Object.keys(devices).length;\nif(size <= 0) {\n    node.error(\"Please Update Devices First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"Device\": devices[item.owner.rid],\n        \"id\": item.id,\n        \"type\": item.type,\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Motion name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2250,"y":760,"wires":[["20712c19.2fb934"]]},{"id":"20712c19.2fb934","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"button","rules":[{"t":"set","p":"button","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2450,"y":760,"wires":[["34885ffc.14396"]]},{"id":"34885ffc.14396","type":"debug","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Button","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2610,"y":760,"wires":[]},{"id":"c3a2bcd7.4dde4","type":"comment","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"2 - Readme - DOUBLE CLICK","info":"After you got all Data stored, you can easily access it here again, by clicking the inject nodes.\n\nDepending on your favorite way to do it, you can get an array in response or seperate payloads for every device. \n\nTry it out!","x":1520,"y":660,"wires":[]},{"id":"5e30c429f10e4bc0","type":"philipshue-events","z":"56a9ddfc.0001f4","g":"99f31f482d72921d","bridge":"","x":200,"y":260,"wires":[["ee89c8d0.30a558","101ff5fa75158ad7"]]},{"id":"df5ee252eac7d40d","type":"delay","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1560,"y":420,"wires":[["5cf150ad225c4b8e","eb0ac954aaf2b57f"]]},{"id":"5cf150ad225c4b8e","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"zone","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"zone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":420,"wires":[["145cc14ad0f586b2"]]},{"id":"eb0ac954aaf2b57f","type":"delay","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1560,"y":460,"wires":[["49697464f89acdce","87cbe7cc37ee3965"]]},{"id":"5988e4f1ded621ee","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"room","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"room","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":380,"wires":[["145cc14ad0f586b2"]]},{"id":"49697464f89acdce","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"scene","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"scene","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":460,"wires":[["145cc14ad0f586b2"]]},{"id":"87cbe7cc37ee3965","type":"delay","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1560,"y":500,"wires":[["be90744927c5acce","9637e6ba6ec16235"]]},{"id":"31ee5bfafca6d724","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"motion","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":540,"wires":[["145cc14ad0f586b2"]]},{"id":"be90744927c5acce","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"device","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"device","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":500,"wires":[["145cc14ad0f586b2"]]},{"id":"d5cd8a44935df494","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"button","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"button","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":580,"wires":[["145cc14ad0f586b2"]]},{"id":"e42bded7b069943c","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"light","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":620,"wires":[["145cc14ad0f586b2"]]},{"id":"9637e6ba6ec16235","type":"delay","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1560,"y":540,"wires":[["31ee5bfafca6d724","026d91b755f8efa9"]]},{"id":"026d91b755f8efa9","type":"delay","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1560,"y":580,"wires":[["d5cd8a44935df494","74c8bfffa594f40d"]]},{"id":"74c8bfffa594f40d","type":"delay","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1560,"y":620,"wires":[["e42bded7b069943c"]]},{"id":"42046e82fadb6144","type":"switch","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"array","vt":"str"},{"t":"eq","v":"split","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1770,"y":940,"wires":[["71edcc5bb7e3d9c6"],["b89934382bcbc259"]]},{"id":"f677a54a9769284a","type":"split","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1930,"y":1020,"wires":[["8fdee0e80c1fab28"]]},{"id":"b89934382bcbc259","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"del topic","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1900,"y":980,"wires":[["f677a54a9769284a"]]},{"id":"71edcc5bb7e3d9c6","type":"change","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"del topic","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"parts","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1920,"y":920,"wires":[["8fdee0e80c1fab28"]]},{"id":"8fdee0e80c1fab28","type":"function","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"Ouput","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2070,"y":960,"wires":[["3e0417af.770258"]]},{"id":"145cc14ad0f586b2","type":"link call","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"HUE \\n Sender","links":["6e3a4608.2e8928"],"linkType":"static","timeout":"30","x":1880,"y":500,"wires":[["a8fe8327.b5826","b260caba.8ee0e8","f50205ef.511b38","c99f72b.86fac9","ab0eaa70.e72fb8","6515ee56.e8bbb","77339fcc.c76a8"]]},{"id":"03f96d668411cc11","type":"link call","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"","links":["6e3a4608.2e8928"],"linkType":"static","timeout":"30","x":2430,"y":260,"wires":[["580835bf.1beb4c"]]},{"id":"580835bf.1beb4c","type":"debug","z":"56a9ddfc.0001f4","g":"e816edac52d67afb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2610,"y":260,"wires":[]},{"id":"b98cd7f320a6bb30","type":"link in","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"HUE IN","links":["ee89c8d0.30a558"],"x":110,"y":1120,"wires":[["16c9c4ba.16f75b"]],"l":true},{"id":"fe39e95e10d9a713","type":"link call","z":"56a9ddfc.0001f4","g":"a78294ebd879b22b","name":"HUE OUT","links":["6e3a4608.2e8928"],"linkType":"static","timeout":"30","x":1240,"y":960,"wires":[[]]},{"id":"2a5471cb108f5661","type":"link in","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"HUE IN","links":["ee89c8d0.30a558"],"x":110,"y":1280,"wires":[["84e4e2f1.1a016"]],"l":true},{"id":"ee10574be5916c7d","type":"link in","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"HUE IN","links":["ee89c8d0.30a558"],"x":110,"y":980,"wires":[["cebbe3c7.368e6"]],"l":true},{"id":"6f5fed64f7a3f4e9","type":"subflow:22c6f6c185a55668","z":"56a9ddfc.0001f4","g":"0bc4a3b0d316fd37","name":"","env":[{"name":"light_ID","value":"replace with discovered Lamp <<ID>> / Group <<RID>>","type":"str"},{"name":"light_Type","value":"grouped_light","type":"str"},{"name":"on","value":"true","type":"bool"},{"name":"light_id","value":"c4c2a379-2ef7-45d4-a6c0-b726369f4746","type":"str"}],"x":530,"y":640,"wires":[[]]},{"id":"72db07721cfc5e96","type":"inject","z":"56a9ddfc.0001f4","g":"0bc4a3b0d316fd37","name":"Turn on (Payload=True)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":250,"y":580,"wires":[["6f5fed64f7a3f4e9"]],"icon":"font-awesome/fa-toggle-on"},{"id":"02e55c5e87c3ccab","type":"inject","z":"56a9ddfc.0001f4","g":"0bc4a3b0d316fd37","name":"Turn off (Payload=False)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":250,"y":620,"wires":[["6f5fed64f7a3f4e9"]],"icon":"font-awesome/fa-toggle-off"},{"id":"1ea36d83b83864b0","type":"inject","z":"56a9ddfc.0001f4","g":"0bc4a3b0d316fd37","name":"Set brightness 100% (Payload=100)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":220,"y":680,"wires":[["6f5fed64f7a3f4e9"]],"icon":"font-awesome/fa-star"},{"id":"fe1bc784edeafc9e","type":"inject","z":"56a9ddfc.0001f4","g":"0bc4a3b0d316fd37","name":"Set brightness 20% (Payload=20)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":220,"y":720,"wires":[["6f5fed64f7a3f4e9"]],"icon":"font-awesome/fa-star-half-empty"},{"id":"101ff5fa75158ad7","type":"debug","z":"56a9ddfc.0001f4","g":"99f31f482d72921d","name":"HUE monitor","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":240,"wires":[]},{"id":"aed035b1.67d568","type":"function","z":"56a9ddfc.0001f4","g":"2a03efea391e2967","name":"HUE API V2","func":"// ACTION REQUIRED : You can copy the user key from the hue config node out of Huemagic\nlet user = flow.get('HUEBridge_Key');\nlet ip = flow.get('HUEBridge_IP');\n\n// DO NOT CHANGE UNDERNEATH\nif(msg.endpoint === undefined)\n msg.url = 'https://' + ip + '/clip/v2/resource';\nelse if(msg.topic === undefined)\n msg.url = 'https://' + ip + '/clip/v2/resource/' + msg.endpoint;\nelse\n msg.url = 'https://' + ip + '/clip/v2/resource/' + msg.endpoint + \"/\" + msg.topic;\n\nmsg.headers = {};\n\nmsg.headers['hue-application-key'] = user;\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\n\nif (msg.payload != undefined) {\n    msg.headers['ContentLength'] = JSON.stringify(msg.payload).length;\n}\nif (msg.verb === undefined) {\n    msg.method = \"get\";\n} else {\n    msg.method = msg.verb;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":400,"wires":[["a9a6378a16bfb1fe"]],"icon":"font-awesome/fa-send"},{"id":"6e3a4608.2e8928","type":"link in","z":"56a9ddfc.0001f4","g":"2a03efea391e2967","name":"HUE API v2 Sender","links":[],"x":170,"y":400,"wires":[["aed035b1.67d568"]],"l":true},{"id":"d6f5a979.26cb98","type":"http request","z":"56a9ddfc.0001f4","g":"2a03efea391e2967","name":"https HUE API V2","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"4bc31af9bd03bbdc","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":770,"y":400,"wires":[["90bd24bd9c03022d"]]},{"id":"13a96f9.261ac9","type":"link out","z":"56a9ddfc.0001f4","g":"2a03efea391e2967","name":"API Response OUT","mode":"return","links":[],"x":1190,"y":400,"wires":[],"l":true},{"id":"a9a6378a16bfb1fe","type":"function","z":"56a9ddfc.0001f4","g":"2a03efea391e2967","name":"Take snapshot \\n - or - \\n Restore snapshot \\n (retry processing)","func":"// Take a copy of payload & headers as they are now to be able to re-use it on retry\nif (msg.retryInfo === undefined) {\n    // msg was never processed befor, take a copy (snapshot) of key values to be re-applied in case of retry\n    msg.retryInfo = {}\n    msg.retryInfo.payload = msg.payload;\n    msg.retryInfo.headers = msg.headers;\n    msg.retryInfo.retryCount = 0;\n} else {\n    // msg was processed at least once before, apply snapshot'd values back\n    msg.payload = msg.retryInfo.payload;\n    msg.headers = msg.retryInfo.headers;\n    msg.statusCode = undefined;\n    msg.retryInfo.retryCount++\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":400,"wires":[["d6f5a979.26cb98"]],"outputLabels":["Blocked msg to send to repeater"],"icon":"font-awesome/fa-copy"},{"id":"ec5d2be8e26774d2","type":"delay","z":"56a9ddfc.0001f4","g":"2a03efea391e2967","name":"..wait a bit (0.25s - 0.5s)...","pauseType":"random","timeout":"1100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"250","randomLast":"500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":320,"y":460,"wires":[["a9a6378a16bfb1fe"]]},{"id":"ee6665c5557fe2ae","type":"debug","z":"56a9ddfc.0001f4","g":"2a03efea391e2967","name":"HUE API error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1180,"y":440,"wires":[]},{"id":"65aba98a18250041","type":"link in","z":"56a9ddfc.0001f4","g":"2a03efea391e2967","name":"Retry...","links":["af70bab1a78b0a8b"],"x":130,"y":460,"wires":[["ec5d2be8e26774d2"]],"l":true},{"id":"af70bab1a78b0a8b","type":"link out","z":"56a9ddfc.0001f4","g":"2a03efea391e2967","name":"Try to retry...","mode":"link","links":["65aba98a18250041"],"x":1170,"y":360,"wires":[],"l":true},{"id":"90bd24bd9c03022d","type":"switch","z":"56a9ddfc.0001f4","g":"2a03efea391e2967","name":"Catch Error 503","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"503","vt":"num"},{"t":"regex","v":"2\\d\\d","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":960,"y":400,"wires":[["af70bab1a78b0a8b"],["13a96f9.261ac9"],["13a96f9.261ac9","ee6665c5557fe2ae"]],"outputLabels":["503 : too many calls sent","2xx : all OK","others (Error)"]},{"id":"c6df3b4353536ffa","type":"comment","z":"56a9ddfc.0001f4","g":"99f31f482d72921d","name":"1a. Configure the node","info":"","x":180,"y":220,"wires":[]},{"id":"0cb658c58c551dc1","type":"change","z":"56a9ddfc.0001f4","g":"f0e3b1b47b8c4f4f","name":"HUE Bridge config","rules":[{"t":"set","p":"HUEBridge_IP","pt":"flow","to":"<<Enter HUE Bridge IP xxx.xxx.xxx.xxx>>","tot":"str"},{"t":"set","p":"HUEBridge_Key","pt":"flow","to":"<<Enter HUE Bridge key>>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":260,"wires":[[]]},{"id":"fdfe253ce538e31a","type":"inject","z":"56a9ddfc.0001f4","g":"f0e3b1b47b8c4f4f","name":"push HUE config","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":930,"y":260,"wires":[["0cb658c58c551dc1"]]},{"id":"c123d607.88dfa8","type":"comment","z":"56a9ddfc.0001f4","g":"f0e3b1b47b8c4f4f","name":"1b. Update IP & Key info","info":"","x":1170,"y":220,"wires":[]},{"id":"eba16386963eec18","type":"subflow:a0f46ca3.05bb","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"Switch - Button 2","env":[{"name":"button_ID","value":"Enter Button 2 <<ID>> here","type":"str"},{"name":"button_RID","value":"ab64accd-52fc-484b-aead-b90dfe82cacb","type":"str"}],"x":330,"y":1460,"wires":[[],[],[],[]]},{"id":"32a8aa85634b959b","type":"link in","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"HUE IN","links":["ee89c8d0.30a558"],"x":110,"y":1480,"wires":[["4891482a3140ae46","eba16386963eec18","45380bb405a44d4a","b2e0d0d6cdf458d7"]],"l":true},{"id":"4891482a3140ae46","type":"subflow:a0f46ca3.05bb","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"Switch - Button 1","env":[{"name":"button_ID","value":"Enter Button 1 <<ID>> here","type":"str"},{"name":"button_RID","value":"e8b07aa6-c800-44d9-a4c6-de4534d2d17b","type":"str"}],"x":330,"y":1400,"wires":[[],[],[],[]]},{"id":"45380bb405a44d4a","type":"subflow:a0f46ca3.05bb","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"Switch - Button 3","env":[{"name":"button_ID","value":"Enter Button 3 <<ID>> here","type":"str"},{"name":"button_RID","value":"5ba1cf70-fd0a-4edd-b1a1-bfb6ddcdc591","type":"str"}],"x":330,"y":1520,"wires":[[],[],[],[]]},{"id":"b2e0d0d6cdf458d7","type":"subflow:a0f46ca3.05bb","z":"56a9ddfc.0001f4","g":"fd56e8cd7512a750","name":"Switch - Button 4","env":[{"name":"button_ID","value":"Enter Button 4 <<ID>> here","type":"str"},{"name":"button_RID","value":"f66f3f5f-b117-4a99-af39-ce80397d6ade","type":"str"}],"x":330,"y":1580,"wires":[[],[],[],[]]},{"id":"4bc31af9bd03bbdc","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false,"alpnprotocol":""}]