HUE-CLIP-API_Node-Red-Flows.json
[{"id":"7a14643a.75260c","type":"subflow","name":"Splitter","info":"","category":"","in":[{"x":540,"y":300,"wires":[{"id":"273108cc.4b9928"}]}],"out":[{"x":960,"y":300,"wires":[{"id":"a7524f72.576f3","port":0},{"id":"f3125664899350c0","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"273108cc.4b9928","type":"switch","z":"7a14643a.75260c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"split","vt":"str"},{"t":"eq","v":"array","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":300,"wires":[["fb18185d.5df9e8"],["f3125664899350c0"]]},{"id":"a7524f72.576f3","type":"split","z":"7a14643a.75260c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":810,"y":240,"wires":[[]]},{"id":"fb18185d.5df9e8","type":"change","z":"7a14643a.75260c","name":"del topic","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":280,"wires":[["a7524f72.576f3"]]},{"id":"f3125664899350c0","type":"change","z":"7a14643a.75260c","name":"del topic","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":320,"wires":[[]]},{"id":"d1abcd4.10bc03","type":"subflow","name":"Request Timer","info":"","category":"","in":[{"x":320,"y":180,"wires":[{"id":"ae3b4275178b1b9a"}]}],"out":[{"x":860,"y":300,"wires":[{"id":"244e6655.741d9a","port":0},{"id":"6bd8af1f.89fdd","port":0},{"id":"2a5d491d.97c806","port":0},{"id":"9e7f2747.5c4628","port":0},{"id":"c2dcb099.f3e78","port":0},{"id":"9fd56572.0c0b38","port":0},{"id":"f15b3597.8713b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f0a2d4f4.19a288","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":480,"y":220,"wires":[["6bd8af1f.89fdd","a0bdc284.5e792"]]},{"id":"a0bdc284.5e792","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":480,"y":260,"wires":[["2a5d491d.97c806","ffdeebc6.4d7b88"]]},{"id":"244e6655.741d9a","type":"change","z":"d1abcd4.10bc03","name":"room","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"room","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":180,"wires":[[]]},{"id":"6bd8af1f.89fdd","type":"change","z":"d1abcd4.10bc03","name":"zone","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"zone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":220,"wires":[[]]},{"id":"2a5d491d.97c806","type":"change","z":"d1abcd4.10bc03","name":"scene","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"scene","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":260,"wires":[[]]},{"id":"ffdeebc6.4d7b88","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":480,"y":300,"wires":[["c2dcb099.f3e78","b2ade02a.ff9c1"]]},{"id":"c2dcb099.f3e78","type":"change","z":"d1abcd4.10bc03","name":"device","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"device","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[[]]},{"id":"9e7f2747.5c4628","type":"change","z":"d1abcd4.10bc03","name":"motion","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":340,"wires":[[]]},{"id":"b2ade02a.ff9c1","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":480,"y":340,"wires":[["9e7f2747.5c4628","db7b216c.0f12c"]]},{"id":"9fd56572.0c0b38","type":"change","z":"d1abcd4.10bc03","name":"button","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"button","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":380,"wires":[[]]},{"id":"f15b3597.8713b8","type":"change","z":"d1abcd4.10bc03","name":"light","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":420,"wires":[[]]},{"id":"db7b216c.0f12c","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":480,"y":380,"wires":[["9fd56572.0c0b38","5ff7e2ec.4fce7c"]]},{"id":"5ff7e2ec.4fce7c","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":480,"y":420,"wires":[["f15b3597.8713b8"]]},{"id":"ae3b4275178b1b9a","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":480,"y":180,"wires":[["f0a2d4f4.19a288","244e6655.741d9a"]]},{"id":"aff9cdb5.1ba04","type":"subflow","name":"Scenes Room / Zones","info":"","category":"","in":[{"x":660,"y":340,"wires":[{"id":"d783c4a0.a134f8"},{"id":"b2fff99f.0b7af8"}]}],"out":[{"x":1260,"y":300,"wires":[{"id":"fb43fcd6.f6b8c","port":0}]},{"x":1260,"y":380,"wires":[{"id":"c17682ee.48568","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b2fff99f.0b7af8","type":"split","z":"aff9cdb5.1ba04","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":840,"y":380,"wires":[["48dc6c9.51e3694"]]},{"id":"48dc6c9.51e3694","type":"switch","z":"aff9cdb5.1ba04","name":"","property":"payload.zone-name","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":380,"wires":[["c17682ee.48568"]]},{"id":"c17682ee.48568","type":"join","z":"aff9cdb5.1ba04","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1130,"y":380,"wires":[[]]},{"id":"a1aefb6a.38dee8","type":"switch","z":"aff9cdb5.1ba04","name":"","property":"payload.room-name","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":300,"wires":[["fb43fcd6.f6b8c"]]},{"id":"fb43fcd6.f6b8c","type":"join","z":"aff9cdb5.1ba04","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1130,"y":300,"wires":[[]]},{"id":"d783c4a0.a134f8","type":"split","z":"aff9cdb5.1ba04","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":840,"y":300,"wires":[["a1aefb6a.38dee8"]]},{"id":"4e22b0a547b71127","type":"subflow","name":"HUE Motion Receiver","info":"","category":"HUE v2","in":[{"x":40,"y":440,"wires":[{"id":"b48930eb8130de8c"}]}],"out":[{"x":870,"y":360,"wires":[{"id":"b1fa90333cd3d7c2","port":0}]},{"x":890,"y":440,"wires":[{"id":"b1fa90333cd3d7c2","port":0},{"id":"c3a995dec60ea23a","port":0}]},{"x":870,"y":520,"wires":[{"id":"c3a995dec60ea23a","port":0}]}],"env":[{"name":"motion_ID","type":"str","value":"replace with discovered Motion Sensor ID"}],"meta":{},"color":"#9876D3","outputLabels":["motion true","motion true / false","motion false"],"icon":"node-red/bridge-dash.svg"},{"id":"a53e4a4353ead5c5","type":"switch","z":"4e22b0a547b71127","name":"payload.data.0.motion.motion","property":"payload.data.0.motion.motion","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":440,"wires":[["b1fa90333cd3d7c2"],["c3a995dec60ea23a"]]},{"id":"b1fa90333cd3d7c2","type":"change","z":"4e22b0a547b71127","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":400,"wires":[[]]},{"id":"c3a995dec60ea23a","type":"change","z":"4e22b0a547b71127","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":480,"wires":[[]]},{"id":"b48930eb8130de8c","type":"switch","z":"4e22b0a547b71127","name":"Motion Sensor ID","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"motion_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":440,"wires":[["a53e4a4353ead5c5"]]},{"id":"b16d682909fa8060","type":"comment","z":"4e22b0a547b71127","name":"HUE - Motion Sensor Event Filter \\n \\n Output 1: Will send just an **true** when Motion is detected \\n  \\n Output 2: Will send an **true** when Motion is detected and a **false** if no motion is detected any longer. \\n  \\n Output 3: Will send just an **false** when no Motion is detected any longer. \\n  \\n ----------------------- \\n All outputs are boolean \\n ----------------------- \\n  \\n Most easy Subflow, but convinient when lots of sensors need to be set up.","info":"Output 1:\nWill send just an **true** when Motion is detected\n\nOutput 2:\nWill send an **true** when Motion is detected and a **false** if no motion is detected any longer.\n\nOutput 3:\nWill send just an **false** when no Motion is detected any longer.\n\n-----------------------\nAll outputs are boolean\n-----------------------\n\nMost easy Subflow, but convinient when lots of sensors need to be set up.","x":380,"y":180,"wires":[]},{"id":"a481bf787a7fdeab","type":"subflow","name":"HUE Light Receiver","info":"","category":"HUE v2","in":[{"x":40,"y":580,"wires":[{"id":"f3271feba7c9915a"}]}],"out":[{"x":1020,"y":500,"wires":[{"id":"7589246b1e06008f","port":0}]},{"x":1040,"y":580,"wires":[{"id":"7589246b1e06008f","port":0},{"id":"4af07ff82cd530da","port":0}]},{"x":1020,"y":660,"wires":[{"id":"4af07ff82cd530da","port":0}]}],"env":[{"name":"light_ID","type":"str","value":"replace with discovered Lamp / Group ID"}],"meta":{},"color":"#86E3FF","outputLabels":["On","On / Off","Off"],"icon":"node-red/light.svg"},{"id":"8b5bf9aa6165443b","type":"rbe","z":"a481bf787a7fdeab","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":730,"y":500,"wires":[["7589246b1e06008f"]]},{"id":"7589246b1e06008f","type":"switch","z":"a481bf787a7fdeab","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":500,"wires":[[]]},{"id":"a7ba6a6bbe78ae39","type":"change","z":"a481bf787a7fdeab","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":460,"wires":[["099f85bc73efff73"]]},{"id":"099f85bc73efff73","type":"delay","z":"a481bf787a7fdeab","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":850,"y":460,"wires":[["8b5bf9aa6165443b"]]},{"id":"a003a94d2ebb1a69","type":"change","z":"a481bf787a7fdeab","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":540,"wires":[["8b5bf9aa6165443b"]]},{"id":"b785268eac1e03d1","type":"delay","z":"a481bf787a7fdeab","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":850,"y":700,"wires":[["b836e2a7909c55e9"]]},{"id":"b836e2a7909c55e9","type":"rbe","z":"a481bf787a7fdeab","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":730,"y":660,"wires":[["4af07ff82cd530da"]]},{"id":"598dbd38880b8bb8","type":"change","z":"a481bf787a7fdeab","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":620,"wires":[["b836e2a7909c55e9"]]},{"id":"c3b7a3bc0f18b044","type":"change","z":"a481bf787a7fdeab","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":700,"wires":[["b785268eac1e03d1"]]},{"id":"4af07ff82cd530da","type":"switch","z":"a481bf787a7fdeab","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":660,"wires":[[]]},{"id":"db4b92b38d2635c5","type":"switch","z":"a481bf787a7fdeab","name":"payload.data.0.on.on","property":"payload.data.0.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":580,"wires":[["a003a94d2ebb1a69","a7ba6a6bbe78ae39"],["598dbd38880b8bb8","c3b7a3bc0f18b044"]]},{"id":"b94463b527fd5453","type":"comment","z":"a481bf787a7fdeab","name":"HUE light / grouped_light Event Filter \\n  \\n Output 1: This output will send a **true** when Lights or Groups are turned on. \\n  \\n Output 2: This output will send a **true** when Lights or Groups are turned on AND a **false** when Lights or Groups are turned off. \\n  \\n Output 3: This output will send a **false** when Lights or Groups are turned off \\n  \\n Depending on your Situation it can be useful just to have a **true** OR **false** OR **both** states in your Flow. Thats the reason i built this Subflow. \\n Just use the Output that makes you happy :) \\n  \\n ----------------------- \\n All outputs are boolean  \\n ----------------------- \\n  \\n The delays will reset the RBE nodes. \\n You can adjust the times for your needs, but this worked for me prefectly.","info":"Output 1:\nThis output will send a **true** when Lights or Groups are turned on.\n\nOutput 2:\nThis output will send a **true** when Lights or Groups are turned on AND a **false** when Lights or Groups are turned off.\n\nOutput 3:\nThis output will send a **false** when Lights or Groups are turned off\n\nDepending on your Situation it can be useful just to have a **true** OR **false** OR **both** states in your Flow. Thats the reason i built this Subflow.\nJust use the Output that makes you happy :)\n\n-----------------------\nAll outputs are boolean \n-----------------------\n\nThe delays will reset the RBE nodes.\nYou can adjust the times for your needs, but this worked for me prefectly.","x":510,"y":220,"wires":[]},{"id":"f3271feba7c9915a","type":"switch","z":"a481bf787a7fdeab","name":"light / grouped_light ID","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":200,"y":580,"wires":[["db4b92b38d2635c5"]]},{"id":"f97d7e51bb5967a2","type":"subflow","name":"HUE Button Receiver","info":"","category":"HUE v2","in":[{"x":40,"y":500,"wires":[{"id":"50e9a6cafc2f5612"}]}],"out":[{"x":1230,"y":240,"wires":[{"id":"7f25389d80fa3cde","port":0}]},{"x":1240,"y":440,"wires":[{"id":"f02e878296414031","port":0}]},{"x":1210,"y":600,"wires":[{"id":"36f17c4928f045ac","port":0}]},{"x":1230,"y":760,"wires":[{"id":"45b938adbb6fe26f","port":0}]}],"env":[{"name":"button_ID","type":"str","value":"replace with discovered button ID","ui":{"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#E6E0F8","outputLabels":["initial_press","short_release","repeat","long_release"],"icon":"font-awesome/fa-toggle-on"},{"id":"3c318b2306429e4d","type":"rbe","z":"f97d7e51bb5967a2","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":950,"y":240,"wires":[["7f25389d80fa3cde"]]},{"id":"7f25389d80fa3cde","type":"switch","z":"f97d7e51bb5967a2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":240,"wires":[[]]},{"id":"b6ab7fec2b8dc05e","type":"change","z":"f97d7e51bb5967a2","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":200,"wires":[["a508a630c6fee070"]]},{"id":"a508a630c6fee070","type":"delay","z":"f97d7e51bb5967a2","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1070,"y":200,"wires":[["3c318b2306429e4d"]]},{"id":"9a81e6607acd41c9","type":"change","z":"f97d7e51bb5967a2","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":280,"wires":[["3c318b2306429e4d"]]},{"id":"22bf2356fe704447","type":"delay","z":"f97d7e51bb5967a2","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1070,"y":720,"wires":[["3ffa34d7fd3607ee"]]},{"id":"3ffa34d7fd3607ee","type":"rbe","z":"f97d7e51bb5967a2","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":950,"y":760,"wires":[["45b938adbb6fe26f"]]},{"id":"307c3cf1d28c06e2","type":"change","z":"f97d7e51bb5967a2","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":720,"wires":[["22bf2356fe704447"]]},{"id":"2ca41635e1099306","type":"change","z":"f97d7e51bb5967a2","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":800,"wires":[["3ffa34d7fd3607ee"]]},{"id":"45b938adbb6fe26f","type":"switch","z":"f97d7e51bb5967a2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":760,"wires":[[]]},{"id":"e0d3f900fbfb7ee8","type":"switch","z":"f97d7e51bb5967a2","name":"payload.data.0.button.last_event","property":"payload.data.0.button.last_event","propertyType":"msg","rules":[{"t":"cont","v":"initial_press","vt":"str"},{"t":"cont","v":"short_release","vt":"str"},{"t":"cont","v":"repeat","vt":"str"},{"t":"cont","v":"long_release","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":660,"y":500,"wires":[["b6ab7fec2b8dc05e","9a81e6607acd41c9"],["49066fcfb2a909b3","5aa80bc6dd152296"],["36f17c4928f045ac"],["2ca41635e1099306","307c3cf1d28c06e2"]]},{"id":"6337bd151ed3c9d7","type":"rbe","z":"f97d7e51bb5967a2","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":950,"y":440,"wires":[["f02e878296414031"]]},{"id":"f02e878296414031","type":"switch","z":"f97d7e51bb5967a2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":440,"wires":[[]]},{"id":"5aa80bc6dd152296","type":"change","z":"f97d7e51bb5967a2","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":400,"wires":[["aafcb4efbf90626a"]]},{"id":"aafcb4efbf90626a","type":"delay","z":"f97d7e51bb5967a2","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1070,"y":400,"wires":[["6337bd151ed3c9d7"]]},{"id":"49066fcfb2a909b3","type":"change","z":"f97d7e51bb5967a2","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":480,"wires":[["6337bd151ed3c9d7"]]},{"id":"36f17c4928f045ac","type":"change","z":"f97d7e51bb5967a2","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":600,"wires":[[]]},{"id":"a67312d8cbdb82c5","type":"comment","z":"f97d7e51bb5967a2","name":"HUE Button Event Filter \\n  \\n Output 1: The **initial_press** comes ALWAYS directly after you push the Button. Quickest response possible! \\n  \\n Output 2: The **short_release** will just appear after the **initial_press**, when you pushed the Button quick. \\n  \\n Output 3: The **repeat** will appear if you hold the button, and will send a message every second until you release it. \\n  \\n Output 4: The **long_release** will appear after the **repeat** ENDED! \\n  \\n -------------------------------- \\n All outputs are boolean **true** \\n -------------------------------- \\n  \\n The delays will reset the RBE node with a false. \\n You can adjust the times for your needs, but this worked for me prefectly.","info":"Output 1:\nThe **initial_press** comes ALWAYS directly after you push the Button. Quickest response possible!\n\nOutput 2:\nThe **short_release** will just appear after the **initial_press**, when you pushed the Button quick.\n\nOutput 3:\nThe **repeat** will appear if you hold the button, and will send a message every second until you release it.\n\nOutput 4:\nThe **long_release** will appear after the **repeat** ENDED!\n\n\n--------------------------------\nAll outputs are boolean **true**\n--------------------------------\n\n\nThe delays will reset the RBE node with a false.\nYou can adjust the times for your needs, but this worked for me prefectly.","x":420,"y":200,"wires":[]},{"id":"50e9a6cafc2f5612","type":"switch","z":"f97d7e51bb5967a2","name":"Button ID","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"button_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":500,"wires":[["e0d3f900fbfb7ee8"]]},{"id":"0114429ac4bd07f8","type":"tab","label":"HUE API V2","disabled":false,"info":"","env":[]},{"id":"4a07d9eda4c8b970","type":"link out","z":"0114429ac4bd07f8","name":"EventStream","mode":"link","links":["d00ced0bb0431728","4f84af62917f0009","c264930fb05bb9c3"],"x":1050,"y":360,"wires":[],"l":true},{"id":"5c97cbf10b721133","type":"debug","z":"0114429ac4bd07f8","name":"HUE monitor","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":360,"wires":[]},{"id":"57ea047f5205a367","type":"link in","z":"0114429ac4bd07f8","d":true,"name":"HUE API INPUT","links":["cb283fb1ff8bdc38","54584a33946472fb"],"x":220,"y":780,"wires":[["5c6dcc7de704f69d"]],"l":true},{"id":"958739969b41f7e7","type":"http request","z":"0114429ac4bd07f8","name":"HUE API V2","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"4bc31af9bd03bbdc","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":830,"y":780,"wires":[["2b4d724e26d1b76e"]]},{"id":"2c37607df59d5a6f","type":"link out","z":"0114429ac4bd07f8","d":true,"name":"API Response OUT","mode":"link","links":["0fc558085ade53b7"],"x":1290,"y":800,"wires":[],"l":true},{"id":"690a928cae4226b1","type":"function","z":"0114429ac4bd07f8","name":"Take snapshot \\n - or - \\n Restore snapshot \\n (retry processing) \\n +set rate max 1/250ms","func":"// Take a copy of payload & headers as they are now to be able to re-use it on retry\nif (msg.retryInfo === undefined) {\n    // msg was never processed befor, take a copy (snapshot) of key values to be re-applied in case of retry\n    msg.retryInfo = {}\n    msg.retryInfo.payload = msg.payload;\n    msg.retryInfo.headers = msg.headers;\n    msg.retryInfo.retryCount = 0;\n} else {\n    // msg was processed at least once before, apply snapshot'd values back\n    msg.payload = msg.retryInfo.payload;\n    msg.headers = msg.retryInfo.headers;\n    msg.statusCode = undefined;\n    msg.retryInfo.retryCount++\n}\n\n// Set maximum rate to 1/200ms\nmsg.rate = 200;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":800,"wires":[["68463496ead77193"]],"outputLabels":["Blocked msg to send to repeater"],"icon":"font-awesome/fa-copy"},{"id":"c2a75d1ef5b467d8","type":"delay","z":"0114429ac4bd07f8","name":"(0.25s - 0.5s)","pauseType":"random","timeout":"1100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"250","randomLast":"500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":410,"y":820,"wires":[["690a928cae4226b1"]]},{"id":"42f1a79ba6c762ac","type":"debug","z":"0114429ac4bd07f8","name":"HUE API error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1300,"y":840,"wires":[]},{"id":"2f0153c3686911ea","type":"link in","z":"0114429ac4bd07f8","name":"Retry...","links":["e11c5c12bba6c374"],"x":285,"y":820,"wires":[["c2a75d1ef5b467d8"]]},{"id":"e11c5c12bba6c374","type":"link out","z":"0114429ac4bd07f8","name":"Try to retry...","mode":"link","links":["2f0153c3686911ea"],"x":1195,"y":760,"wires":[]},{"id":"2b4d724e26d1b76e","type":"switch","z":"0114429ac4bd07f8","name":"Catch Error \\n 429+503","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"429","vt":"str"},{"t":"eq","v":"503","vt":"num"},{"t":"regex","v":"2\\d\\d","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":1030,"y":820,"wires":[["ead9646327f18d7a"],["ead9646327f18d7a"],["2c37607df59d5a6f"],["2c37607df59d5a6f","42f1a79ba6c762ac"]],"outputLabels":[null,"503 : too many calls sent","2xx : all OK","others (Error)"]},{"id":"68463496ead77193","type":"delay","z":"0114429ac4bd07f8","name":"Limit 1msg/s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":true,"outputs":1,"x":830,"y":820,"wires":[["958739969b41f7e7"]]},{"id":"ead9646327f18d7a","type":"switch","z":"0114429ac4bd07f8","name":"Max 10 retries","property":"retryInfo.retryCount","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1040,"y":760,"wires":[["e11c5c12bba6c374"],["2c37607df59d5a6f","42f1a79ba6c762ac"]],"outputLabels":["Less than 10 errors, keep retrying...","More than 10 errors, abord retries"]},{"id":"948844b2f4772fb4","type":"philipshue-events","z":"0114429ac4bd07f8","bridge":"","x":360,"y":360,"wires":[["263b6b26de1d95db"]]},{"id":"c434d62aad78ac75","type":"subflow:f97d7e51bb5967a2","z":"0114429ac4bd07f8","name":"","env":[{"name":"button_ID","value":"replace with discovered button <<ID>>","type":"str"}],"x":320,"y":1920,"wires":[["0a5dd058ccc7999c"],["024b8c139a6a2b57"],["cfa3be1d086e1009"],["5af9ca37770d947a"]]},{"id":"c704620d81d596fc","type":"subflow:a481bf787a7fdeab","z":"0114429ac4bd07f8","name":"","env":[{"name":"light_ID","value":"replace with discovered Lamp ID / Group RID","type":"str"}],"x":330,"y":1440,"wires":[["e08b28fb599148d7"],["d543966b8f679d0f"],["6353bddf2afde0cd"]]},{"id":"bccc0ce6f33a310e","type":"subflow:4e22b0a547b71127","z":"0114429ac4bd07f8","name":"","env":[{"name":"motion_ID","value":"replace with discovered Motion Sensor <<ID>>","type":"str"}],"x":320,"y":1680,"wires":[["e9a59d9e02606d40"],["61eb6d6e8b8f1ea5"],["4a171114ed721a29"]]},{"id":"0a5dd058ccc7999c","type":"debug","z":"0114429ac4bd07f8","name":"initial","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":1860,"wires":[]},{"id":"024b8c139a6a2b57","type":"debug","z":"0114429ac4bd07f8","name":"short","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":1900,"wires":[]},{"id":"cfa3be1d086e1009","type":"debug","z":"0114429ac4bd07f8","name":"holded","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":1940,"wires":[]},{"id":"5af9ca37770d947a","type":"debug","z":"0114429ac4bd07f8","name":"long","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":1980,"wires":[]},{"id":"e9a59d9e02606d40","type":"debug","z":"0114429ac4bd07f8","name":"motion true","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":1640,"wires":[]},{"id":"61eb6d6e8b8f1ea5","type":"debug","z":"0114429ac4bd07f8","name":"motion true + false","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":1680,"wires":[]},{"id":"4a171114ed721a29","type":"debug","z":"0114429ac4bd07f8","name":"motion false","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":1720,"wires":[]},{"id":"e08b28fb599148d7","type":"debug","z":"0114429ac4bd07f8","name":"On (true)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":1400,"wires":[]},{"id":"d543966b8f679d0f","type":"debug","z":"0114429ac4bd07f8","name":"On / Off (true/false)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":1440,"wires":[]},{"id":"6353bddf2afde0cd","type":"debug","z":"0114429ac4bd07f8","name":"Off (false)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":1480,"wires":[]},{"id":"c264930fb05bb9c3","type":"link in","z":"0114429ac4bd07f8","name":"HUE IN","links":["4a07d9eda4c8b970"],"x":150,"y":1680,"wires":[["bccc0ce6f33a310e"]],"l":true},{"id":"4f84af62917f0009","type":"link in","z":"0114429ac4bd07f8","name":"HUE IN","links":["4a07d9eda4c8b970"],"x":150,"y":1920,"wires":[["c434d62aad78ac75"]],"l":true},{"id":"d00ced0bb0431728","type":"link in","z":"0114429ac4bd07f8","name":"HUE IN","links":["4a07d9eda4c8b970"],"x":150,"y":1440,"wires":[["c704620d81d596fc"]],"l":true},{"id":"263b6b26de1d95db","type":"function","z":"0114429ac4bd07f8","name":"Array Splitter","func":"for (var i = 0; i < msg.payload.data.length; i++) {\n    // Create a deep copy of msg object\n    let splitmsg = JSON.parse(JSON.stringify(msg));\n\n    // Reset data of new message to its single data part\n    splitmsg.payload.data = [msg.payload.data[i]];\n    \n    // send using node\n    node.send(splitmsg);\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":360,"wires":[["4a07d9eda4c8b970","5c97cbf10b721133"]]},{"id":"78225958caa0f537","type":"link out","z":"0114429ac4bd07f8","name":"API Response OUT","mode":"link","links":["0fc558085ade53b7"],"x":1070,"y":520,"wires":[],"l":true},{"id":"0fc558085ade53b7","type":"link in","z":"0114429ac4bd07f8","name":"BRIDGE DATA RESPONSE IN","links":["78225958caa0f537","3f6d2329.8027ec","29cb5ec00b633749","2c37607df59d5a6f"],"x":2245,"y":740,"wires":[["da4252aebe934072","7c53ef30ad0d8611","addb004f654ba09c","74a5e652912e7243","77c762d4c01765d2","74a2d71ac9eb2d5a","b0064b4689075cab"]]},{"id":"da4252aebe934072","type":"switch","z":"0114429ac4bd07f8","name":"Room","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"room","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2550,"y":560,"wires":[["73f34b9ee61dee13","c8f435d6dd0a8646"]]},{"id":"449174b1b13e1d50","type":"inject","z":"0114429ac4bd07f8","name":"Scenes Zone (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"zone_scenes","payloadType":"flow","x":1810,"y":900,"wires":[["cc87ae7ca486f319"]]},{"id":"23968812e6474724","type":"change","z":"0114429ac4bd07f8","name":"rooms","rules":[{"t":"set","p":"rooms","pt":"flow","to":"keys","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2890,"y":500,"wires":[[]]},{"id":"7c53ef30ad0d8611","type":"switch","z":"0114429ac4bd07f8","name":"Scene","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"scene","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2550,"y":740,"wires":[["0fd0b9ea99e395d3","9b3ad0a745cd02ed"]]},{"id":"addb004f654ba09c","type":"switch","z":"0114429ac4bd07f8","name":"Light","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"light","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2550,"y":1140,"wires":[["59b4e2cdd487291e"]]},{"id":"74a5e652912e7243","type":"switch","z":"0114429ac4bd07f8","name":"Zone","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"zone","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2550,"y":400,"wires":[["d388e00a18c5d011","18ff5c3a8ac25be0"]]},{"id":"0fd0b9ea99e395d3","type":"function","z":"0114429ac4bd07f8","name":"Scene Name, ID, Zone Name","func":"var response = [];\nvar zones = flow.get(\"zones\") || {};\nvar size = Object.keys(zones).length;\nif(size <= 0) {\n    node.error(\"Please Update Zones First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"name\": item.metadata.name,\n        \"id\": item.id,\n        // \"rid\": item.group.rid,\n        // \"rtype\": item.group.rtype,\n        \"zone-name\": zones[item.group.rid]\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Scene name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2810,"y":700,"wires":[["2b4fd49183cf2a33"]]},{"id":"ba59e54727fa42be","type":"change","z":"0114429ac4bd07f8","name":"zones","rules":[{"t":"set","p":"zones","pt":"flow","to":"keys","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2890,"y":340,"wires":[[]]},{"id":"2b4fd49183cf2a33","type":"subflow:aff9cdb5.1ba04","z":"0114429ac4bd07f8","name":"","env":[],"x":2840,"y":740,"wires":[["70199813a0b8f0c7","e1f93176ce24922a"],["16ef37bcb3a6b15a","7756d648736e997c"]]},{"id":"70199813a0b8f0c7","type":"debug","z":"0114429ac4bd07f8","name":"Room Scenes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3120,"y":700,"wires":[]},{"id":"16ef37bcb3a6b15a","type":"debug","z":"0114429ac4bd07f8","name":"Zone Scenes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3110,"y":780,"wires":[]},{"id":"44e9312d8b94a68c","type":"debug","z":"0114429ac4bd07f8","name":"Rooms","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3100,"y":540,"wires":[]},{"id":"b3c1d71f11b94120","type":"debug","z":"0114429ac4bd07f8","name":"Zones","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3090,"y":380,"wires":[]},{"id":"cce6933256cf574e","type":"inject","z":"0114429ac4bd07f8","name":"Request all Data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1840,"y":200,"wires":[["189f66c7669154f0","365c17ce9cbb57f9"]]},{"id":"e1f93176ce24922a","type":"change","z":"0114429ac4bd07f8","name":"room_scenes","rules":[{"t":"set","p":"room_scenes","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2860,"y":660,"wires":[[]]},{"id":"365c17ce9cbb57f9","type":"subflow:d1abcd4.10bc03","z":"0114429ac4bd07f8","name":"Request","env":[],"x":2040,"y":200,"wires":[["cb283fb1ff8bdc38"]]},{"id":"7756d648736e997c","type":"change","z":"0114429ac4bd07f8","name":"zone scene","rules":[{"t":"set","p":"zone_scenes","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2870,"y":820,"wires":[[]]},{"id":"464d0e54724e7516","type":"inject","z":"0114429ac4bd07f8","name":"Scenes Zone (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"zone_scenes","payloadType":"flow","x":1820,"y":860,"wires":[["cc87ae7ca486f319"]]},{"id":"411302f4c985467b","type":"inject","z":"0114429ac4bd07f8","name":"Scenes Room (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"room_scenes","payloadType":"flow","x":1810,"y":620,"wires":[["cc87ae7ca486f319"]]},{"id":"a473d8bf16a4d749","type":"inject","z":"0114429ac4bd07f8","name":"Scenes Room (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"room_scenes","payloadType":"flow","x":1810,"y":660,"wires":[["cc87ae7ca486f319"]]},{"id":"cc87ae7ca486f319","type":"subflow:7a14643a.75260c","z":"0114429ac4bd07f8","name":"","env":[],"x":2220,"y":740,"wires":[["4166dc34a7b770c1"]]},{"id":"189f66c7669154f0","type":"change","z":"0114429ac4bd07f8","name":"DELETE","rules":[{"t":"delete","p":"zones","pt":"flow"},{"t":"delete","p":"rooms","pt":"flow"},{"t":"delete","p":"lights","pt":"flow"},{"t":"delete","p":"zone_scenes","pt":"flow"},{"t":"delete","p":"room_scenes","pt":"flow"},{"t":"delete","p":"rooms_array","pt":"flow"},{"t":"delete","p":"zones_array","pt":"flow"},{"t":"delete","p":"devices","pt":"flow"},{"t":"delete","p":"motion","pt":"flow"},{"t":"delete","p":"lights","pt":"flow"},{"t":"delete","p":"button","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":240,"wires":[[]]},{"id":"40d1b03d29c36c0a","type":"inject","z":"0114429ac4bd07f8","d":true,"name":"Delete Data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1850,"y":240,"wires":[["189f66c7669154f0"]]},{"id":"79fdb29d42dbb6ac","type":"change","z":"0114429ac4bd07f8","name":"lights","rules":[{"t":"set","p":"lights","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2890,"y":1100,"wires":[[]]},{"id":"42535472ea91acb2","type":"debug","z":"0114429ac4bd07f8","name":"Lights","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3090,"y":1140,"wires":[]},{"id":"59b4e2cdd487291e","type":"function","z":"0114429ac4bd07f8","name":"Light Name, ID, Abilities","func":"var response = [];\nvar rooms = flow.get(\"rooms\") || {};\nvar size = Object.keys(rooms).length;\nif(size <= 0) {\n    node.error(\"Please Update Rooms First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"name\": item.metadata.name,\n        \"type\": item.metadata.archetype,\n        \"id\": item.id,\n        \"color\": item.hasOwnProperty(\"color\") ? true : false,\n        \"temp\": item.hasOwnProperty(\"color_temperature\") ? true : false\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Lights\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2830,"y":1140,"wires":[["79fdb29d42dbb6ac","42535472ea91acb2"]]},{"id":"b10f7d935d092c32","type":"inject","z":"0114429ac4bd07f8","name":"Buttons (an Array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"button","payloadType":"flow","x":1830,"y":1100,"wires":[["cc87ae7ca486f319"]]},{"id":"ecec0b20df012f4b","type":"inject","z":"0114429ac4bd07f8","name":"Buttons (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"button","payloadType":"flow","x":1830,"y":1140,"wires":[["cc87ae7ca486f319"]]},{"id":"af674fe4d26f4bd0","type":"inject","z":"0114429ac4bd07f8","name":"Rooms (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"rooms_array","payloadType":"flow","x":1830,"y":540,"wires":[["cc87ae7ca486f319"]]},{"id":"73f34b9ee61dee13","type":"function","z":"0114429ac4bd07f8","name":"Room Name and ID","func":"var response = [];\nvar roomkeys = {};\nmsg.payload.data.forEach(function(item){\n    if(item.services.length > 0) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            \"rid\": item.services[0].rid,\n            \"rtype\": item.services[0].rtype\n        };\n        roomkeys[item.id] = item.metadata.name;\n        response.push(pair);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"rooms name/rid\",\n    \"keys\": roomkeys\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2840,"y":540,"wires":[["23968812e6474724","44e9312d8b94a68c"]]},{"id":"77c762d4c01765d2","type":"switch","z":"0114429ac4bd07f8","name":"Device","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"device","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2550,"y":900,"wires":[["d203418e5e16e76a"]]},{"id":"d203418e5e16e76a","type":"function","z":"0114429ac4bd07f8","name":"Devices Button and Motion","func":"// NOTE: Devices have multipe rtypes in the services\n// This script grabs the first one, so a motion sensor may show\n// up as \"temperature\" as it also does temp. don't worry\n// this script is more to get the name of the devices to help\n// with the button/motion scripts.\nvar response = [];\nvar devices = {};\nmsg.payload.data.forEach(function(item){\n    try {\n        if(item.metadata.archetype == \"unknown_archetype\") {\n            var pair = {\n                \"name\": item.metadata.name,\n                \"id\": item.id,\n                \"rid\": item.services[0].rid,\n                \"rtype\": item.services[0].rtype\n            };\n            devices[item.id] = item.metadata.name;\n            response.push(pair);\n        }\n    } catch(err) {\n        node.warn(err);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"devices name/rid\",\n    \"keys\": devices\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2820,"y":900,"wires":[["8f44a42151e9613f","b07e66019e273fe9"]]},{"id":"8f44a42151e9613f","type":"change","z":"0114429ac4bd07f8","name":"devices","rules":[{"t":"set","p":"devices","pt":"flow","to":"keys","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2880,"y":860,"wires":[[]]},{"id":"18ff5c3a8ac25be0","type":"function","z":"0114429ac4bd07f8","name":"Zone Name and ID","func":"var response = [];\nvar roomkeys = {};\nmsg.payload.data.forEach(function(item){\n    if(item.hasOwnProperty(\"services\")) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            \"rid\": item.services[0].rid,\n            \"rtype\": item.services[0].rtype\n        };\n        roomkeys[item.id] = item.metadata.name;\n        response.push(pair);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"zones name/rid\",\n    \"keys\": roomkeys\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2850,"y":380,"wires":[["ba59e54727fa42be","b3c1d71f11b94120"]]},{"id":"d388e00a18c5d011","type":"function","z":"0114429ac4bd07f8","name":"Zone Name and ID (array)","func":"var response = [];\nmsg.payload.data.forEach(function(item){\n    if(item.services.length > 0) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            \"rid\": item.services[0].rid,\n            \"rtype\": item.services[0].rtype\n        };\n         response.push(pair);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"zones name/rid\",\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2830,"y":420,"wires":[["c952a53d69a88ad4"]]},{"id":"9b3ad0a745cd02ed","type":"function","z":"0114429ac4bd07f8","name":"Scene Name, ID, Room Name","func":"var response = [];\nvar rooms = flow.get(\"rooms\") || {};\nvar size = Object.keys(rooms).length;\nif(size <= 0) {\n    node.error(\"Please Update Rooms First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"name\": item.metadata.name,\n        \"id\": item.id,\n        // \"rid\": item.group.rid,\n        // \"rtype\": item.group.rtype,\n        \"room-name\": rooms[item.group.rid]\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Scene name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2810,"y":780,"wires":[["2b4fd49183cf2a33"]]},{"id":"c8f435d6dd0a8646","type":"function","z":"0114429ac4bd07f8","name":"Room Name and ID (array)","func":"var response = [];\nmsg.payload.data.forEach(function(item){\n    if(item.services.length > 0) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            \"rid\": item.services[0].rid,\n            \"rtype\": item.services[0].rtype\n        };\n         response.push(pair);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"rooms name/rid\",\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2820,"y":580,"wires":[["cbad9edfb2926ba3"]]},{"id":"cbad9edfb2926ba3","type":"change","z":"0114429ac4bd07f8","name":"rooms_array","rules":[{"t":"set","p":"rooms_array","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2870,"y":620,"wires":[[]]},{"id":"c952a53d69a88ad4","type":"change","z":"0114429ac4bd07f8","name":"zones_array","rules":[{"t":"set","p":"zones_array","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2870,"y":460,"wires":[[]]},{"id":"1ed947476a8d38ad","type":"inject","z":"0114429ac4bd07f8","name":"Rooms (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"rooms_array","payloadType":"flow","x":1840,"y":500,"wires":[["cc87ae7ca486f319"]]},{"id":"4166dc34a7b770c1","type":"debug","z":"0114429ac4bd07f8","name":"API V2 DATA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2230,"y":700,"wires":[]},{"id":"ec7c17358e528535","type":"inject","z":"0114429ac4bd07f8","name":"Zones (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"zones_array","payloadType":"flow","x":1830,"y":780,"wires":[["cc87ae7ca486f319"]]},{"id":"88accc94fcf42f62","type":"inject","z":"0114429ac4bd07f8","name":"Zones (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"zones_array","payloadType":"flow","x":1840,"y":740,"wires":[["cc87ae7ca486f319"]]},{"id":"b07e66019e273fe9","type":"debug","z":"0114429ac4bd07f8","name":"Devices","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3100,"y":900,"wires":[]},{"id":"74a2d71ac9eb2d5a","type":"switch","z":"0114429ac4bd07f8","name":"Motion","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"motion","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2550,"y":980,"wires":[["a79e5944e3b77608"]]},{"id":"a79e5944e3b77608","type":"function","z":"0114429ac4bd07f8","name":"Motion Name, ID, Device Name","func":"var response = [];\nvar devices = flow.get(\"devices\") || {};\nvar size = Object.keys(devices).length;\nif(size <= 0) {\n    node.error(\"Please Update Devices First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"Device\": devices[item.owner.rid],\n        \"id\": item.id,\n        \"type\": item.type,\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Motion name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2810,"y":980,"wires":[["9d5d2ed136084eeb","cad2504c999191a3"]]},{"id":"9d5d2ed136084eeb","type":"debug","z":"0114429ac4bd07f8","name":"Motion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3090,"y":980,"wires":[]},{"id":"cad2504c999191a3","type":"change","z":"0114429ac4bd07f8","name":"motion","rules":[{"t":"set","p":"motion","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2890,"y":940,"wires":[[]]},{"id":"0465ef61e62a8ddd","type":"inject","z":"0114429ac4bd07f8","name":"Motion Senors (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"motion","payloadType":"flow","x":1810,"y":1020,"wires":[["cc87ae7ca486f319"]]},{"id":"3a3a118bb8035c1c","type":"inject","z":"0114429ac4bd07f8","name":"Motion Sensors (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"motion","payloadType":"flow","x":1810,"y":980,"wires":[["cc87ae7ca486f319"]]},{"id":"b0064b4689075cab","type":"switch","z":"0114429ac4bd07f8","name":"Button","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2550,"y":1060,"wires":[["c837ffc44996d20a"]]},{"id":"f08d6fa132443df1","type":"inject","z":"0114429ac4bd07f8","name":"Lights (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"lights","payloadType":"flow","x":1830,"y":420,"wires":[["cc87ae7ca486f319"]]},{"id":"f31e3232bd2ad895","type":"inject","z":"0114429ac4bd07f8","name":"Lights (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"lights","payloadType":"flow","x":1840,"y":380,"wires":[["cc87ae7ca486f319"]]},{"id":"c837ffc44996d20a","type":"function","z":"0114429ac4bd07f8","name":"Button Name, ID, Device Name","func":"var response = [];\nvar devices = flow.get(\"devices\") || {};\nvar size = Object.keys(devices).length;\nif(size <= 0) {\n    node.error(\"Please Update Devices First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"Device\": devices[item.owner.rid],\n        \"id\": item.id,\n        \"type\": item.type,\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Motion name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2810,"y":1060,"wires":[["888ab5c969dd5ad7","26396fc475fa5482"]]},{"id":"888ab5c969dd5ad7","type":"change","z":"0114429ac4bd07f8","name":"button","rules":[{"t":"set","p":"button","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2890,"y":1020,"wires":[[]]},{"id":"26396fc475fa5482","type":"debug","z":"0114429ac4bd07f8","name":"Button","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3090,"y":1060,"wires":[]},{"id":"6a53d668c28fe917","type":"comment","z":"0114429ac4bd07f8","name":"Bridge Data","info":"","x":2230,"y":740,"wires":[]},{"id":"2c3de28995f4bb2b","type":"comment","z":"0114429ac4bd07f8","name":"DO NOT CHANGE ANYTHING HERE","info":"","x":2210,"y":560,"wires":[]},{"id":"795281733361bc56","type":"debug","z":"0114429ac4bd07f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":480,"wires":[]},{"id":"9ae50ed71083707b","type":"http request","z":"0114429ac4bd07f8","name":"HUE API V2","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"4bc31af9bd03bbdc","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":830,"y":520,"wires":[["795281733361bc56","78225958caa0f537"]]},{"id":"9786a813e4a44e13","type":"comment","z":"0114429ac4bd07f8","name":"Add your Data here \\n IP and Username","info":"","x":590,"y":460,"wires":[]},{"id":"2748208e18637978","type":"function","z":"0114429ac4bd07f8","name":"HEADER V2","func":"// var user is your discovered username, var ip the IP adress of your bridge\nvar user = \"API USERNAME\";\nvar ip = \"YOUR IP\"\n\nif(msg.endpoint === undefined)\n msg.url = \"https://\" + ip + \"/clip/v2/resource\";\nelse if(msg.topic === undefined)\n msg.url = \"https://\" + ip + \"/clip/v2/resource/\" + msg.endpoint;\nelse\n msg.url = \"https://\" + ip + \"/clip/v2/resource/\" + msg.endpoint + \"/\" + msg.topic;\n\nmsg.headers = {};\n\nmsg.headers['hue-application-key'] = user;\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\n\nif(msg.payload != undefined)\n msg.headers['ContentLength'] = JSON.stringify(msg.payload).length;\n\nif(msg.verb === undefined)\n msg.method = \"get\";\nelse\n msg.method = msg.verb;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":520,"wires":[["9ae50ed71083707b"]]},{"id":"cb283fb1ff8bdc38","type":"link out","z":"0114429ac4bd07f8","name":"Discover Out","mode":"link","links":["0dd65a974d048469","57ea047f5205a367"],"x":2145,"y":200,"wires":[]},{"id":"0dd65a974d048469","type":"link in","z":"0114429ac4bd07f8","name":"HUE API INPUT","links":["cb283fb1ff8bdc38","54584a33946472fb"],"x":360,"y":520,"wires":[["2748208e18637978"]],"l":true},{"id":"5c6dcc7de704f69d","type":"function","z":"0114429ac4bd07f8","name":"HEADER V2","func":"// you can copy the user key from the hue config node out of Huemagic\nvar user = \"API USERNAME\";\nvar ip = \"YOUR IP\"\n\nif(msg.endpoint === undefined)\n msg.url = \"https://\" + ip + \"/clip/v2/resource\";\nelse if(msg.topic === undefined)\n msg.url = \"https://\" + ip + \"/clip/v2/resource/\" + msg.endpoint;\nelse\n msg.url = \"https://\" + ip + \"/clip/v2/resource/\" + msg.endpoint + \"/\" + msg.topic;\n\nmsg.headers = {};\n\nmsg.headers['hue-application-key'] = user;\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\n\nif(msg.payload != undefined)\n msg.headers['ContentLength'] = JSON.stringify(msg.payload).length;\n\nif(msg.verb === undefined)\n msg.method = \"get\";\nelse\n msg.method = msg.verb;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":780,"wires":[["690a928cae4226b1"]]},{"id":"cc70c1d288559ccb","type":"comment","z":"0114429ac4bd07f8","name":"Add your Data here","info":"","x":410,"y":740,"wires":[]},{"id":"ff9757c8bfb666d7","type":"change","z":"0114429ac4bd07f8","name":"API KEY","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"devicetype\":\"nodered\",\"generateclientkey\":true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":200,"wires":[["2f18e60eb9a9ba31"]]},{"id":"329059db2bb7b232","type":"inject","z":"0114429ac4bd07f8","name":"Request","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":360,"y":200,"wires":[["ff9757c8bfb666d7"]]},{"id":"ba2eb84a3d7697e4","type":"debug","z":"0114429ac4bd07f8","name":"API KEY","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":200,"wires":[]},{"id":"2f18e60eb9a9ba31","type":"http request","z":"0114429ac4bd07f8","name":"HUE Bridge IP","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://your.IP.here/api","tls":"4bc31af9bd03bbdc","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":840,"y":200,"wires":[["ba2eb84a3d7697e4"]]},{"id":"9815c63c84502a1a","type":"comment","z":"0114429ac4bd07f8","name":"Add your IP here","info":"","x":840,"y":160,"wires":[]},{"id":"b9db2ba97c77b111","type":"comment","z":"0114429ac4bd07f8","name":"Request new API KEY (username) \\n press the button on your Bridge and request \\n !! ADD IP FIRST !! -------------------------->>> ","info":"","x":430,"y":120,"wires":[]},{"id":"0ead7fb60e6b20ae","type":"comment","z":"0114429ac4bd07f8","name":"This is a different approach that can be used when \\n the step3 http request causes connection issues","info":"","x":690,"y":680,"wires":[]},{"id":"45142083edaecae0","type":"comment","z":"0114429ac4bd07f8","name":"username","info":"","x":1040,"y":160,"wires":[]},{"id":"775afa40caca94f9","type":"comment","z":"0114429ac4bd07f8","name":"Step 1","info":"","x":150,"y":200,"wires":[]},{"id":"b98d2aa12d383d6a","type":"comment","z":"0114429ac4bd07f8","name":"Step 2","info":"","x":150,"y":360,"wires":[]},{"id":"28d7b0b3aba9988a","type":"comment","z":"0114429ac4bd07f8","name":"Step 3","info":"","x":150,"y":520,"wires":[]},{"id":"d746a4d7f84cb6be","type":"comment","z":"0114429ac4bd07f8","name":"Step 4","info":"","x":1930,"y":80,"wires":[]},{"id":"aded42bfb7be64c9","type":"comment","z":"0114429ac4bd07f8","name":"Step 3.b","info":"","x":160,"y":720,"wires":[]},{"id":"b3b436c928f87982","type":"comment","z":"0114429ac4bd07f8","name":"Configure this Node \\n IP and Username","info":"","x":350,"y":300,"wires":[]},{"id":"d5926acce63733b3","type":"comment","z":"0114429ac4bd07f8","name":"This will request all Data fron the Bridge, \\n just click the Inject node and wait 15 seconds","info":"","x":1930,"y":140,"wires":[]},{"id":"8fd06c921cc43eed","type":"comment","z":"0114429ac4bd07f8","name":"After you requested the Data \\n use the Inject Nodes to get ID / RID \\n the Data will apear in the Debug Window","info":"","x":2220,"y":480,"wires":[]},{"id":"bc609c109726cc5d","type":"comment","z":"0114429ac4bd07f8","name":"To get responses from lamps / rooms / \\n zones add your discovered ID / RID here \\n - for a lamp you need to add the ID \\n - for a room / zone you need to add the RID \\n you need one subflow for every lamp or room","info":"","x":270,"y":1340,"wires":[]},{"id":"25e8c30020a65aa9","type":"comment","z":"0114429ac4bd07f8","name":"Step 5","info":"","x":2230,"y":400,"wires":[]},{"id":"a0bfba545167ed9c","type":"comment","z":"0114429ac4bd07f8","name":"To get responses from motion sensors\\n add your discovered ID here \\n you need one subflow for every sensor ","info":"","x":250,"y":1600,"wires":[]},{"id":"b5285c1992dcc00e","type":"comment","z":"0114429ac4bd07f8","name":"To get responses from buttons \\n add your discovered ID here \\n you need one subflow for every button","info":"","x":250,"y":1840,"wires":[]},{"id":"bcfeb23e7165f52f","type":"change","z":"0114429ac4bd07f8","name":"Dimming 10% down / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"dynamics\":{\"duration\":1000},\"dimming_delta\":{\"action\":\"down\",\"brightness_delta\":10}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":1380,"wires":[["54584a33946472fb"]]},{"id":"a143cdc24e01d046","type":"change","z":"0114429ac4bd07f8","name":"Light off / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":false},\"dynamics\":{\"duration\":1000}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":1460,"wires":[["54584a33946472fb"]]},{"id":"432589f8bb7cd271","type":"inject","z":"0114429ac4bd07f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":1380,"wires":[["bcfeb23e7165f52f"]]},{"id":"881bb85ae233beef","type":"inject","z":"0114429ac4bd07f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":1340,"wires":[["3f8291276d46c4d8"]]},{"id":"8d1916c94289a152","type":"inject","z":"0114429ac4bd07f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":1460,"wires":[["a143cdc24e01d046"]]},{"id":"3f8291276d46c4d8","type":"change","z":"0114429ac4bd07f8","name":"Light on / 100% / orange / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100},\"dynamics\":{\"duration\":1000},\"color\":{\"xy\":{\"x\":0.6101,\"y\":0.3662}}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":1340,"wires":[["54584a33946472fb"]]},{"id":"f8f16b20f75fe23e","type":"change","z":"0114429ac4bd07f8","name":"Dimming 10% up / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"dynamics\":{\"duration\":1000},\"dimming_delta\":{\"action\":\"up\",\"brightness_delta\":10}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":1420,"wires":[["54584a33946472fb"]]},{"id":"9fdd2e0abeaaf822","type":"inject","z":"0114429ac4bd07f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":1420,"wires":[["f8f16b20f75fe23e"]]},{"id":"67c9204709da7910","type":"change","z":"0114429ac4bd07f8","name":"Light on / 100% / red / alert flashing","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100},\"color\":{\"xy\":{\"x\":0.7,\"y\":0.25}},\"alert\":{\"action\":\"breathe\"}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":1500,"wires":[["54584a33946472fb"]]},{"id":"951056aef8dcac29","type":"inject","z":"0114429ac4bd07f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":1500,"wires":[["67c9204709da7910"]]},{"id":"14dec9323dd4971b","type":"change","z":"0114429ac4bd07f8","name":"Light on / 80% / 2s transition / color temp cold 153","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":80},\"dynamics\":{\"duration\":2000},\"color_temperature\":{\"mirek\":153}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1540,"wires":[["54584a33946472fb"]]},{"id":"39a4cf23fc3c7dc8","type":"inject","z":"0114429ac4bd07f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":1540,"wires":[["14dec9323dd4971b"]]},{"id":"99e82ff30f5bc59d","type":"change","z":"0114429ac4bd07f8","name":"Light on / 50% / 1s transition / color temp warm 500","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":50},\"dynamics\":{\"duration\":1000},\"color_temperature\":{\"mirek\":500}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1580,"wires":[["54584a33946472fb"]]},{"id":"ef6cd0160cdefc55","type":"inject","z":"0114429ac4bd07f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":1580,"wires":[["99e82ff30f5bc59d"]]},{"id":"5bb49fbcaf3fa629","type":"change","z":"0114429ac4bd07f8","name":"Room or Zone on / 100% / orange / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"replace with discovered !!!>> RID <<!!!","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100},\"dynamics\":{\"duration\":1000},\"color\":{\"xy\":{\"x\":0.6101,\"y\":0.3662}}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1700,"wires":[["54584a33946472fb"]]},{"id":"4888b06998b5df73","type":"inject","z":"0114429ac4bd07f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":1700,"wires":[["5bb49fbcaf3fa629"]]},{"id":"35b6084712d3ce7d","type":"comment","z":"0114429ac4bd07f8","name":"grouped_light - DOUBLE CLICK FOR INFO","info":"(Rooms & Zones) can be controlled in almost the samme way as lights. \n\nJust the endpoint in the change node is different and instead of \nusing the ID of a Room / Zone you need to use the discoverd **rid **\n\ngrouped_light is a service (rid) that is connected to the group/zone ID","x":1180,"y":1660,"wires":[]},{"id":"2421f310e8393341","type":"change","z":"0114429ac4bd07f8","name":"Motion Sensor DISABLED","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"motion","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"enabled\":false}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":2040,"wires":[["54584a33946472fb"]]},{"id":"79931e660b66a407","type":"change","z":"0114429ac4bd07f8","name":"Motion Sensor ENABLED","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"motion","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"enabled\":true}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":2000,"wires":[["54584a33946472fb"]]},{"id":"27655fcf7ab20bfd","type":"inject","z":"0114429ac4bd07f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":2040,"wires":[["2421f310e8393341"]]},{"id":"cd6f2929d96c290f","type":"inject","z":"0114429ac4bd07f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":2000,"wires":[["79931e660b66a407"]]},{"id":"f27cddee660b3f26","type":"comment","z":"0114429ac4bd07f8","name":"Motion Sensor ENABLED / DISABLED","info":"","x":1170,"y":1960,"wires":[]},{"id":"0d5bd126f252a03c","type":"change","z":"0114429ac4bd07f8","name":"Recall a Scene","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"scene","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"recall\":{\"action\":\"active\"}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":1780,"wires":[["54584a33946472fb"]],"icon":"font-awesome/fa-star"},{"id":"c14470842a8dd9d5","type":"change","z":"0114429ac4bd07f8","name":"Room or Zone off","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"replace with discovered !!!>> RID <<!!!","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":false}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1740,"wires":[["54584a33946472fb"]]},{"id":"1a8b0d3c07dbccd3","type":"inject","z":"0114429ac4bd07f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":1740,"wires":[["c14470842a8dd9d5"]]},{"id":"90ecf945a5e44935","type":"inject","z":"0114429ac4bd07f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":1780,"wires":[["0d5bd126f252a03c"]]},{"id":"461f2c71d084fe69","type":"comment","z":"0114429ac4bd07f8","name":"Recall a Scene - DOUBLE CLICK FOR INFO","info":"I highly recommend to use Scenes to turn on Rooms/Zones. \nThis is just one request to the Bridge and the rest is \nprocessed in the bridge. When 4 lights are turned on simultanious, \nthe bridge possible wont be able to handle these requests at once.\n\nIf you have a setup where it is needed to turn on seperate lights, \nthen add delay nodes i front of the chhange node. \n\nExample: 4 Lights need to be tunes on, \nlight 1 = no delay\nlight 2 = 200ms delay\nlight 3 = 400ms delay\nlight 4 = 600ms delay\n\nwhen turning light off simultanious, this should be done in this way.\nBetter is to turn off Rooms or Zones with one request.","x":1190,"y":1820,"wires":[]},{"id":"70d4d416f7029d01","type":"change","z":"0114429ac4bd07f8","name":"Get State","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ADD GROUP RID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"get","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":2160,"wires":[["54584a33946472fb"]]},{"id":"c64b2a2f4738d83c","type":"inject","z":"0114429ac4bd07f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":2160,"wires":[["70d4d416f7029d01"]]},{"id":"3b0365c913405408","type":"comment","z":"0114429ac4bd07f8","name":"Get state of a Group","info":"","x":1110,"y":2120,"wires":[]},{"id":"54584a33946472fb","type":"link out","z":"0114429ac4bd07f8","name":"actions out","mode":"link","links":["0dd65a974d048469","57ea047f5205a367"],"x":1865,"y":1760,"wires":[]},{"id":"a07c0b1fe8c0fdf4","type":"comment","z":"0114429ac4bd07f8","name":"Step 6","info":"","x":150,"y":1220,"wires":[]},{"id":"792edd409f21cba9","type":"comment","z":"0114429ac4bd07f8","name":"These are pre-configured actions \\n add the ID / RID and try it out \\n with this samples it should be easy \\n to create all the actions you need","info":"","x":1480,"y":1900,"wires":[]},{"id":"71a09d41a4f7daf7","type":"comment","z":"0114429ac4bd07f8","name":"----- CONTROLLING -----","info":"","x":1250,"y":1220,"wires":[]},{"id":"27d0e298324a6ac7","type":"comment","z":"0114429ac4bd07f8","name":"----- STATUS UPDATES -----","info":"","x":340,"y":1220,"wires":[]},{"id":"a4adf8801ea7275c","type":"change","z":"0114429ac4bd07f8","name":"Gradient Stripe","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100},\"gradient\":{\"points\":[{\"color\":{\"xy\":{\"x\":0.6712,\"y\":0.2984}}},{\"color\":{\"xy\":{\"x\":0.4975,\"y\":0.3572}}},{\"color\":{\"xy\":{\"x\":0.4028,\"y\":0.3948}}},{\"color\":{\"xy\":{\"x\":0.424,\"y\":0.4396}}},{\"color\":{\"xy\":{\"x\":0.28,\"y\":0.6174}}}]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":2280,"wires":[["54584a33946472fb"]]},{"id":"719115d51166c9dc","type":"comment","z":"0114429ac4bd07f8","name":"Gradient Stripe","info":"","x":1100,"y":2240,"wires":[]},{"id":"43a0defda738fe6f","type":"inject","z":"0114429ac4bd07f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":2280,"wires":[["a4adf8801ea7275c"]]},{"id":"7fc12a2eb90ce892","type":"comment","z":"0114429ac4bd07f8","name":"Lights - Node name describes what it does, add your IDs","info":"","x":1230,"y":1300,"wires":[]},{"id":"13749ab00aad33f4","type":"comment","z":"0114429ac4bd07f8","name":"Step 7","info":"","x":1070,"y":1220,"wires":[]},{"id":"4bc31af9bd03bbdc","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]
