SSE_Event_Stream.json
[{"id":"7b3fcb1.35bfa34","type":"subflow","name":"Event Flow","info":"","category":"","in":[{"x":180,"y":200,"wires":[{"id":"5887e8c4.48e338"}]}],"out":[{"x":440,"y":100,"wires":[{"id":"d5d2e8d5.444e18","port":0}]},{"x":440,"y":200,"wires":[{"id":"983e6b20.ba90b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"5887e8c4.48e338","type":"json","z":"7b3fcb1.35bfa34","name":"","property":"payload","action":"","pretty":false,"x":295,"y":200,"wires":[["983e6b20.ba90b8","983e6b20.ba90b8"]],"l":false},{"id":"983e6b20.ba90b8","type":"split","z":"7b3fcb1.35bfa34","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"id","x":295,"y":140,"wires":[["d2c4499f.07e4e","d2c4499f.07e4e"]],"l":false},{"id":"d2c4499f.07e4e","type":"change","z":"7b3fcb1.35bfa34","name":"","rules":[{"t":"move","p":"payload.data","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":375,"y":140,"wires":[["7851ee43.5d9f68","7851ee43.5d9f68"]],"l":false},{"id":"7851ee43.5d9f68","type":"split","z":"7b3fcb1.35bfa34","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"id","x":295,"y":100,"wires":[["d5d2e8d5.444e18"]],"l":false},{"id":"d5d2e8d5.444e18","type":"rbe","z":"7b3fcb1.35bfa34","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":375,"y":100,"wires":[[]],"l":false},{"id":"e753ceb7.d083a","type":"sse-client","z":"af40bef6.327ce","name":"HUE CLIP API","url":"https://192.168.0.40/eventstream/clip/v2","events":[],"headers":{},"proxy":"","restart":true,"rejectUnauthorized":false,"withCredentials":true,"timeout":"120","x":1600,"y":1460,"wires":[["2b1294d4.46822c"]]},{"id":"dbda83db.d0634","type":"inject","z":"af40bef6.327ce","name":"(Re-)start stream","props":[{"p":"ip","v":"192.168.0.40","vt":"str"},{"p":"headers","v":"{\"hue-application-key\":\"FS9pMDGj6x2D3p1Kv2VZuh6TTIR\"}","vt":"json"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.7","topic":"","x":1270,"y":1460,"wires":[["e753ceb7.d083a","e753ceb7.d083a"]]},{"id":"5efb8925.edcb28","type":"inject","z":"af40bef6.327ce","name":"Stop stream","props":[{"p":"stop","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1250,"y":1520,"wires":[["e753ceb7.d083a","e753ceb7.d083a"]]},{"id":"e6afee7b.4364d","type":"inject","z":"af40bef6.327ce","name":"Pause stream","props":[{"p":"pause","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":1250,"y":1580,"wires":[["e753ceb7.d083a","e753ceb7.d083a"]]},{"id":"8736735b.9afbe8","type":"comment","z":"af40bef6.327ce","name":"HUE Key & Bridge IP here","info":"","x":1270,"y":1420,"wires":[]},{"id":"5c560ad4.495cfc","type":"comment","z":"af40bef6.327ce","name":"Bridge IP here","info":"","x":1590,"y":1420,"wires":[]},{"id":"632a0ea1.df8b5","type":"comment","z":"af40bef6.327ce","name":"DO NOT DEPLOY WITHOUT THE SSE NODE!","info":"","x":1690,"y":1520,"wires":[]},{"id":"bc923af0.00cd7","type":"debug","z":"af40bef6.327ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2010,"y":1420,"wires":[]},{"id":"2b1294d4.46822c","type":"subflow:7b3fcb1.35bfa34","z":"af40bef6.327ce","name":"","env":[],"x":1790,"y":1460,"wires":[["bc923af0.00cd7"],["83375cee.7a928"]]},{"id":"b050d52a.117e","type":"catch","z":"af40bef6.327ce","name":"","scope":["e753ceb7.d083a"],"uncaught":false,"x":1240,"y":1700,"wires":[["bdbf0313.69651"]]},{"id":"bdbf0313.69651","type":"change","z":"af40bef6.327ce","name":"(Re-)start","rules":[{"t":"set","p":"ip","pt":"msg","to":"192.168.0.40","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"{\"hue-application-key\":\"FS9pMDGj6x2D3p1Kv2VZu5l5qhIp\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":1740,"wires":[["e753ceb7.d083a"]]},{"id":"9f86b085.406fa","type":"comment","z":"af40bef6.327ce","name":"HUE Key & IP here","info":"","x":1250,"y":1780,"wires":[]},{"id":"65e73541.e6622c","type":"comment","z":"af40bef6.327ce","name":"!! IMPORTANT - DOUBLE CLICK !!","info":"The red CATCH node will catch errors from the SSE-Node in case it has an error.\n\nPlease be aware that this can cause a loop when for example the IP for the Bridge changed.\n(SSE-Node can't connect any longer and cause an error, CATCH node sends a restart and so on...)\n\nThis could - depending on your setup - to a high CPU load and could cause overheating / restarting your system.\n\nYou need to decide by yourself if this funtion should be used or not. If youre not sure, dont use it.","x":1260,"y":1820,"wires":[]},{"id":"83375cee.7a928","type":"debug","z":"af40bef6.327ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2010,"y":1500,"wires":[]},{"id":"c2d41975.1e115","type":"comment","z":"af40bef6.327ce","name":"Original Event Stream","info":"","x":2040,"y":1540,"wires":[]},{"id":"b7b6fed0.b07cd8","type":"comment","z":"af40bef6.327ce","name":"Filtered Event Stream","info":"","x":2040,"y":1380,"wires":[]},{"id":"3edaa0ac.4de2a8","type":"comment","z":"af40bef6.327ce","name":"DOUBLE CLICK for Info","info":"The original Event Stream contains the same Data as the Contrib from Yadomi HUE Events and can replace the Node. \n\nThe filtered output contains the payload that is behind the data part of the payload.\n\nTry it out what you like more :)","x":2040,"y":1460,"wires":[]},{"id":"eecea4d9.dff31","type":"comment","z":"af40bef6.327ce","name":"DOUBLE CLICK for Info","info":"The SSE node has a setup for timeouts. \nI have set this to 120seconds after that it will directly connect again by itself in a couple of Milliseconds. \n\nIf there is need or something is not working try different timeouts. \n\nKeep the blue inject Node in any Case, these activates the Eventflow after deploy / node red start, etc.","x":1620,"y":1560,"wires":[]}]
