V3_light_receiver.json
[{"id":"a2fc30fdbecc1c9e","type":"subflow","name":"HUE Light (Receiver)","info":"","category":"HUE V3","in":[{"x":200,"y":980,"wires":[{"id":"012f04c9b60d825b"},{"id":"587621937ddfe44a"},{"id":"5ce7a0a1c0b4e395"},{"id":"1cef083db41051ea"},{"id":"787b9028b76fd33b"},{"id":"678f2d4a356d7b6b"},{"id":"4f98fa4c59019a60"},{"id":"289eea91d49dacce"},{"id":"c0186dd2345ff398"},{"id":"5158796bd9424b92"},{"id":"dc2990825f4ee906"},{"id":"a0dd0572f7c4a58c"},{"id":"77c1a212765ffeb0"},{"id":"dbf3f2bf129b9324"},{"id":"15483e510d2933ba"},{"id":"2b30d5fa592fb25d"},{"id":"8687f2e3f9e07e52"},{"id":"e10302fa98b72fec"},{"id":"589e951d19963d76"},{"id":"a3e7e7a5ef60cb71"},{"id":"a85cb715175ebb45"}]}],"out":[{"x":1560,"y":920,"wires":[{"id":"4e05c09fdb163703","port":0}]},{"x":1580,"y":1000,"wires":[{"id":"4e05c09fdb163703","port":0},{"id":"371ae5eec552d098","port":0}]},{"x":1560,"y":1080,"wires":[{"id":"371ae5eec552d098","port":0}]}],"env":[{"name":"light_ID","type":"str","value":"replace with discovered Lamp / Group ID"}],"meta":{},"color":"#86E3FF","outputLabels":["On","On / Off","Off"],"icon":"node-red/light.svg"},{"id":"0561bb525fbd80d3","type":"rbe","z":"a2fc30fdbecc1c9e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":1270,"y":920,"wires":[["4e05c09fdb163703"]]},{"id":"4e05c09fdb163703","type":"switch","z":"a2fc30fdbecc1c9e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1390,"y":920,"wires":[[]]},{"id":"50e7d15ef9362b88","type":"change","z":"a2fc30fdbecc1c9e","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":880,"wires":[["dc0b5e38eeeeedd0"]]},{"id":"dc0b5e38eeeeedd0","type":"delay","z":"a2fc30fdbecc1c9e","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1390,"y":880,"wires":[["0561bb525fbd80d3"]]},{"id":"a4564b38dbd78d74","type":"change","z":"a2fc30fdbecc1c9e","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":960,"wires":[["0561bb525fbd80d3"]]},{"id":"adbd5875d4c8d840","type":"delay","z":"a2fc30fdbecc1c9e","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1390,"y":1120,"wires":[["e7665e9855871159"]]},{"id":"e7665e9855871159","type":"rbe","z":"a2fc30fdbecc1c9e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1270,"y":1080,"wires":[["371ae5eec552d098"]]},{"id":"9de606b2d7041629","type":"change","z":"a2fc30fdbecc1c9e","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1040,"wires":[["e7665e9855871159"]]},{"id":"51aadce438c76346","type":"change","z":"a2fc30fdbecc1c9e","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1120,"wires":[["adbd5875d4c8d840"]]},{"id":"371ae5eec552d098","type":"switch","z":"a2fc30fdbecc1c9e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1390,"y":1080,"wires":[[]]},{"id":"80fdeab061da9af6","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.0.on.on","property":"payload.data.0.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":580,"wires":[["a4564b38dbd78d74","50e7d15ef9362b88"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"958fada9112d1886","type":"comment","z":"a2fc30fdbecc1c9e","name":"HUE light / grouped_light Event Filter \\n  \\n Output 1: This output will send a **true** when Lights or Groups are turned on. \\n  \\n Output 2: This output will send a **true** when Lights or Groups are turned on AND a **false** when Lights or Groups are turned off. \\n  \\n Output 3: This output will send a **false** when Lights or Groups are turned off \\n  \\n Depending on your Situation it can be useful just to have a **true** OR **false** OR **both** states in your Flow. Thats the reason i built this Subflow. \\n Just use the Output that makes you happy :) \\n  \\n ----------------------- \\n All outputs are boolean  \\n ----------------------- \\n  \\n The delays will reset the RBE nodes. \\n You can adjust the times for your needs, but this worked for me prefectly.","info":"Output 1:\nThis output will send a **true** when Lights or Groups are turned on.\n\nOutput 2:\nThis output will send a **true** when Lights or Groups are turned on AND a **false** when Lights or Groups are turned off.\n\nOutput 3:\nThis output will send a **false** when Lights or Groups are turned off\n\nDepending on your Situation it can be useful just to have a **true** OR **false** OR **both** states in your Flow. Thats the reason i built this Subflow.\nJust use the Output that makes you happy :)\n\n-----------------------\nAll outputs are boolean \n-----------------------\n\nThe delays will reset the RBE nodes.\nYou can adjust the times for your needs, but this worked for me prefectly.","x":510,"y":220,"wires":[]},{"id":"012f04c9b60d825b","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":580,"wires":[["80fdeab061da9af6"]]},{"id":"587621937ddfe44a","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.1.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":620,"wires":[["632b0e4bbbf26a99"]]},{"id":"632b0e4bbbf26a99","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.1.on.on","property":"payload.data.1.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":620,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"fe1535917e8e2a0d","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.2.on.on","property":"payload.data.2.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":660,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"c98cb72cfb2ee1b8","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.3.on.on","property":"payload.data.3.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":700,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"dcf99e4ed3c51d34","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.4.on.on","property":"payload.data.4.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":740,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"149010d6009eb6d0","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.5.on.on","property":"payload.data.5.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":780,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"9a8c337a0232d594","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.6.on.on","property":"payload.data.6.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":820,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"c59da0dfaa832f12","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.7.on.on","property":"payload.data.7.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":860,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"dcaf9ab0660f9257","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.8.on.on","property":"payload.data.8.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":900,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"4ddeb4aa2ee057b0","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.9.on.on","property":"payload.data.9.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":940,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"5ce7a0a1c0b4e395","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.2.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":660,"wires":[["fe1535917e8e2a0d"]]},{"id":"1cef083db41051ea","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.3.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":700,"wires":[["c98cb72cfb2ee1b8"]]},{"id":"787b9028b76fd33b","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.4.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":740,"wires":[["dcf99e4ed3c51d34"]]},{"id":"678f2d4a356d7b6b","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.5.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":780,"wires":[["149010d6009eb6d0"]]},{"id":"4f98fa4c59019a60","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.6.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":820,"wires":[["9a8c337a0232d594"]]},{"id":"289eea91d49dacce","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.7.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":860,"wires":[["c59da0dfaa832f12"]]},{"id":"c0186dd2345ff398","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.8.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":900,"wires":[["dcaf9ab0660f9257"]]},{"id":"5158796bd9424b92","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.9.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":940,"wires":[["4ddeb4aa2ee057b0"]]},{"id":"cf5f2b5104bb5ed8","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.10.on.on","property":"payload.data.10.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":980,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"75a8bcc7b034bf07","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.11.on.on","property":"payload.data.11.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":1020,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["51aadce438c76346","9de606b2d7041629"]]},{"id":"6d1e5eb57702b76d","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.12.on.on","property":"payload.data.12.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":1060,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"dc2990825f4ee906","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.10.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":980,"wires":[["cf5f2b5104bb5ed8"]]},{"id":"a0dd0572f7c4a58c","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.11.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":1020,"wires":[["75a8bcc7b034bf07"]]},{"id":"77c1a212765ffeb0","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.12.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":1060,"wires":[["6d1e5eb57702b76d"]]},{"id":"9c2d3c4a9b8a2c46","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.13.on.on","property":"payload.data.13.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":1100,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"124b984f8b2d2289","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.14.on.on","property":"payload.data.14.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":1140,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"4d929c89def3214e","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.15.on.on","property":"payload.data.15.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":1180,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"dbf3f2bf129b9324","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.13.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":1100,"wires":[["9c2d3c4a9b8a2c46"]]},{"id":"15483e510d2933ba","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.14.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":1140,"wires":[["124b984f8b2d2289"]]},{"id":"2b30d5fa592fb25d","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.15.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":1180,"wires":[["4d929c89def3214e"]]},{"id":"c784e3b402e76a1f","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.16.on.on","property":"payload.data.16.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":1220,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"654e8f62bdd99a0e","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.17.on.on","property":"payload.data.17.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":1260,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"becbea15be97fe84","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.18.on.on","property":"payload.data.18.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":1300,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"495fc5c82a710405","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.19.on.on","property":"payload.data.19.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":1340,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["9de606b2d7041629","51aadce438c76346"]]},{"id":"743d5fb33427872b","type":"switch","z":"a2fc30fdbecc1c9e","name":"payload.data.20.on.on","property":"payload.data.20.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":1380,"wires":[["50e7d15ef9362b88","a4564b38dbd78d74"],["51aadce438c76346","9de606b2d7041629"]]},{"id":"8687f2e3f9e07e52","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.16.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":1220,"wires":[["c784e3b402e76a1f"]]},{"id":"e10302fa98b72fec","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.17.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":1260,"wires":[["654e8f62bdd99a0e"]]},{"id":"589e951d19963d76","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.18.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":1300,"wires":[["becbea15be97fe84"]]},{"id":"a3e7e7a5ef60cb71","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.19.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":1340,"wires":[["495fc5c82a710405"]]},{"id":"a85cb715175ebb45","type":"switch","z":"a2fc30fdbecc1c9e","name":"light / grouped_light ID","property":"payload.data.20.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":1380,"wires":[["743d5fb33427872b"]]},{"id":"aeb3b689f93aa469","type":"subflow:a2fc30fdbecc1c9e","z":"fe62da1.b2b0828","name":"","x":2780,"y":4840,"wires":[[],[],[]]}]
