V3_receivers.json
[{"id":"1c7dd717df1a8317","type":"subflow","name":"Converter","info":"","category":"","in":[{"x":320,"y":260,"wires":[{"id":"d329e1b4d3e4861d"}]}],"out":[{"x":740,"y":260,"wires":[{"id":"5467db2244681bc9","port":0}]}],"env":[],"meta":{},"color":"#FFCC66","icon":"node-red/arrow-in.svg"},{"id":"d329e1b4d3e4861d","type":"change","z":"1c7dd717df1a8317","name":"data > payload","rules":[{"t":"move","p":"payload.data","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":260,"wires":[["5467db2244681bc9"]]},{"id":"5467db2244681bc9","type":"split","z":"1c7dd717df1a8317","name":"","splt":"1","spltType":"len","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":260,"wires":[[]]},{"id":"fd0a834bc19dc477","type":"subflow","name":"HUE Button (Receiver V2)","info":"","category":"HUE v2","in":[{"x":40,"y":500,"wires":[{"id":"02e0c53b5f380abc"}]}],"out":[{"x":1230,"y":240,"wires":[{"id":"aff66db0a73c6817","port":0}]},{"x":1240,"y":440,"wires":[{"id":"8b33a5e0f253464a","port":0}]},{"x":1210,"y":600,"wires":[{"id":"885a0f4d1967bbc5","port":0}]},{"x":1230,"y":760,"wires":[{"id":"47ad3a729f744573","port":0}]}],"env":[{"name":"button_ID","type":"str","value":"replace with discovered button ID","ui":{"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#E6E0F8","outputLabels":["initial_press","short_release","repeat","long_release"],"icon":"font-awesome/fa-toggle-on"},{"id":"906118f237554605","type":"rbe","z":"fd0a834bc19dc477","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":950,"y":240,"wires":[["aff66db0a73c6817"]]},{"id":"aff66db0a73c6817","type":"switch","z":"fd0a834bc19dc477","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":240,"wires":[[]]},{"id":"866c938d0601fd91","type":"change","z":"fd0a834bc19dc477","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":200,"wires":[["c91f99ab4ac0ca0b"]]},{"id":"c91f99ab4ac0ca0b","type":"delay","z":"fd0a834bc19dc477","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1070,"y":200,"wires":[["906118f237554605"]]},{"id":"bdea4865659e7ed1","type":"change","z":"fd0a834bc19dc477","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":280,"wires":[["906118f237554605"]]},{"id":"d272d28c04b78cc9","type":"delay","z":"fd0a834bc19dc477","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1070,"y":720,"wires":[["01b5e5613b3c6c91"]]},{"id":"01b5e5613b3c6c91","type":"rbe","z":"fd0a834bc19dc477","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":950,"y":760,"wires":[["47ad3a729f744573"]]},{"id":"8a235897ceac89ee","type":"change","z":"fd0a834bc19dc477","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":720,"wires":[["d272d28c04b78cc9"]]},{"id":"6e2b9c585d2dcb30","type":"change","z":"fd0a834bc19dc477","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":800,"wires":[["01b5e5613b3c6c91"]]},{"id":"47ad3a729f744573","type":"switch","z":"fd0a834bc19dc477","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":760,"wires":[[]]},{"id":"3abf844fa3b35b1d","type":"switch","z":"fd0a834bc19dc477","name":"payload.button.last_event","property":"payload.button.last_event","propertyType":"msg","rules":[{"t":"cont","v":"initial_press","vt":"str"},{"t":"cont","v":"short_release","vt":"str"},{"t":"cont","v":"repeat","vt":"str"},{"t":"cont","v":"long_release","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":640,"y":500,"wires":[["866c938d0601fd91","bdea4865659e7ed1"],["c0c2474aa9b1a54a","aa8ccf23fe823488"],["885a0f4d1967bbc5"],["6e2b9c585d2dcb30","8a235897ceac89ee"]]},{"id":"6d9003076c893dd5","type":"rbe","z":"fd0a834bc19dc477","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":950,"y":440,"wires":[["8b33a5e0f253464a"]]},{"id":"8b33a5e0f253464a","type":"switch","z":"fd0a834bc19dc477","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":440,"wires":[[]]},{"id":"aa8ccf23fe823488","type":"change","z":"fd0a834bc19dc477","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":400,"wires":[["555c01fe55ef6a5e"]]},{"id":"555c01fe55ef6a5e","type":"delay","z":"fd0a834bc19dc477","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1070,"y":400,"wires":[["6d9003076c893dd5"]]},{"id":"c0c2474aa9b1a54a","type":"change","z":"fd0a834bc19dc477","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":480,"wires":[["6d9003076c893dd5"]]},{"id":"885a0f4d1967bbc5","type":"change","z":"fd0a834bc19dc477","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":600,"wires":[[]]},{"id":"6f9d40ec7d47b962","type":"comment","z":"fd0a834bc19dc477","name":"HUE Button Event Filter \\n  \\n Output 1: The **initial_press** comes ALWAYS directly after you push the Button. Quickest response possible! \\n  \\n Output 2: The **short_release** will just appear after the **initial_press**, when you pushed the Button quick. \\n  \\n Output 3: The **repeat** will appear if you hold the button, and will send a message every second until you release it. \\n  \\n Output 4: The **long_release** will appear after the **repeat** ENDED! \\n  \\n -------------------------------- \\n All outputs are boolean **true** \\n -------------------------------- \\n  \\n The delays will reset the RBE node with a false. \\n You can adjust the times for your needs, but this worked for me prefectly.","info":"Output 1:\nThe **initial_press** comes ALWAYS directly after you push the Button. Quickest response possible!\n\nOutput 2:\nThe **short_release** will just appear after the **initial_press**, when you pushed the Button quick.\n\nOutput 3:\nThe **repeat** will appear if you hold the button, and will send a message every second until you release it.\n\nOutput 4:\nThe **long_release** will appear after the **repeat** ENDED!\n\n\n--------------------------------\nAll outputs are boolean **true**\n--------------------------------\n\n\nThe delays will reset the RBE node with a false.\nYou can adjust the times for your needs, but this worked for me prefectly.","x":420,"y":200,"wires":[]},{"id":"02e0c53b5f380abc","type":"switch","z":"fd0a834bc19dc477","name":"Button ID","property":"payload.id","propertyType":"msg","rules":[{"t":"cont","v":"button_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":500,"wires":[["3abf844fa3b35b1d"]]},{"id":"258f6fbec5adece6","type":"subflow","name":"HUE Light (Receiver V2)","info":"","category":"HUE v2","in":[{"x":60,"y":640,"wires":[{"id":"68d9e71b9371dd94"}]}],"out":[{"x":1060,"y":560,"wires":[{"id":"a5900b9742987778","port":0}]},{"x":1080,"y":640,"wires":[{"id":"a5900b9742987778","port":0},{"id":"0417d4c05b249e2d","port":0}]},{"x":1060,"y":720,"wires":[{"id":"0417d4c05b249e2d","port":0}]}],"env":[{"name":"light_ID","type":"str","value":"replace with discovered Lamp / Group ID"}],"meta":{},"color":"#FFCC66","inputLabels":["EventStream"],"outputLabels":["On","On / Off","Off"],"icon":"node-red/light.svg"},{"id":"148ea122a44de40c","type":"rbe","z":"258f6fbec5adece6","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":710,"y":560,"wires":[["a5900b9742987778"]]},{"id":"a5900b9742987778","type":"switch","z":"258f6fbec5adece6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":560,"wires":[[]]},{"id":"6ffabe410cb5877d","type":"change","z":"258f6fbec5adece6","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":520,"wires":[["e24ca9a5a71b5766"]]},{"id":"e24ca9a5a71b5766","type":"delay","z":"258f6fbec5adece6","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":830,"y":520,"wires":[["148ea122a44de40c"]]},{"id":"ef98e05702edff6c","type":"change","z":"258f6fbec5adece6","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":600,"wires":[["148ea122a44de40c"]]},{"id":"ea7f0f8569823cc8","type":"delay","z":"258f6fbec5adece6","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":830,"y":760,"wires":[["7daeb6457376e167"]]},{"id":"7daeb6457376e167","type":"rbe","z":"258f6fbec5adece6","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":710,"y":720,"wires":[["0417d4c05b249e2d"]]},{"id":"8e56c822d8ec1f3d","type":"change","z":"258f6fbec5adece6","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":680,"wires":[["7daeb6457376e167"]]},{"id":"2e3473f43d3f4720","type":"change","z":"258f6fbec5adece6","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":760,"wires":[["ea7f0f8569823cc8"]]},{"id":"0417d4c05b249e2d","type":"switch","z":"258f6fbec5adece6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":720,"wires":[[]]},{"id":"2a3bc80268a46c51","type":"switch","z":"258f6fbec5adece6","name":"payload.on.on","property":"payload.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":640,"wires":[["ef98e05702edff6c","6ffabe410cb5877d"],["8e56c822d8ec1f3d","2e3473f43d3f4720"]]},{"id":"68d9e71b9371dd94","type":"switch","z":"258f6fbec5adece6","name":"light / grouped_light ID","property":"payload.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":640,"wires":[["2a3bc80268a46c51"]]},{"id":"8d7922f64f44b69e","type":"comment","z":"258f6fbec5adece6","name":"HUE light / grouped_light Event Filter \\n  \\n Output 1: This output will send a **true** when Lights or Groups are turned on. \\n  \\n Output 2: This output will send a **true** when Lights or Groups are turned on AND a **false** when Lights or Groups are turned off. \\n  \\n Output 3: This output will send a **false** when Lights or Groups are turned off \\n  \\n Depending on your Situation it can be useful just to have a **true** OR **false** OR **both** states in your Flow. Thats the reason i built this Subflow. \\n Just use the Output that makes you happy :) \\n  \\n ----------------------- \\n All outputs are boolean  \\n ----------------------- \\n  \\n The delays will reset the RBE nodes. \\n You can adjust the times for your needs, but this worked for me prefectly.","info":"Output 1:\nThis output will send a **true** when Lights or Groups are turned on.\n\nOutput 2:\nThis output will send a **true** when Lights or Groups are turned on AND a **false** when Lights or Groups are turned off.\n\nOutput 3:\nThis output will send a **false** when Lights or Groups are turned off\n\nDepending on your Situation it can be useful just to have a **true** OR **false** OR **both** states in your Flow. Thats the reason i built this Subflow.\nJust use the Output that makes you happy :)\n\n-----------------------\nAll outputs are boolean \n-----------------------\n\nThe delays will reset the RBE nodes.\nYou can adjust the times for your needs, but this worked for me prefectly.","x":530,"y":240,"wires":[]},{"id":"10318cf69acf4768","type":"subflow","name":"HUE Motion (Receiver V2)","info":"","category":"HUE v2","in":[{"x":80,"y":540,"wires":[{"id":"4dbea07a70cc19ca"}]}],"out":[{"x":1050,"y":460,"wires":[{"id":"03edfe0f0f905428","port":0}]},{"x":1070,"y":540,"wires":[{"id":"03edfe0f0f905428","port":0},{"id":"85058d40c3a7059e","port":0}]},{"x":1050,"y":620,"wires":[{"id":"85058d40c3a7059e","port":0}]}],"env":[{"name":"motion_ID","type":"str","value":"replace with discovered Motion Sensor ID"}],"meta":{},"color":"#C7E9C0","outputLabels":["motion true","motion true / false","motion false"],"icon":"node-red/bridge-dash.svg"},{"id":"cb67916bb665e58c","type":"switch","z":"10318cf69acf4768","name":"payload.data.0.motion.motion","property":"payload.motion.motion","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":540,"wires":[["03edfe0f0f905428"],["85058d40c3a7059e"]]},{"id":"03edfe0f0f905428","type":"change","z":"10318cf69acf4768","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":500,"wires":[[]]},{"id":"85058d40c3a7059e","type":"change","z":"10318cf69acf4768","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":580,"wires":[[]]},{"id":"4dbea07a70cc19ca","type":"switch","z":"10318cf69acf4768","name":"Motion Sensor ID","property":"payload.id","propertyType":"msg","rules":[{"t":"cont","v":"motion_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":540,"wires":[["34aaa3bd3a7a9ce1"]]},{"id":"a1990f41416fa655","type":"comment","z":"10318cf69acf4768","name":"HUE - Motion Sensor Event Filter \\n \\n Output 1: Will send just an **true** when Motion is detected \\n  \\n Output 2: Will send an **true** when Motion is detected and a **false** if no motion is detected any longer. \\n  \\n Output 3: Will send just an **false** when no Motion is detected any longer. \\n  \\n ----------------------- \\n All outputs are boolean \\n ----------------------- \\n  \\n Most easy Subflow, but convinient when lots of sensors need to be set up.","info":"Output 1:\nWill send just an **true** when Motion is detected\n\nOutput 2:\nWill send an **true** when Motion is detected and a **false** if no motion is detected any longer.\n\nOutput 3:\nWill send just an **false** when no Motion is detected any longer.\n\n-----------------------\nAll outputs are boolean\n-----------------------\n\nMost easy Subflow, but convinient when lots of sensors need to be set up.","x":420,"y":220,"wires":[]},{"id":"34aaa3bd3a7a9ce1","type":"rbe","z":"10318cf69acf4768","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":410,"y":540,"wires":[["cb67916bb665e58c"]]},{"id":"68ad1cd9aa26e13b","type":"tab","label":"V3 Receivers","disabled":false,"info":"","env":[]},{"id":"938bc09aace26eb7","type":"subflow:10318cf69acf4768","z":"68ad1cd9aa26e13b","name":"","x":1300,"y":600,"wires":[[],[],[]]},{"id":"852f72d75f72a796","type":"subflow:258f6fbec5adece6","z":"68ad1cd9aa26e13b","name":"","x":1290,"y":520,"wires":[[],[],[]]},{"id":"6dfca69a396fed6b","type":"subflow:fd0a834bc19dc477","z":"68ad1cd9aa26e13b","name":"","x":1290,"y":440,"wires":[[],[],[],[]]},{"id":"2a141678adf47667","type":"debug","z":"68ad1cd9aa26e13b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":560,"wires":[]},{"id":"5dedd8e42abed89d","type":"philipshue-events","z":"68ad1cd9aa26e13b","bridge":"","x":400,"y":560,"wires":[["61c8a69e82b1866c"]]},{"id":"61c8a69e82b1866c","type":"subflow:1c7dd717df1a8317","z":"68ad1cd9aa26e13b","name":"","x":660,"y":560,"wires":[["2a141678adf47667","cc2ef99d4ab569ae"]]},{"id":"e07e18793ef596bf","type":"comment","z":"68ad1cd9aa26e13b","name":"Converter seperates the array","info":"","x":660,"y":600,"wires":[]},{"id":"0c8f88588b2a2b4f","type":"link in","z":"68ad1cd9aa26e13b","name":"link in 14","links":["cc2ef99d4ab569ae"],"x":1025,"y":520,"wires":[["6dfca69a396fed6b","852f72d75f72a796","938bc09aace26eb7"]]},{"id":"cc2ef99d4ab569ae","type":"link out","z":"68ad1cd9aa26e13b","name":"link out 4","mode":"link","links":["0c8f88588b2a2b4f"],"x":835,"y":520,"wires":[]},{"id":"b8ad9c22c38174ab","type":"comment","z":"68ad1cd9aa26e13b","name":"Add your discovered ID / RID in the nodes","info":"","x":1280,"y":380,"wires":[]},{"id":"b61f11f15354a764","type":"comment","z":"68ad1cd9aa26e13b","name":"HUE Event Receivers for Firmware >= 1.53.1953188010 (beta release) \\n \\n HUE changed the Event-Flow output in the API for groups. \\n Instead of sending payloads for every light/group seperately they changed \\n it into a payload with one big array. \\n For the reason that the response data for th group is not always at the same position \\n the array need to be converted to single payloads first. \\n All the data needed comes now directly as paylload, so the switches need to be replaced with this new version \\n \\n These changes work already, even when you dont have this Firmware. \\n You can replace your nodes to be prepared for the Update. \\n \\n TO BE SAVE, BACKUP YOUR OLD FLOW BEFORE!","info":"","x":690,"y":280,"wires":[]}]
