flows/alarm_flow.json
[{"id":"8750b8936ac9a1e1","type":"tab","label":"Alarm Flow","disabled":true,"info":"","env":[]},{"id":"100480668ef9f1aa","type":"delay","z":"8750b8936ac9a1e1","name":"800ms","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1170,"y":500,"wires":[["03d4912fcd7cd949","a5bac6477bf1e7b3"]]},{"id":"03d4912fcd7cd949","type":"change","z":"8750b8936ac9a1e1","name":"Restore previous color","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.dimming.brightness","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.color.xy.x","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.color.xy.y","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.on.on","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.dynamics.duration","tot":"msg"},{"t":"set","p":"payload.dimming.brightness","pt":"msg","to":"decke_bright","tot":"flow"},{"t":"set","p":"payload.color.xy.x","pt":"msg","to":"lamp_x","tot":"flow"},{"t":"set","p":"payload.color.xy.y","pt":"msg","to":"lamp_y","tot":"flow"},{"t":"set","p":"payload.on.on","pt":"msg","to":"lamp_on","tot":"flow"},{"t":"set","p":"payload.dynamics.duration","pt":"msg","to":"3000","tot":"num"},{"t":"set","p":"topic","pt":"msg","to":"20ccb86c-f91d-4944-b0b4-66ef08cae960","tot":"str"},{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":500,"wires":[["2ac71449a3421a53"]]},{"id":"a5bac6477bf1e7b3","type":"delay","z":"8750b8936ac9a1e1","name":"2sec","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1170,"y":580,"wires":[["b05b1680cd7e7894"]]},{"id":"199fe16a3c2fe6ee","type":"change","z":"8750b8936ac9a1e1","name":"Off","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"20ccb86c-f91d-4944-b0b4-66ef08cae960","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":false},\"dynamics\":{},\"duration\":1000}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":420,"wires":[["2ac71449a3421a53"]]},{"id":"dbb7723c9f06a9d7","type":"delay","z":"8750b8936ac9a1e1","name":"5sec","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1170,"y":420,"wires":[["199fe16a3c2fe6ee","100480668ef9f1aa"]]},{"id":"f47e4315dbfc7e9f","type":"change","z":"8750b8936ac9a1e1","name":"Alarm ","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"20ccb86c-f91d-4944-b0b4-66ef08cae960","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100},\"color\":{\"xy\":{\"x\":0.7,\"y\":0.25}},\"alert\":{\"action\":\"breathe\",\"duration\":5000}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":340,"wires":[["2ac71449a3421a53"]]},{"id":"2ac71449a3421a53","type":"function","z":"8750b8936ac9a1e1","name":"HUE API V2","func":"\n// you can copy the user from the hue config node\nvar user = \"FS9pMD YOUR  ID OYh6TTIR\";\n\n\nif(msg.endpoint === undefined)\n msg.url = \"https://192.168.0.xx/clip/v2/resource\";\nelse if(msg.topic === undefined)\n msg.url = \"https://192.168.0.xx/clip/v2/resource/\" + msg.endpoint;\nelse\n msg.url = \"https://192.168.0.xx/clip/v2/resource/\" + msg.endpoint + \"/\" + msg.topic;\n\n\nmsg.headers = {};\n\nmsg.headers['hue-application-key'] = user;\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\n\nif(msg.payload != undefined)\n msg.headers['ContentLength'] = JSON.stringify(msg.payload).length;\n\nif(msg.verb === undefined)\n msg.method = \"get\";\nelse\n msg.method = msg.verb;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":420,"wires":[["6fba8a95e1560e29"]]},{"id":"6fba8a95e1560e29","type":"http request","z":"8750b8936ac9a1e1","name":"https request HUE API V2","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"4bc31af9bd03bbdc","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":2070,"y":420,"wires":[[]]},{"id":"4f2fb1684b704e0c","type":"change","z":"8750b8936ac9a1e1","name":"","rules":[{"t":"set","p":"lamp_x","pt":"flow","to":"payload.data.0.color.xy.x","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":620,"wires":[[]]},{"id":"cb1efed905cb96d2","type":"switch","z":"8750b8936ac9a1e1","name":"Lamp ID","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"20ccb86c-f91d-4944-b0b4-66ef08cae960","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1800,"y":640,"wires":[["4f2fb1684b704e0c","f56fb49deea21d52","f5af49fc85157641","32016027ead0e938"]]},{"id":"f56fb49deea21d52","type":"change","z":"8750b8936ac9a1e1","name":"","rules":[{"t":"set","p":"lamp_y","pt":"flow","to":"payload.data.0.color.xy.y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":660,"wires":[[]]},{"id":"f5af49fc85157641","type":"change","z":"8750b8936ac9a1e1","name":"","rules":[{"t":"set","p":"lamp_bright","pt":"flow","to":"payload.data.0.dimming.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2060,"y":580,"wires":[[]]},{"id":"bd7c5c102c5de98a","type":"link in","z":"8750b8936ac9a1e1","name":"Events","links":[],"x":1245,"y":640,"wires":[["9f98981f8ab59fa7"]]},{"id":"32016027ead0e938","type":"change","z":"8750b8936ac9a1e1","name":"","rules":[{"t":"set","p":"lamp_on","pt":"flow","to":"payload.data.0.on.on","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":700,"wires":[[]]},{"id":"9f98981f8ab59fa7","type":"InterruptFlowUltimate","z":"8750b8936ac9a1e1","name":"Interrupt Flow","triggertopic":"trigger","initializewith":"1","autoToggle":"0","x":1695,"y":640,"wires":[["cb1efed905cb96d2"]],"l":false},{"id":"b05b1680cd7e7894","type":"change","z":"8750b8936ac9a1e1","name":"Pass Flow Signal","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"trigger","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":580,"wires":[["9f98981f8ab59fa7"]],"icon":"node-red/arrow-in.svg"},{"id":"2325b68b6dc3dc59","type":"change","z":"8750b8936ac9a1e1","name":"Block Flow Signal","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"trigger","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":700,"wires":[["9f98981f8ab59fa7"]],"icon":"font-awesome/fa-ban"},{"id":"bc10c695b1b3621d","type":"change","z":"8750b8936ac9a1e1","name":"Delete Variables ","rules":[{"t":"delete","p":"#:(file)::lamp_on","pt":"flow"},{"t":"delete","p":"#:(file)::lamp_x","pt":"flow"},{"t":"delete","p":"#:(file)::lamp_y","pt":"flow"},{"t":"delete","p":"#:(file)::lamp_bright","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":740,"wires":[[]]},{"id":"cb3a0ef3ad189249","type":"inject","z":"8750b8936ac9a1e1","name":"Delete","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2010,"y":780,"wires":[["bc10c695b1b3621d"]]},{"id":"651780f109cf4a4a","type":"comment","z":"8750b8936ac9a1e1","name":"Add your Lamp ID here (topic)","info":"","x":1800,"y":600,"wires":[]},{"id":"0a8e1ae08517c82b","type":"comment","z":"8750b8936ac9a1e1","name":"Add your Lamp ID here (topic)","info":"","x":1460,"y":320,"wires":[]},{"id":"6abbe21cd697c256","type":"comment","z":"8750b8936ac9a1e1","name":"Add your Lamp ID here (topic)","info":"","x":1460,"y":400,"wires":[]},{"id":"0b6b8edd641c0cc3","type":"comment","z":"8750b8936ac9a1e1","name":"Add your Lamp ID here (topic)","info":"","x":1460,"y":480,"wires":[]},{"id":"15a2405d0dd43405","type":"comment","z":"8750b8936ac9a1e1","name":"Connect to HUE Events (orange Node)","info":"","x":1430,"y":640,"wires":[]},{"id":"0b29b315c547e2b3","type":"change","z":"8750b8936ac9a1e1","name":"(this is just for makig it look nice) :P","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1135,"y":700,"wires":[["2325b68b6dc3dc59"]],"l":false},{"id":"4e3e76c7a7410262","type":"link in","z":"8750b8936ac9a1e1","name":"Alarm Wohnen","links":[],"x":935,"y":340,"wires":[["dbb7723c9f06a9d7","f47e4315dbfc7e9f","0b29b315c547e2b3"]]},{"id":"3d863ade543211f0","type":"comment","z":"8750b8936ac9a1e1","name":"!!!!! ATTENTION !!!!","info":"","x":1690,"y":760,"wires":[]},{"id":"1fca59fa601d130c","type":"comment","z":"8750b8936ac9a1e1","name":"This Flow needs \"node-red-contrib-boolean-logic-ultimate\"","info":"","x":1690,"y":800,"wires":[]},{"id":"b61e81cecec09b69","type":"comment","z":"8750b8936ac9a1e1","name":"!!!!! INSTALL BEFORE DEPLOYING !!!!","info":"","x":1690,"y":840,"wires":[]},{"id":"94c85b38e093c043","type":"comment","z":"8750b8936ac9a1e1","name":">> READ ME << DOUBLE CLICK","info":"This Flow flashs a Lamp RED Alarm for\n5 Seconds. After that the Lamp returns\nto the previous state \n(On/Off/Color/Brightness)\n\n- add the Lamp ID at all marked nodes\n- connect it to theEvent Flow\n- Set a Trigger\n\nIt works in this way, that the Évent Flow\nalways stores the values of the Lamp in \n4 Variables (your standard setting, for me \nits set to memory) The Initial Event\nstops the flow (interrupt flow node), \nso that the variables dont get overwritten.\n\nAfter the Alarm, the Lamp turns off for a\nMoment, then the flow reads the stored \nvariables and uses this for the previous\ncolor. It fades smoothly in 3 seconds back.\nAfter 2 seconds the interrupt Flow\nnode unblocks again.\n\nTipp:\nCheck if I did use variables that are in\nuse already in your flow.","x":1160,"y":200,"wires":[]},{"id":"83ee0f94b9b9b850","type":"inject","z":"8750b8936ac9a1e1","name":"Test Alarm","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":880,"y":380,"wires":[["dbb7723c9f06a9d7","f47e4315dbfc7e9f","0b29b315c547e2b3"]]},{"id":"301138dc079244ad","type":"comment","z":"8750b8936ac9a1e1","name":"Connect to your Event trigger","info":"","x":800,"y":340,"wires":[]},{"id":"53bda45da9b75e7d","type":"comment","z":"8750b8936ac9a1e1","name":"Your Bridge ID and Bridge IP here","info":"","x":1780,"y":380,"wires":[]},{"id":"4bc31af9bd03bbdc","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]
