flows/alarm_flow.json
[{"id":"78561e342a6c6a5d","type":"tab","label":"Alarm Flow V2","disabled":false,"info":"","env":[]},{"id":"227be8954a176a4f","type":"change","z":"78561e342a6c6a5d","name":"block","rules":[{"t":"set","p":"block","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":360,"wires":[[]]},{"id":"37ad645ef95559de","type":"change","z":"78561e342a6c6a5d","d":true,"name":"light_o","rules":[{"t":"set","p":"light_on","pt":"flow","to":"payload.on.on","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":400,"wires":[[]]},{"id":"38599582586e62ca","type":"change","z":"78561e342a6c6a5d","d":true,"name":"light_b","rules":[{"t":"set","p":"light_bright","pt":"flow","to":"payload.dimming.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":440,"wires":[[]]},{"id":"5ea4ff486e7b3114","type":"function","z":"78561e342a6c6a5d","name":"HUE API V2","func":"\n// you can copy the user from the hue config node\nvar user = \"your api key here\";\n\n\nif(msg.endpoint === undefined)\n msg.url = \"https://192.168.0.40/clip/v2/resource\";\nelse if(msg.topic === undefined)\n msg.url = \"https://192.168.0.40/clip/v2/resource/\" + msg.endpoint;\nelse\n msg.url = \"https://192.168.0.40/clip/v2/resource/\" + msg.endpoint + \"/\" + msg.topic;\n\n\nmsg.headers = {};\n\nmsg.headers['hue-application-key'] = user;\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\n\nif(msg.payload != undefined)\n msg.headers['ContentLength'] = JSON.stringify(msg.payload).length;\n\nif(msg.verb === undefined)\n msg.method = \"get\";\nelse\n msg.method = msg.verb;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":280,"wires":[["4239c3b0e9e45bbf"]]},{"id":"4239c3b0e9e45bbf","type":"http request","z":"78561e342a6c6a5d","name":"https request HUE API V2","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"4bc31af9bd03bbdc","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1030,"y":240,"wires":[[]]},{"id":"048bcf732a7b7c26","type":"change","z":"78561e342a6c6a5d","name":"Alarm ","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"20ccb86c-f91d-4944-b0b4-66ef08cae960","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100},\"color\":{\"xy\":{\"x\":0.7,\"y\":0.25}},\"alert\":{\"action\":\"breathe\",\"duration\":5000}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":240,"wires":[["5ea4ff486e7b3114"]]},{"id":"23f27222a5dcefbf","type":"change","z":"78561e342a6c6a5d","name":"Restore","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.dimming.brightness","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.color.xy.x","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.color.xy.y","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.on.on","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.dynamics.duration","tot":"msg"},{"t":"set","p":"payload.dimming.brightness","pt":"msg","to":"light_bright","tot":"flow"},{"t":"set","p":"payload.color.xy.x","pt":"msg","to":"light_x","tot":"flow"},{"t":"set","p":"payload.color.xy.y","pt":"msg","to":"light_y","tot":"flow"},{"t":"set","p":"payload.on.on","pt":"msg","to":"light_on","tot":"flow"},{"t":"set","p":"payload.dynamics.duration","pt":"msg","to":"3000","tot":"num"},{"t":"set","p":"topic","pt":"msg","to":"20ccb86c-f91d-4944-b0b4-66ef08cae960","tot":"str"},{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":320,"wires":[["5ea4ff486e7b3114"]]},{"id":"e45edf1b21b0baad","type":"change","z":"78561e342a6c6a5d","name":"Off","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"20ccb86c-f91d-4944-b0b4-66ef08cae960","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":false},\"dynamics\":{},\"duration\":1000}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":280,"wires":[["5ea4ff486e7b3114"]]},{"id":"5699fee4f9333961","type":"change","z":"78561e342a6c6a5d","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":360,"wires":[["227be8954a176a4f"]]},{"id":"67623ff99510581b","type":"delay","z":"78561e342a6c6a5d","name":"5sek","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":645,"y":280,"wires":[["e45edf1b21b0baad","11afb9a4748497af"]],"l":false},{"id":"93ab0898976728ce","type":"link in","z":"78561e342a6c6a5d","name":"your trigger","links":[],"x":350,"y":240,"wires":[["67623ff99510581b","048bcf732a7b7c26","1ef1f9691bdecfb0"]],"l":true},{"id":"11afb9a4748497af","type":"delay","z":"78561e342a6c6a5d","name":"800ms","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":645,"y":320,"wires":[["23f27222a5dcefbf","9c0b3cb1a82109cc"]],"l":false},{"id":"9c0b3cb1a82109cc","type":"delay","z":"78561e342a6c6a5d","name":"2sek","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":645,"y":360,"wires":[["5699fee4f9333961"]],"l":false},{"id":"36d15a5f270eca2b","type":"switch","z":"78561e342a6c6a5d","name":"Light ID","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"20ccb86c-f91d-4944-b0b4-66ef08cae960","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":460,"wires":[["37ad645ef95559de","38599582586e62ca","33aa9a85a9b1ef34","a1d8755181d139a5","5e6143fae3cab8ca","a830cbb7bd58c716","781fee0e637052fa","5d2a105fa64fb382","8304f33c316fb313"]]},{"id":"6f9b0f2d88f262d8","type":"function","z":"78561e342a6c6a5d","name":"block","func":"//fragt globale var ab\nlet alarm = {\n    block: flow.get(\"block\"),\n}\n// false\nif  (\n    alarm.block === false\n    )\n// switch false\n{\n    return msg; \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":460,"wires":[["36d15a5f270eca2b"]]},{"id":"33aa9a85a9b1ef34","type":"change","z":"78561e342a6c6a5d","d":true,"name":"light_y","rules":[{"t":"set","p":"light_y","pt":"flow","to":"payload.color.xy.y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":520,"wires":[[]]},{"id":"515af2bbfececa0f","type":"inject","z":"78561e342a6c6a5d","name":"Test","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":280,"wires":[["048bcf732a7b7c26","67623ff99510581b","1ef1f9691bdecfb0"]]},{"id":"1ef1f9691bdecfb0","type":"change","z":"78561e342a6c6a5d","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":400,"wires":[["227be8954a176a4f"]]},{"id":"c64ba17ac6a37ef6","type":"link in","z":"78561e342a6c6a5d","name":"Eventstream","links":[],"x":350,"y":460,"wires":[["6f9b0f2d88f262d8"]],"l":true},{"id":"5e6143fae3cab8ca","type":"change","z":"78561e342a6c6a5d","name":"light_o","rules":[{"t":"set","p":"light_on","pt":"flow","to":"payload.data.0.on.on","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":400,"wires":[[]]},{"id":"a830cbb7bd58c716","type":"change","z":"78561e342a6c6a5d","name":"light_b","rules":[{"t":"set","p":"light_bright","pt":"flow","to":"payload.data.0.dimming.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":440,"wires":[[]]},{"id":"a1d8755181d139a5","type":"change","z":"78561e342a6c6a5d","d":true,"name":"light_x","rules":[{"t":"set","p":"light_x","pt":"flow","to":"payload.color.xy.x","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":480,"wires":[[]]},{"id":"781fee0e637052fa","type":"change","z":"78561e342a6c6a5d","name":"light_x","rules":[{"t":"set","p":"light_x","pt":"flow","to":"payload.data.0.color.xy.x","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":480,"wires":[[]]},{"id":"5d2a105fa64fb382","type":"change","z":"78561e342a6c6a5d","name":"light_y","rules":[{"t":"set","p":"light_y","pt":"flow","to":"payload.data.0.color.xy.y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":520,"wires":[[]]},{"id":"8304f33c316fb313","type":"debug","z":"78561e342a6c6a5d","name":"Light Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":560,"wires":[]},{"id":"60eb488828746cbd","type":"comment","z":"78561e342a6c6a5d","name":"Light ID here","info":"","x":670,"y":460,"wires":[]},{"id":"4fb20fbbb03e20a1","type":"comment","z":"78561e342a6c6a5d","name":"replace with your nodes, or replace with your data","info":"","x":1030,"y":260,"wires":[]},{"id":"6c28ebee1e8b1490","type":"comment","z":"78561e342a6c6a5d","name":"DOUBLE CLICK","info":"depending on your setup (array splitter) \nyou may need to use this nodes, if it\ndoesnt work, try the other first","x":1300,"y":460,"wires":[]},{"id":"b236139eb8e9cb96","type":"comment","z":"78561e342a6c6a5d","name":"Light ID here","info":"","x":670,"y":240,"wires":[]},{"id":"880bd0b164f018ee","type":"comment","z":"78561e342a6c6a5d","name":"Light ID here","info":"","x":670,"y":320,"wires":[]},{"id":"717866eb05a5bed9","type":"comment","z":"78561e342a6c6a5d","name":"Light ID here","info":"","x":670,"y":280,"wires":[]},{"id":"4bc31af9bd03bbdc","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]
