flows/array_splitter.json
[{"id":"9ea544c10139c347","type":"link out","z":"cdb52ede208a8b09","name":"EventStream","mode":"link","links":[],"x":1730,"y":3300,"wires":[],"l":true},{"id":"38132742fc417f3e","type":"debug","z":"cdb52ede208a8b09","name":"HUE monitor","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":3300,"wires":[]},{"id":"5063b899db82e765","type":"philipshue-events","z":"cdb52ede208a8b09","bridge":"9201a46f772e1bc2","x":1040,"y":3300,"wires":[["c8cc09b1d87dd5c7"]]},{"id":"c8cc09b1d87dd5c7","type":"function","z":"cdb52ede208a8b09","name":"Array Splitter","func":"for (var i = 0; i < msg.payload.data.length; i++) {\n    // Create a deep copy of msg object\n    let splitmsg = JSON.parse(JSON.stringify(msg));\n\n    // Reset data of new message to its single data part\n    splitmsg.payload.data = [msg.payload.data[i]];\n    \n    // send using node\n    node.send(splitmsg);\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":3300,"wires":[["9ea544c10139c347","38132742fc417f3e"]]},{"id":"9201a46f772e1bc2","type":"philipshue-events-config","address":"192.168.0.31","applicationkey":"FxL-Wdqi8bjU5H71MMwKvFxigaJhZMdhsTpAMuDb"}]
