flows/battery_status.json
[{"id":"d1abcd4.10bc03","type":"subflow","name":"Request Timer","info":"","category":"","in":[{"x":320,"y":180,"wires":[{"id":"ae3b4275178b1b9a"}]}],"out":[{"x":860,"y":320,"wires":[{"id":"244e6655.741d9a","port":0},{"id":"6bd8af1f.89fdd","port":0},{"id":"2a5d491d.97c806","port":0},{"id":"9e7f2747.5c4628","port":0},{"id":"c2dcb099.f3e78","port":0},{"id":"9fd56572.0c0b38","port":0},{"id":"f15b3597.8713b8","port":0},{"id":"b3e8db342fa136b3","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f0a2d4f4.19a288","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":480,"y":220,"wires":[["6bd8af1f.89fdd","a0bdc284.5e792"]]},{"id":"a0bdc284.5e792","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":480,"y":260,"wires":[["2a5d491d.97c806","ffdeebc6.4d7b88"]]},{"id":"244e6655.741d9a","type":"change","z":"d1abcd4.10bc03","name":"room","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"room","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":180,"wires":[[]]},{"id":"6bd8af1f.89fdd","type":"change","z":"d1abcd4.10bc03","name":"zone","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"zone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":220,"wires":[[]]},{"id":"2a5d491d.97c806","type":"change","z":"d1abcd4.10bc03","name":"scene","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"scene","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":260,"wires":[[]]},{"id":"ffdeebc6.4d7b88","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":480,"y":300,"wires":[["c2dcb099.f3e78","b2ade02a.ff9c1"]]},{"id":"c2dcb099.f3e78","type":"change","z":"d1abcd4.10bc03","name":"device","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"device","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[[]]},{"id":"9e7f2747.5c4628","type":"change","z":"d1abcd4.10bc03","name":"motion","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":340,"wires":[[]]},{"id":"b2ade02a.ff9c1","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":480,"y":340,"wires":[["9e7f2747.5c4628","db7b216c.0f12c"]]},{"id":"9fd56572.0c0b38","type":"change","z":"d1abcd4.10bc03","name":"button","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"button","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":380,"wires":[[]]},{"id":"f15b3597.8713b8","type":"change","z":"d1abcd4.10bc03","name":"light","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":420,"wires":[[]]},{"id":"db7b216c.0f12c","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":480,"y":380,"wires":[["9fd56572.0c0b38","5ff7e2ec.4fce7c"]]},{"id":"5ff7e2ec.4fce7c","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":480,"y":420,"wires":[["f15b3597.8713b8","9c7bae662eb45d7e"]]},{"id":"ae3b4275178b1b9a","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":480,"y":180,"wires":[["f0a2d4f4.19a288","244e6655.741d9a"]]},{"id":"9c7bae662eb45d7e","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":480,"y":460,"wires":[["b3e8db342fa136b3"]]},{"id":"b3e8db342fa136b3","type":"change","z":"d1abcd4.10bc03","name":"light","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"device_power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":460,"wires":[[]]},{"id":"b24fb7c3374a068f","type":"subflow","name":"HUE Battery","info":"","category":"","in":[{"x":380,"y":300,"wires":[{"id":"d32cdb01e3decfe2"}]}],"out":[{"x":2100,"y":300,"wires":[{"id":"c828c0fa8e3f3a76","port":0}]}],"env":[{"name":"ID","type":"str","value":"Enter discovered battery ID here"},{"name":"name","type":"str","value":"Enter Name here"},{"name":"battery_min","type":"num","value":"20"}],"meta":{},"color":"#FDF0C2","icon":"node-red/leveldb.svg","status":{"x":900,"y":340,"wires":[{"id":"3c90db5b0197d702","port":0}]}},{"id":"a99a20392ebca264","type":"switch","z":"b24fb7c3374a068f","name":"ID","property":"payload.data.id","propertyType":"msg","rules":[{"t":"eq","v":"ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":300,"wires":[["e6d4774257275d98"]]},{"id":"2194ef51f5032a88","type":"switch","z":"b24fb7c3374a068f","name":"battery_min","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"battery_min","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":300,"wires":[["1c096bdeab2af8de","8abca59d7c4c1344"]]},{"id":"9e4428e6c34fb886","type":"join","z":"b24fb7c3374a068f","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1550,"y":300,"wires":[["9e98482cf2509e11","592db54154cefe42"]]},{"id":"8abca59d7c4c1344","type":"delay","z":"b24fb7c3374a068f","name":"500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1210,"y":340,"wires":[["4746a99826e56315"]]},{"id":"1c096bdeab2af8de","type":"change","z":"b24fb7c3374a068f","name":"Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"name","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":300,"wires":[["9e4428e6c34fb886"]]},{"id":"3c90db5b0197d702","type":"change","z":"b24fb7c3374a068f","name":"batt_level","rules":[{"t":"set","p":"batt_level","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":340,"wires":[[]]},{"id":"39e7127e4edcc47a","type":"delay","z":"b24fb7c3374a068f","name":"500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":870,"y":300,"wires":[["2194ef51f5032a88"]]},{"id":"4746a99826e56315","type":"change","z":"b24fb7c3374a068f","name":"batt_level","rules":[{"t":"set","p":"payload","pt":"msg","to":"batt_level","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":340,"wires":[["9e4428e6c34fb886"]]},{"id":"9e98482cf2509e11","type":"change","z":"b24fb7c3374a068f","name":"batt_level","rules":[{"t":"set","p":"batt_level_full","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":340,"wires":[[]]},{"id":"e6d4774257275d98","type":"change","z":"b24fb7c3374a068f","name":"Move","rules":[{"t":"move","p":"payload.data.power_state.battery_level","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":300,"wires":[["3c90db5b0197d702","39e7127e4edcc47a"]]},{"id":"d32cdb01e3decfe2","type":"split","z":"b24fb7c3374a068f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload.data","x":470,"y":300,"wires":[["a99a20392ebca264"]]},{"id":"c828c0fa8e3f3a76","type":"change","z":"b24fb7c3374a068f","name":"Name / Battery level Output","rules":[{"t":"set","p":"payload","pt":"msg","to":"batt_level_full","tot":"flow"},{"t":"delete","p":"endpoint","pt":"msg"},{"t":"delete","p":"method","pt":"msg"},{"t":"delete","p":"statusCode","pt":"msg"},{"t":"delete","p":"responseUrl","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"retry","pt":"msg"},{"t":"delete","p":"url","pt":"msg"},{"t":"delete","p":"redirectList","pt":"msg"},{"t":"delete","p":"_event","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1920,"y":300,"wires":[[]]},{"id":"592db54154cefe42","type":"delay","z":"b24fb7c3374a068f","name":"500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1710,"y":300,"wires":[["c828c0fa8e3f3a76"]]},{"id":"7a14643a.75260c","type":"subflow","name":"Splitter","info":"","category":"","in":[{"x":540,"y":300,"wires":[{"id":"273108cc.4b9928"}]}],"out":[{"x":960,"y":300,"wires":[{"id":"a7524f72.576f3","port":0},{"id":"f3125664899350c0","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"273108cc.4b9928","type":"switch","z":"7a14643a.75260c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"split","vt":"str"},{"t":"eq","v":"array","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":300,"wires":[["fb18185d.5df9e8"],["f3125664899350c0"]]},{"id":"a7524f72.576f3","type":"split","z":"7a14643a.75260c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":810,"y":240,"wires":[[]]},{"id":"fb18185d.5df9e8","type":"change","z":"7a14643a.75260c","name":"del topic","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":280,"wires":[["a7524f72.576f3"]]},{"id":"f3125664899350c0","type":"change","z":"7a14643a.75260c","name":"del topic","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":320,"wires":[[]]},{"id":"e5da35ddbb487eda","type":"tab","label":"HUE Battery","disabled":false,"info":"","env":[]},{"id":"e1eb10c052230532","type":"switch","z":"e5da35ddbb487eda","name":"Device","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"device","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":820,"wires":[["b635c7d7485d5461"]]},{"id":"b635c7d7485d5461","type":"function","z":"e5da35ddbb487eda","name":"Devices Button and Motion","func":"// NOTE: Devices have multipe rtypes in the services\n// This script grabs the first one, so a motion sensor may show\n// up as \"temperature\" as it also does temp. don't worry\n// this script is more to get the name of the devices to help\n// with the button/motion scripts.\nvar response = [];\nvar devices = {};\nmsg.payload.data.forEach(function(item){\n    try {\n        if(item.metadata.archetype == \"unknown_archetype\") {\n            var pair = {\n                \"name\": item.metadata.name,\n                \"id\": item.id,\n                \"rid\": item.services[0].rid,\n                \"rtype\": item.services[0].rtype,\n                \"battery\": item.services[2].rid\n            };\n            devices[item.id] = item.metadata.name;\n            response.push(pair);\n        }\n    } catch(err) {\n        node.warn(err);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"devices name/rid\",\n    \"keys\": devices\n};","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":820,"wires":[["f4daf33067d3f626","4551a2c3b9681308"]]},{"id":"f4daf33067d3f626","type":"change","z":"e5da35ddbb487eda","name":"devices","rules":[{"t":"set","p":"devices","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":860,"wires":[[]]},{"id":"4551a2c3b9681308","type":"debug","z":"e5da35ddbb487eda","name":"Devices","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":820,"wires":[]},{"id":"91a9d850c074c6c5","type":"subflow:7a14643a.75260c","z":"e5da35ddbb487eda","name":"","env":[],"x":1680,"y":820,"wires":[["e79646c0a374f39e"]]},{"id":"e79646c0a374f39e","type":"debug","z":"e5da35ddbb487eda","name":"API V2 DATA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1830,"y":820,"wires":[]},{"id":"2d807c505cd2c419","type":"inject","z":"e5da35ddbb487eda","name":"Devices (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"devices","payloadType":"flow","x":1370,"y":820,"wires":[["91a9d850c074c6c5"]]},{"id":"03760658678d9dc1","type":"link in","z":"e5da35ddbb487eda","name":"connect to bridge request output EXAMPLE ","links":["583ed9a15b2dcb97"],"x":370,"y":820,"wires":[["e1eb10c052230532"]],"l":true},{"id":"217ce8475b068bb5","type":"comment","z":"e5da35ddbb487eda","name":"this is a replacement (double click for more info)","info":"These Nodes are already in the \nHelper Functions Flow for ID discovery.\n\nPlease replace these, I made changes \nin the function Node and the stored context.\n\nAlso replace the blue Inject Node, \nas this refers to the context store\n\nThe Input Nodes dont need to be replaces, \njust connect\n","x":820,"y":760,"wires":[]},{"id":"3f24614f7a3d8fef","type":"comment","z":"e5da35ddbb487eda","name":"Replace Node (double click)","info":"the Splitter and the debug Node didnt change\nand are just examples. They are existing in\nyour Flow already\n\nPlease replace the Inject node as mentioned\nin the other description","x":1380,"y":760,"wires":[]},{"id":"5ffae6650255de4d","type":"subflow:b24fb7c3374a068f","z":"e5da35ddbb487eda","name":"Device 1","env":[{"name":"battery_min","value":"90","type":"num"}],"x":760,"y":1200,"wires":[["e7244438c99d1b76"]]},{"id":"ac881c0f83f05786","type":"link in","z":"e5da35ddbb487eda","name":"connect to bridge request output EXAMPLE ","links":["583ed9a15b2dcb97"],"x":370,"y":1200,"wires":[["5ffae6650255de4d","da6d58233e63a31d","cb31ec2bec61851c"]],"l":true},{"id":"e7244438c99d1b76","type":"debug","z":"e5da35ddbb487eda","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":1200,"wires":[]},{"id":"e2930e2f56543db0","type":"inject","z":"e5da35ddbb487eda","name":"Battery request","props":[{"p":"payload"}],"repeat":"","crontab":"00 20 * * *","once":true,"onceDelay":"5","topic":"","payload":"true","payloadType":"bool","x":880,"y":360,"wires":[["438ed7c0e2189d37"]]},{"id":"438ed7c0e2189d37","type":"change","z":"e5da35ddbb487eda","name":"Battery ","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"device_power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":320,"wires":[["824ae896805f0823"]]},{"id":"f424c05e5f1decff","type":"comment","z":"e5da35ddbb487eda","name":"ADD THIS : Connect this to the HUE API V2 Node (double click)","info":"Add these Nodes to the already existing Flow\n\n--------------------------------------------\n\nYou need to request for the Battery Levels.\n\nI do this once a day in the evening.\nThe Inject Node is setup like this,\nbut can used also manually. \n\nIf you have a central clock Node, like\nnode-red-contrib-sun-position, use this\nto trigger the request at the time of your\nchoice.\n\nI recommend to do it once a day.\n","x":970,"y":260,"wires":[]},{"id":"824ae896805f0823","type":"function","z":"e5da35ddbb487eda","name":"HUE API V2 - THIS IS JUST AN EXAMPLE","func":"\n// you can copy the user from the hue config node\nvar user = \"no key added\";\n\n\nif(msg.endpoint === undefined)\n msg.url = \"https://192.168.0.1/clip/v2/resource\";\nelse if(msg.topic === undefined)\n msg.url = \"https://192.168.0.1/clip/v2/resource/\" + msg.endpoint;\nelse\n msg.url = \"https://192.168.0.1/clip/v2/resource/\" + msg.endpoint + \"/\" + msg.topic;\n\n\nmsg.headers = {};\n\nmsg.headers['hue-application-key'] = user;\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\n\nif(msg.payload != undefined)\n msg.headers['ContentLength'] = JSON.stringify(msg.payload).length;\n\nif(msg.verb === undefined)\n msg.method = \"get\";\nelse\n msg.method = msg.verb;\n\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":400,"wires":[["972881a9c454dc86"]]},{"id":"972881a9c454dc86","type":"http request","z":"e5da35ddbb487eda","name":"https request HUE API V2 - EXAMPLE","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"4bc31af9bd03bbdc","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1790,"y":400,"wires":[["583ed9a15b2dcb97"]]},{"id":"583ed9a15b2dcb97","type":"link out","z":"e5da35ddbb487eda","name":"EXAMPLE","mode":"link","links":["03760658678d9dc1","ac881c0f83f05786"],"x":2130,"y":400,"wires":[],"l":true},{"id":"62d92956cec55d05","type":"comment","z":"e5da35ddbb487eda","name":"EXAMPLES - DELETE AFTERWARDS - just to show where to connect","info":"","x":1630,"y":360,"wires":[]},{"id":"1ac8a9b5f222245a","type":"comment","z":"e5da35ddbb487eda","name":"add the data in this Node (double click)","info":"Double Click on the Subflow\n\n1. Enter discovered battery ID\n2. Enter the Device Name for the Output\n3. Enter the min. Battery level\n4. Name the Node with your Device Name\n   (Instead of Battery 1,2,3)\n\n\nEvery value below the entered \n\"min_battery\" Level will cause that the Node \nsends a Message with (Name + Battery Level) \nas Text trough the Output. The Battery Level\nis also be displayed under the Node.\n\nIf the Level is above, the Node just\ndisplay the Battery Level, but will\nnot send a message to the output.\n\n---------\n\nFor testing the Value is 90, please change\nit to the value, when you want a Message\nto replace the battery.\n\nI use the Output to send a text Message\nvia Pushover to my Phone for example.","x":750,"y":1140,"wires":[]},{"id":"6edd434ed135820f","type":"subflow:d1abcd4.10bc03","z":"e5da35ddbb487eda","name":"EXAMPLE","env":[],"x":590,"y":400,"wires":[["824ae896805f0823"]]},{"id":"caa7fcfe61786ea7","type":"delay","z":"e5da35ddbb487eda","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":475,"y":400,"wires":[["6edd434ed135820f"]],"l":false},{"id":"6ea0b5c2299b6ccb","type":"inject","z":"e5da35ddbb487eda","name":"EXAMPLE","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":370,"y":400,"wires":[["caa7fcfe61786ea7"]]},{"id":"7aea65d43603d235","type":"comment","z":"e5da35ddbb487eda","name":"EXAMPLES - DELETE AFTERWARDS","info":"","x":490,"y":360,"wires":[]},{"id":"8571a1dce0bfc718","type":"comment","z":"e5da35ddbb487eda","name":"INFO: check how it is connected here","info":"","x":2130,"y":360,"wires":[]},{"id":"78ee806e2ea19759","type":"comment","z":"e5da35ddbb487eda","name":"------------- This is part of the Helper Functions for RID / ID discovery -------------","info":"","x":1630,"y":260,"wires":[]},{"id":"da6d58233e63a31d","type":"subflow:b24fb7c3374a068f","z":"e5da35ddbb487eda","name":"Device 2","env":[{"name":"battery_min","value":"90","type":"num"}],"x":760,"y":1260,"wires":[["e7244438c99d1b76"]]},{"id":"cb31ec2bec61851c","type":"subflow:b24fb7c3374a068f","z":"e5da35ddbb487eda","name":"Device 3","env":[{"name":"battery_min","value":"90","type":"num"}],"x":760,"y":1320,"wires":[["e7244438c99d1b76"]]},{"id":"595dd8b1eb5192f3","type":"comment","z":"e5da35ddbb487eda","name":"------- MAIN INSTRUCTIONS -------","info":"With these additional Nodes it is easy to\ndetermine the Battery Level of all Devices\n\nEvery step has a label\n\n\n!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!\nInitial: Please make a backup from your\n         existing Flow!\n!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!\n\n\nStep 1: Add the 3 Nodes into your Request Flow.\n        all additional Nodes there are just \n        Examples and marked as those.\n        More Instructions in the Comment Node\n\nStep 2: replace the Nodes in the Helper Flow\n        Check also the instructions there\n\nStep 3: Replace the Inject Node in the Helper Flow\n        Also Instructions in the Comment Node\n\n\n        ----- DEPLOY CHANGES -----\n\n!CHECK THAT THE LINK IN/OUT NODES ARE CONNECTED!\n\n\n\nStep 4: Get the Information out of your \n        HUE Brigde now, wait.\n\nStep 5: Get the device IDs with the Inject Node\n        (Devices seperately) and check the debug\n\nStep 6: Read the Instructions in the comment Node,\n        add your Data in the Subflows\n\n\n        ----- DEPLOY CHANGES -----\n\n\nStep 7: Go back to the Nodes Labled with \"Step 1\"\n        Click the \"Battery Request\" Inject Node\n        The Battery_Levels should show up at the\n        Battery Subflow Nodes. When the Levels \n        are below 90, you will get a Message\n\n        ----- DONE -----\n        \n        The rest is up to you :)","x":460,"y":240,"wires":[]},{"id":"1922c0bc74e945b2","type":"link in","z":"e5da35ddbb487eda","name":"Clock of your choice","links":[],"x":870,"y":320,"wires":[["438ed7c0e2189d37"]],"l":true},{"id":"e0ee0ce0530a50db","type":"comment","z":"e5da35ddbb487eda","name":"----- Step 1 -----","info":"","x":980,"y":220,"wires":[]},{"id":"e6c030cc420773fc","type":"comment","z":"e5da35ddbb487eda","name":"----- Step 2 -----","info":"","x":820,"y":720,"wires":[]},{"id":"5efdab7f8faadef2","type":"comment","z":"e5da35ddbb487eda","name":"----- Step 3 -----","info":"","x":1380,"y":720,"wires":[]},{"id":"c712e0d7cc957dee","type":"comment","z":"e5da35ddbb487eda","name":"----- Step 4 -----","info":"","x":360,"y":460,"wires":[]},{"id":"49fc35737fc93028","type":"comment","z":"e5da35ddbb487eda","name":"EXAMPLES - DELETE AFTERWARDS ","info":"","x":1770,"y":780,"wires":[]},{"id":"3d7ae146deb5b7f3","type":"comment","z":"e5da35ddbb487eda","name":"----- Step 5 -----","info":"","x":1380,"y":880,"wires":[]},{"id":"360b57b3d3446505","type":"comment","z":"e5da35ddbb487eda","name":"----- Step 6 -----","info":"","x":760,"y":1100,"wires":[]},{"id":"8e47e6aeb23cd1b4","type":"comment","z":"e5da35ddbb487eda","name":"Check the Data (double click)","info":"You should now get devices with their real Name\nand ID for battery_level. \nThis Battery ID is used for step 6","x":1380,"y":920,"wires":[]},{"id":"8cf5cb424e8b2cff","type":"comment","z":"e5da35ddbb487eda","name":" (request all Bridge Data)","info":"","x":350,"y":500,"wires":[]},{"id":"3fa039ddd31d4e44","type":"comment","z":"e5da35ddbb487eda","name":"READ HERE FIRST (Double Click)","info":"If you are experienced with this Setup,\nyou might figure the changes out by yourself,\nand you maybe dont need to read all instructions.\n\nI genereal the setup is self explaining\n\nHave a look in the MAIN INSTRUCTIONS now","x":460,"y":200,"wires":[]},{"id":"4bc31af9bd03bbdc","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]