flows/Change Node Examples.json
[{"id":"1f9acf83.9006e","type":"change","z":"c4bb6fdc.f0e168","name":"Dimming 10% down / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"dynamics\":{\"duration\":1000},\"dimming_delta\":{\"action\":\"down\",\"brightness_delta\":10}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1600,"wires":[["2565a4db.f6564c"]]},{"id":"fe7a9c3.9f0086","type":"change","z":"c4bb6fdc.f0e168","name":"Light off / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":false},\"dynamics\":{\"duration\":1000}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1680,"wires":[["2565a4db.f6564c"]]},{"id":"d633674f.d88018","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1600,"wires":[["1f9acf83.9006e"]]},{"id":"f499cb89.8de808","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1560,"wires":[["e6553522.6f6c08"]]},{"id":"f8681d08.e3e3","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1680,"wires":[["fe7a9c3.9f0086"]]},{"id":"e6553522.6f6c08","type":"change","z":"c4bb6fdc.f0e168","name":"Light on / 100% / orange / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100},\"dynamics\":{\"duration\":1000},\"color\":{\"xy\":{\"x\":0.6101,\"y\":0.3662}}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1560,"wires":[["2565a4db.f6564c"]]},{"id":"4ef7e467.ceb65c","type":"change","z":"c4bb6fdc.f0e168","name":"Dimming 10% up / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"dynamics\":{\"duration\":1000},\"dimming_delta\":{\"action\":\"up\",\"brightness_delta\":10}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1640,"wires":[["2565a4db.f6564c"]]},{"id":"6d4c8dc9.3fd1a4","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1640,"wires":[["4ef7e467.ceb65c"]]},{"id":"3137bc6e.379034","type":"change","z":"c4bb6fdc.f0e168","name":"Light on / 100% / red / alert flashing","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100},\"color\":{\"xy\":{\"x\":0.7,\"y\":0.25}},\"alert\":{\"action\":\"breathe\"}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1720,"wires":[["2565a4db.f6564c"]]},{"id":"f2935ffd.f56e9","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1720,"wires":[["3137bc6e.379034"]]},{"id":"2d820094.04ff7","type":"change","z":"c4bb6fdc.f0e168","name":"Light on / 80% / 2s transition / color temp cold 153","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":80},\"dynamics\":{\"duration\":2000},\"color_temperature\":{\"mirek\":153}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1760,"wires":[["2565a4db.f6564c"]]},{"id":"1eadd878.5437a8","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1760,"wires":[["2d820094.04ff7"]]},{"id":"c062e60a.efec68","type":"change","z":"c4bb6fdc.f0e168","name":"Light on / 50% / 1s transition / color temp warm 500","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":50},\"dynamics\":{\"duration\":1000},\"color_temperature\":{\"mirek\":500}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1800,"wires":[["2565a4db.f6564c"]]},{"id":"be9c7dfe.0196e","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1800,"wires":[["c062e60a.efec68"]]},{"id":"bcf5eb02.5eed18","type":"comment","z":"c4bb6fdc.f0e168","name":"lights - DOUBLE CLICK FOR INFO","info":"","x":320,"y":1520,"wires":[]},{"id":"e4e239bb.b444c8","type":"change","z":"c4bb6fdc.f0e168","name":"Room or Zone on / 100% / orange / 1s transition","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"replace with discovered !!!>> RID <<!!!","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100},\"dynamics\":{\"duration\":1000},\"color\":{\"xy\":{\"x\":0.6101,\"y\":0.3662}}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1920,"wires":[["2565a4db.f6564c"]]},{"id":"89d3944f.5d4648","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1920,"wires":[["e4e239bb.b444c8"]]},{"id":"3e13f7c9.3ccd68","type":"comment","z":"c4bb6fdc.f0e168","name":"grouped_light - DOUBLE CLICK FOR INFO","info":"(Rooms & Zones) can be controlled in almost the samme way as lights. \n\nJust the endpoint in the change node is different and instead of using the ID of a Room / Zone you need to use the discoverd **rid **\n\ngrouped_light is a service (rid) that is connected to the group/zone ID","x":350,"y":1880,"wires":[]},{"id":"a96124fc.93a588","type":"change","z":"c4bb6fdc.f0e168","name":"Motion Sensor DISABLED","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"motion","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"enabled\":false}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2240,"wires":[["2565a4db.f6564c"]]},{"id":"531a73e9.1f44ac","type":"change","z":"c4bb6fdc.f0e168","name":"Motion Sensor ENABLED","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"motion","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"enabled\":true}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2200,"wires":[["2565a4db.f6564c"]]},{"id":"1ff487cb.ff6758","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":2240,"wires":[["a96124fc.93a588"]]},{"id":"56a41435.3ee8ac","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":2200,"wires":[["531a73e9.1f44ac"]]},{"id":"2c9c0ecc.6cd702","type":"link in","z":"c4bb6fdc.f0e168","name":"Motion Sensor ***Name*** On","links":[],"x":395,"y":2200,"wires":[["531a73e9.1f44ac"]]},{"id":"92da63d2.31ae1","type":"link in","z":"c4bb6fdc.f0e168","name":"Motion Sensor ***Name*** Off","links":[],"x":395,"y":2240,"wires":[["a96124fc.93a588"]]},{"id":"ebe004ab.608d58","type":"comment","z":"c4bb6fdc.f0e168","name":"Motion Sensor ENABLED / DISABLED","info":"","x":330,"y":2160,"wires":[]},{"id":"31201e91.036a72","type":"change","z":"c4bb6fdc.f0e168","name":"Recall a Scene","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"scene","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Replace with your discovered ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"recall\":{\"action\":\"active\"}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":2080,"wires":[["2565a4db.f6564c"]],"icon":"font-awesome/fa-star"},{"id":"84c412bc.8407c","type":"change","z":"c4bb6fdc.f0e168","name":"Room or Zone off","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"replace with discovered !!!>> RID <<!!!","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":false}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1960,"wires":[["2565a4db.f6564c"]]},{"id":"56458bc7.ed74e4","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1960,"wires":[["84c412bc.8407c"]]},{"id":"d417720d.58ecd","type":"inject","z":"c4bb6fdc.f0e168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":2080,"wires":[["31201e91.036a72"]]},{"id":"6b93df73.d4304","type":"comment","z":"c4bb6fdc.f0e168","name":"Recall a Scene - DOUBLE CLICK FOR INFO","info":"I highly recommend to use Scenes to turn on Rooms/Zones. This is just one request to the Bridge and the rest is processed in the bridge. When 4 lights are turned on simultanious, the bridge possible wont be able to handle these requests at once.\n\nIf you have a sestup where it is needed to turn on seperate lights, then add delay nodes i front of the chhange node. \n\nExample: 4 Lights need to be tunes on, \nlight 1 = no delay\nlight 2 = 200ms delay\nlight 3 = 400ms delay\nlight 4 = 600ms delay\n\nwhen turning light off simultanious, this should be done in this way. Better is to turn off Rooms or Zones with one request.","x":350,"y":2040,"wires":[]}]
