flows/dimming_nodes.json
[ { "id": "52f9328e99b43f95", "type": "change", "z": "56a9ddfc.0001f4", "name": "Dim Up", "rules": [ { "t": "set", "p": "endpoint", "pt": "msg", "to": "light", "tot": "str" }, { "t": "set", "p": "topic", "pt": "msg", "to": "Replace with your discovered ID", "tot": "str" }, { "t": "set", "p": "payload", "pt": "msg", "to": "{\"dynamics\":{\"duration\":8000},\"dimming_delta\":{\"action\":\"up\",\"brightness_delta\":100}}", "tot": "json" }, { "t": "set", "p": "verb", "pt": "msg", "to": "put", "tot": "str" } ], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 720, "y": 1960, "wires": [ [ "64bf48b5.64eda8" ] ] }, { "id": "470b5a6c17a90283", "type": "change", "z": "56a9ddfc.0001f4", "name": "Dim down", "rules": [ { "t": "set", "p": "endpoint", "pt": "msg", "to": "light", "tot": "str" }, { "t": "set", "p": "topic", "pt": "msg", "to": "Replace with your discovered ID", "tot": "str" }, { "t": "set", "p": "payload", "pt": "msg", "to": "{\"dynamics\":{\"duration\":8000},\"dimming_delta\":{\"action\":\"down\",\"brightness_delta\":100}}", "tot": "json" }, { "t": "set", "p": "verb", "pt": "msg", "to": "put", "tot": "str" } ], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 720, "y": 2000, "wires": [ [ "64bf48b5.64eda8" ] ] }, { "id": "aa8c21beb02a0c2a", "type": "change", "z": "56a9ddfc.0001f4", "name": "Dim stop", "rules": [ { "t": "set", "p": "endpoint", "pt": "msg", "to": "light", "tot": "str" }, { "t": "set", "p": "topic", "pt": "msg", "to": "Replace with your discovered ID", "tot": "str" }, { "t": "set", "p": "payload", "pt": "msg", "to": "{\"dimming_delta\":{\"action\":\"stop\"}}", "tot": "json" }, { "t": "set", "p": "verb", "pt": "msg", "to": "put", "tot": "str" } ], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 720, "y": 2040, "wires": [ [ "64bf48b5.64eda8" ] ] }, { "id": "f23a9de7c12d131c", "type": "inject", "z": "56a9ddfc.0001f4", "name": "", "props": [ { "p": "payload" }, { "p": "topic", "vt": "str" } ], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "", "payload": "", "payloadType": "date", "x": 280, "y": 1960, "wires": [ [ "52f9328e99b43f95" ] ] }, { "id": "10a2347a79ee542b", "type": "inject", "z": "56a9ddfc.0001f4", "name": "", "props": [ { "p": "payload" }, { "p": "topic", "vt": "str" } ], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "", "payload": "", "payloadType": "date", "x": 280, "y": 2000, "wires": [ [ "470b5a6c17a90283" ] ] }, { "id": "8734450f449c2482", "type": "inject", "z": "56a9ddfc.0001f4", "name": "", "props": [ { "p": "payload" }, { "p": "topic", "vt": "str" } ], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "", "payload": "", "payloadType": "date", "x": 280, "y": 2040, "wires": [ [ "aa8c21beb02a0c2a" ] ] } ]
