flows/helper_functions_flow_2v.json
[{"id":"7a14643a.75260c","type":"subflow","name":"Splitter","info":"","category":"","in":[{"x":540,"y":300,"wires":[{"id":"273108cc.4b9928"}]}],"out":[{"x":1140,"y":300,"wires":[{"id":"a7524f72.576f3","port":0},{"id":"3d746554.ddcffa","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"273108cc.4b9928","type":"switch","z":"7a14643a.75260c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"array","vt":"str"},{"t":"eq","v":"split","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":300,"wires":[["3d746554.ddcffa"],["fb18185d.5df9e8"]]},{"id":"a7524f72.576f3","type":"split","z":"7a14643a.75260c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":880,"y":340,"wires":[[]]},{"id":"fb18185d.5df9e8","type":"change","z":"7a14643a.75260c","name":"del topic","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":300,"wires":[["a7524f72.576f3"]]},{"id":"3d746554.ddcffa","type":"change","z":"7a14643a.75260c","name":"del topic","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"parts","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":240,"wires":[[]]},{"id":"d1abcd4.10bc03","type":"subflow","name":"Request Timer","info":"","category":"","in":[{"x":240,"y":180,"wires":[{"id":"f0a2d4f4.19a288"},{"id":"244e6655.741d9a"}]}],"out":[{"x":840,"y":180,"wires":[{"id":"244e6655.741d9a","port":0},{"id":"6bd8af1f.89fdd","port":0},{"id":"2a5d491d.97c806","port":0},{"id":"9e7f2747.5c4628","port":0},{"id":"c2dcb099.f3e78","port":0},{"id":"9fd56572.0c0b38","port":0},{"id":"f15b3597.8713b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f0a2d4f4.19a288","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":220,"wires":[["6bd8af1f.89fdd","a0bdc284.5e792"]]},{"id":"a0bdc284.5e792","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":260,"wires":[["2a5d491d.97c806","ffdeebc6.4d7b88"]]},{"id":"244e6655.741d9a","type":"change","z":"d1abcd4.10bc03","name":"room","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"room","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":180,"wires":[[]]},{"id":"6bd8af1f.89fdd","type":"change","z":"d1abcd4.10bc03","name":"zone","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"zone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":220,"wires":[[]]},{"id":"2a5d491d.97c806","type":"change","z":"d1abcd4.10bc03","name":"scene","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"scene","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":260,"wires":[[]]},{"id":"ffdeebc6.4d7b88","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":300,"wires":[["c2dcb099.f3e78","b2ade02a.ff9c1"]]},{"id":"c2dcb099.f3e78","type":"change","z":"d1abcd4.10bc03","name":"device","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"device","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[[]]},{"id":"9e7f2747.5c4628","type":"change","z":"d1abcd4.10bc03","name":"motion","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":340,"wires":[[]]},{"id":"b2ade02a.ff9c1","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":340,"wires":[["9e7f2747.5c4628","db7b216c.0f12c"]]},{"id":"9fd56572.0c0b38","type":"change","z":"d1abcd4.10bc03","name":"button","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"button","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":380,"wires":[[]]},{"id":"f15b3597.8713b8","type":"change","z":"d1abcd4.10bc03","name":"light","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":420,"wires":[[]]},{"id":"db7b216c.0f12c","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":380,"wires":[["9fd56572.0c0b38","5ff7e2ec.4fce7c"]]},{"id":"5ff7e2ec.4fce7c","type":"delay","z":"d1abcd4.10bc03","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":420,"wires":[["f15b3597.8713b8"]]},{"id":"aff9cdb5.1ba04","type":"subflow","name":"Scenes Room / Zones","info":"","category":"","in":[{"x":660,"y":340,"wires":[{"id":"d783c4a0.a134f8"},{"id":"b2fff99f.0b7af8"}]}],"out":[{"x":1260,"y":300,"wires":[{"id":"fb43fcd6.f6b8c","port":0}]},{"x":1260,"y":380,"wires":[{"id":"c17682ee.48568","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b2fff99f.0b7af8","type":"split","z":"aff9cdb5.1ba04","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":840,"y":380,"wires":[["48dc6c9.51e3694"]]},{"id":"48dc6c9.51e3694","type":"switch","z":"aff9cdb5.1ba04","name":"","property":"payload.zone-name","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":380,"wires":[["c17682ee.48568"]]},{"id":"c17682ee.48568","type":"join","z":"aff9cdb5.1ba04","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1130,"y":380,"wires":[[]]},{"id":"a1aefb6a.38dee8","type":"switch","z":"aff9cdb5.1ba04","name":"","property":"payload.room-name","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":300,"wires":[["fb43fcd6.f6b8c"]]},{"id":"fb43fcd6.f6b8c","type":"join","z":"aff9cdb5.1ba04","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1130,"y":300,"wires":[[]]},{"id":"d783c4a0.a134f8","type":"split","z":"aff9cdb5.1ba04","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":840,"y":300,"wires":[["a1aefb6a.38dee8"]]},{"id":"b9905ba4.2335e8","type":"comment","z":"56a9ddfc.0001f4","name":"\"Helper Functions for RID / ID discovery\" (credits to user marc-gist for his help!)","info":"","x":2600,"y":1240,"wires":[]},{"id":"4433b152.6029d","type":"comment","z":"56a9ddfc.0001f4","name":"This helps you to discover the ID / RID for Scenes / lights / grouped_light","info":"","x":2600,"y":1280,"wires":[]},{"id":"473a4cdc.593674","type":"link in","z":"56a9ddfc.0001f4","name":"BRIDGE DATA RESPONSE IN","links":["9843e319.dcf13"],"x":2755,"y":1600,"wires":[["a8fe8327.b5826","b260caba.8ee0e8","f50205ef.511b38","c99f72b.86fac9","ab0eaa70.e72fb8","6515ee56.e8bbb","77339fcc.c76a8"]]},{"id":"a8fe8327.b5826","type":"switch","z":"56a9ddfc.0001f4","name":"Room","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"room","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3010,"y":1380,"wires":[["5281ce31.81651","18ca2231.e3138e"]]},{"id":"5f81dd61.2b48c4","type":"inject","z":"56a9ddfc.0001f4","name":"Scenes Zone (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"zone_scenes","payloadType":"flow","x":2130,"y":1740,"wires":[["1adff996.f43ed6"]]},{"id":"b0c1c08f.cd09","type":"change","z":"56a9ddfc.0001f4","name":"rooms","rules":[{"t":"set","p":"rooms","pt":"flow","to":"keys","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3350,"y":1320,"wires":[[]]},{"id":"b260caba.8ee0e8","type":"switch","z":"56a9ddfc.0001f4","name":"Scene","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"scene","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3010,"y":1600,"wires":[["a92d8993.234808","9d108223.484bb"]]},{"id":"f50205ef.511b38","type":"switch","z":"56a9ddfc.0001f4","name":"Light","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"light","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3010,"y":2120,"wires":[["c184b3ad.f0547"]]},{"id":"c99f72b.86fac9","type":"switch","z":"56a9ddfc.0001f4","name":"Zone","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"zone","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3010,"y":1180,"wires":[["9da74eb5.c82d4","11c52499.8a819b"]]},{"id":"a92d8993.234808","type":"function","z":"56a9ddfc.0001f4","name":"Scene Name, ID, Zone Name","func":"var response = [];\nvar zones = flow.get(\"zones\") || {};\nvar size = Object.keys(zones).length;\nif(size <= 0) {\n    node.error(\"Please Update Zones First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"name\": item.metadata.name,\n        \"id\": item.id,\n        // \"rid\": item.group.rid,\n        // \"rtype\": item.group.rtype,\n        \"zone-name\": zones[item.group.rid]\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Scene name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3270,"y":1560,"wires":[["745bd723.b4cb48"]]},{"id":"4ce2bfd3.60447","type":"change","z":"56a9ddfc.0001f4","name":"zones","rules":[{"t":"set","p":"zones","pt":"flow","to":"keys","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3350,"y":1120,"wires":[[]]},{"id":"745bd723.b4cb48","type":"subflow:aff9cdb5.1ba04","z":"56a9ddfc.0001f4","name":"","env":[],"x":3300,"y":1600,"wires":[["1134a254.0a791e","c7a424f1.138818"],["6048660a.edfb28","93fb11ca.c149b"]]},{"id":"1134a254.0a791e","type":"debug","z":"56a9ddfc.0001f4","name":"Room Scenes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3620,"y":1560,"wires":[]},{"id":"6048660a.edfb28","type":"debug","z":"56a9ddfc.0001f4","name":"Zone Scenes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3610,"y":1640,"wires":[]},{"id":"1c2578db.96e2c7","type":"debug","z":"56a9ddfc.0001f4","name":"Rooms","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3600,"y":1360,"wires":[]},{"id":"5bf4d24f.d7f07c","type":"debug","z":"56a9ddfc.0001f4","name":"Zones","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3590,"y":1160,"wires":[]},{"id":"e43d3f47.f52f1","type":"inject","z":"56a9ddfc.0001f4","name":"Get all Data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":2170,"y":1080,"wires":[["adfc47.693e13b8"]]},{"id":"c7a424f1.138818","type":"change","z":"56a9ddfc.0001f4","name":"room_scenes","rules":[{"t":"set","p":"room_scenes","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3320,"y":1520,"wires":[[]]},{"id":"adfc47.693e13b8","type":"subflow:d1abcd4.10bc03","z":"56a9ddfc.0001f4","name":"Request","env":[],"x":2480,"y":1080,"wires":[["c639e802.9a6c78"]]},{"id":"c639e802.9a6c78","type":"link out","z":"56a9ddfc.0001f4","name":"Timer Out","links":["c0ea44d8.8272a8"],"x":2655,"y":1080,"wires":[]},{"id":"b0e860ed.47474","type":"comment","z":"56a9ddfc.0001f4","name":"1 - Readme - DOUBLE CLICK","info":"This Flow is for discovering the needed IDs / RIDs. This makes it easier instead of searching in the payload of the https response from the Bridge!\n\n**Thanks to fellow Github User @marc-gist who had this great idea and programmed the function nodes!**\n\n\"Get all Data\" discovers Datapoints from:\n\n- Rooms / Zones\n- Scenes\n- Devices\n- Motion Sensors\n- Buttons\n- Lights\n\nThe process takes about 15 seconds, depending on your setup. You directly see arrays in the debug window, but the context is also stored in a variable. \n\n>>> No need to change anything in this Flow <<<\n\n- By clicking \"Get all Data\" Inject Node, you also refresh the stored Data. \n\n- The \"Delete\" Inject Node is for deleting the storead Data if needed at some point.\n\n","x":2220,"y":1040,"wires":[]},{"id":"93fb11ca.c149b","type":"change","z":"56a9ddfc.0001f4","name":"zone scene","rules":[{"t":"set","p":"zone_scenes","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3330,"y":1680,"wires":[[]]},{"id":"df8fd5f9.59db08","type":"inject","z":"56a9ddfc.0001f4","name":"Scenes Zone (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"zone_scenes","payloadType":"flow","x":2140,"y":1700,"wires":[["1adff996.f43ed6"]]},{"id":"5a3ac02d.42096","type":"inject","z":"56a9ddfc.0001f4","name":"Scenes Room (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"room_scenes","payloadType":"flow","x":2130,"y":1440,"wires":[["1adff996.f43ed6"]]},{"id":"8be2de1d.232f2","type":"inject","z":"56a9ddfc.0001f4","name":"Scenes Room (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"room_scenes","payloadType":"flow","x":2130,"y":1480,"wires":[["1adff996.f43ed6"]]},{"id":"1adff996.f43ed6","type":"subflow:7a14643a.75260c","z":"56a9ddfc.0001f4","name":"","env":[],"x":2500,"y":1600,"wires":[["3e0417af.770258"]]},{"id":"e3ea92e5.cc115","type":"change","z":"56a9ddfc.0001f4","name":"DELETE STORED CONTEXT","rules":[{"t":"delete","p":"zones","pt":"flow"},{"t":"delete","p":"rooms","pt":"flow"},{"t":"delete","p":"lights","pt":"flow"},{"t":"delete","p":"zone_scenes","pt":"flow"},{"t":"delete","p":"room_scenes","pt":"flow"},{"t":"delete","p":"rooms_array","pt":"flow"},{"t":"delete","p":"zones_array","pt":"flow"},{"t":"delete","p":"devices","pt":"flow"},{"t":"delete","p":"motion","pt":"flow"},{"t":"delete","p":"lights","pt":"flow"},{"t":"delete","p":"button","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2550,"y":1000,"wires":[[]]},{"id":"4a4a0367.b3df5c","type":"inject","z":"56a9ddfc.0001f4","name":"Delete","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":2190,"y":1000,"wires":[["e3ea92e5.cc115"]]},{"id":"ab31bc05.77c0c","type":"change","z":"56a9ddfc.0001f4","name":"lights","rules":[{"t":"set","p":"lights","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3350,"y":2080,"wires":[[]]},{"id":"bc6de8ba.6fe0a8","type":"debug","z":"56a9ddfc.0001f4","name":"Lights","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3590,"y":2120,"wires":[]},{"id":"c184b3ad.f0547","type":"function","z":"56a9ddfc.0001f4","name":"Light Name, ID, Abilities","func":"var response = [];\nvar rooms = flow.get(\"rooms\") || {};\nvar size = Object.keys(rooms).length;\nif(size <= 0) {\n    node.error(\"Please Update Rooms First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"name\": item.metadata.name,\n        \"type\": item.metadata.archetype,\n        \"id\": item.id,\n        \"color\": item.hasOwnProperty(\"color\") ? true : false,\n        \"temp\": item.hasOwnProperty(\"color_temperature\") ? true : false\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Lights\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3290,"y":2120,"wires":[["ab31bc05.77c0c","bc6de8ba.6fe0a8"]]},{"id":"29f74ca9.125ba4","type":"inject","z":"56a9ddfc.0001f4","name":"Buttons (an Array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"button","payloadType":"flow","x":2150,"y":2020,"wires":[["1adff996.f43ed6"]]},{"id":"8b2e2ac7.3015b8","type":"inject","z":"56a9ddfc.0001f4","name":"Buttons (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"button","payloadType":"flow","x":2150,"y":2060,"wires":[["1adff996.f43ed6"]]},{"id":"c1c632c6.7c459","type":"inject","z":"56a9ddfc.0001f4","name":"Rooms (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"rooms_array","payloadType":"flow","x":2150,"y":1380,"wires":[["1adff996.f43ed6"]]},{"id":"5281ce31.81651","type":"function","z":"56a9ddfc.0001f4","name":"Room Name and ID","func":"var response = [];\nvar roomkeys = {};\nmsg.payload.data.forEach(function(item){\n    if(item.services.length > 0) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            \"rid\": item.services[0].rid,\n            \"rtype\": item.services[0].rtype\n        };\n        roomkeys[item.id] = item.metadata.name;\n        response.push(pair);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"rooms name/rid\",\n    \"keys\": roomkeys\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3300,"y":1360,"wires":[["b0c1c08f.cd09","1c2578db.96e2c7"]]},{"id":"ab0eaa70.e72fb8","type":"switch","z":"56a9ddfc.0001f4","name":"Device","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"device","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3010,"y":1780,"wires":[["8b5bcae6.1e48c8"]]},{"id":"8b5bcae6.1e48c8","type":"function","z":"56a9ddfc.0001f4","name":"Devices Button and Motion","func":"// NOTE: Devices have multipe rtypes in the services\n// This script grabs the first one, so a motion sensor may show\n// up as \"temperature\" as it also does temp. don't worry\n// this script is more to get the name of the devices to help\n// with the button/motion scripts.\nvar response = [];\nvar devices = {};\nmsg.payload.data.forEach(function(item){\n    try {\n        if(item.metadata.archetype == \"unknown_archetype\") {\n            var pair = {\n                \"name\": item.metadata.name,\n                \"id\": item.id,\n                \"rid\": item.services[0].rid,\n                \"rtype\": item.services[0].rtype\n            };\n            devices[item.id] = item.metadata.name;\n            response.push(pair);\n        }\n    } catch(err) {\n        node.warn(err);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"devices name/rid\",\n    \"keys\": devices\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3280,"y":1780,"wires":[["d6d0e3ed.3456","ed685ba8.78f468"]]},{"id":"d6d0e3ed.3456","type":"change","z":"56a9ddfc.0001f4","name":"devices","rules":[{"t":"set","p":"devices","pt":"flow","to":"keys","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3340,"y":1740,"wires":[[]]},{"id":"11c52499.8a819b","type":"function","z":"56a9ddfc.0001f4","name":"Zone Name and ID","func":"var response = [];\nvar roomkeys = {};\nmsg.payload.data.forEach(function(item){\n    if(item.hasOwnProperty(\"services\")) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            \"rid\": item.services[0].rid,\n            \"rtype\": item.services[0].rtype\n        };\n        roomkeys[item.id] = item.metadata.name;\n        response.push(pair);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"zones name/rid\",\n    \"keys\": roomkeys\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3310,"y":1160,"wires":[["4ce2bfd3.60447","5bf4d24f.d7f07c"]]},{"id":"9da74eb5.c82d4","type":"function","z":"56a9ddfc.0001f4","name":"Zone Name and ID (array)","func":"var response = [];\nmsg.payload.data.forEach(function(item){\n    if(item.services.length > 0) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            \"rid\": item.services[0].rid,\n            \"rtype\": item.services[0].rtype\n        };\n         response.push(pair);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"zones name/rid\",\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3290,"y":1200,"wires":[["ed3f26cb.0cf278"]]},{"id":"9d108223.484bb","type":"function","z":"56a9ddfc.0001f4","name":"Scene Name, ID, Room Name","func":"var response = [];\nvar rooms = flow.get(\"rooms\") || {};\nvar size = Object.keys(rooms).length;\nif(size <= 0) {\n    node.error(\"Please Update Rooms First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"name\": item.metadata.name,\n        \"id\": item.id,\n        // \"rid\": item.group.rid,\n        // \"rtype\": item.group.rtype,\n        \"room-name\": rooms[item.group.rid]\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Scene name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3270,"y":1640,"wires":[["745bd723.b4cb48"]]},{"id":"18ca2231.e3138e","type":"function","z":"56a9ddfc.0001f4","name":"Room Name and ID (array)","func":"var response = [];\nmsg.payload.data.forEach(function(item){\n    if(item.services.length > 0) {\n        var pair = {\n            \"name\": item.metadata.name,\n            \"id\": item.id,\n            \"rid\": item.services[0].rid,\n            \"rtype\": item.services[0].rtype\n        };\n         response.push(pair);\n    }\n});\n\nreturn {\n    \"payload\": response,\n    \"topic\": \"rooms name/rid\",\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3280,"y":1400,"wires":[["9088582b.14ed48"]]},{"id":"9088582b.14ed48","type":"change","z":"56a9ddfc.0001f4","name":"rooms_array","rules":[{"t":"set","p":"rooms_array","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3330,"y":1440,"wires":[[]]},{"id":"ed3f26cb.0cf278","type":"change","z":"56a9ddfc.0001f4","name":"zones_array","rules":[{"t":"set","p":"zones_array","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3330,"y":1240,"wires":[[]]},{"id":"461c6f4.a8ac19","type":"inject","z":"56a9ddfc.0001f4","name":"Rooms (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"rooms_array","payloadType":"flow","x":2160,"y":1340,"wires":[["1adff996.f43ed6"]]},{"id":"3e0417af.770258","type":"debug","z":"56a9ddfc.0001f4","name":"API V2 DATA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2510,"y":1560,"wires":[]},{"id":"9a001341.31be3","type":"inject","z":"56a9ddfc.0001f4","name":"Zones (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"zones_array","payloadType":"flow","x":2150,"y":1640,"wires":[["1adff996.f43ed6"]]},{"id":"a35b7a0f.1afe08","type":"inject","z":"56a9ddfc.0001f4","name":"Zones (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"zones_array","payloadType":"flow","x":2160,"y":1600,"wires":[["1adff996.f43ed6"]]},{"id":"ed685ba8.78f468","type":"debug","z":"56a9ddfc.0001f4","name":"Devices","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3600,"y":1780,"wires":[]},{"id":"6515ee56.e8bbb","type":"switch","z":"56a9ddfc.0001f4","name":"Motion","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"motion","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3010,"y":1900,"wires":[["eb88fcc7.fe913"]]},{"id":"eb88fcc7.fe913","type":"function","z":"56a9ddfc.0001f4","name":"Motion Name, ID, Device Name","func":"var response = [];\nvar devices = flow.get(\"devices\") || {};\nvar size = Object.keys(devices).length;\nif(size <= 0) {\n    node.error(\"Please Update Devices First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"Device\": devices[item.owner.rid],\n        \"id\": item.id,\n        \"type\": item.type,\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Motion name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3270,"y":1900,"wires":[["ebecd6ca.f71978","ca64ff94.37462"]]},{"id":"ebecd6ca.f71978","type":"debug","z":"56a9ddfc.0001f4","name":"Motion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3590,"y":1900,"wires":[]},{"id":"ca64ff94.37462","type":"change","z":"56a9ddfc.0001f4","name":"motion","rules":[{"t":"set","p":"motion","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3350,"y":1860,"wires":[[]]},{"id":"5f661afe.7ce084","type":"inject","z":"56a9ddfc.0001f4","name":"Motion Senors (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"motion","payloadType":"flow","x":2130,"y":1900,"wires":[["1adff996.f43ed6"]]},{"id":"a6af15b0.378138","type":"inject","z":"56a9ddfc.0001f4","name":"Motion Sensors (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"motion","payloadType":"flow","x":2130,"y":1860,"wires":[["1adff996.f43ed6"]]},{"id":"77339fcc.c76a8","type":"switch","z":"56a9ddfc.0001f4","name":"Button","property":"endpoint","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3010,"y":2000,"wires":[["e95d779a.615128"]]},{"id":"e17c6a61.df9538","type":"inject","z":"56a9ddfc.0001f4","name":"Lights (seperately)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"split","payload":"lights","payloadType":"flow","x":2150,"y":1220,"wires":[["1adff996.f43ed6"]]},{"id":"c50458a6.d2c7c8","type":"inject","z":"56a9ddfc.0001f4","name":"Lights (an array)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"array","payload":"lights","payloadType":"flow","x":2160,"y":1180,"wires":[["1adff996.f43ed6"]]},{"id":"e95d779a.615128","type":"function","z":"56a9ddfc.0001f4","name":"Button Name, ID, Device Name","func":"var response = [];\nvar devices = flow.get(\"devices\") || {};\nvar size = Object.keys(devices).length;\nif(size <= 0) {\n    node.error(\"Please Update Devices First\");\n}\nmsg.payload.data.forEach(function(item){\n    var pair = {\n        \"Device\": devices[item.owner.rid],\n        \"id\": item.id,\n        \"type\": item.type,\n    };\n    response.push(pair);\n});\nreturn {\n    \"payload\": response,\n    \"topic\": \"Motion name/rids\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3270,"y":2000,"wires":[["20712c19.2fb934","34885ffc.14396"]]},{"id":"20712c19.2fb934","type":"change","z":"56a9ddfc.0001f4","name":"button","rules":[{"t":"set","p":"button","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3350,"y":1960,"wires":[[]]},{"id":"34885ffc.14396","type":"debug","z":"56a9ddfc.0001f4","name":"Button","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3590,"y":2000,"wires":[]},{"id":"9843e319.dcf13","type":"link out","z":"56a9ddfc.0001f4","name":"API Wohnung HTTP response ","links":["473a4cdc.593674"],"x":2775,"y":2060,"wires":[]},{"id":"c0ea44d8.8272a8","type":"link in","z":"56a9ddfc.0001f4","name":"Timer IN","links":["c639e802.9a6c78"],"x":2775,"y":1920,"wires":[[]]},{"id":"7d85ebf.dbd1d14","type":"comment","z":"56a9ddfc.0001f4","name":"connect to \"https request HUE API V2\" (light green node)","info":"","x":2530,"y":2060,"wires":[]},{"id":"aff276d1.d02bd8","type":"comment","z":"56a9ddfc.0001f4","name":"connect to \"HUE API V2\" (orange node)","info":"","x":2590,"y":1920,"wires":[]},{"id":"c3a2bcd7.4dde4","type":"comment","z":"56a9ddfc.0001f4","name":"2 - Readme - DOUBLE CLICK","info":"After you got all Data stored, you can easily access it here again, by clicking the inject nodes.\n\nDepending on your favorite way to do it, you can get an array in response or seperate payloads for every device. \n\nTry it out!","x":2220,"y":1140,"wires":[]},{"id":"3ae04357.a572ec","type":"comment","z":"56a9ddfc.0001f4","name":"DONT CHANGE ANY OF THESE NODES","info":"","x":3060,"y":1480,"wires":[]}]
