flows/hue_effects.json
[{"id":"0b11cc70275b33e9","type":"subflow","name":"HUE Effects","info":"","category":"","in":[{"x":80,"y":520,"wires":[{"id":"0caf317d93739774"}]}],"out":[{"x":920,"y":540,"wires":[{"id":"c52b5ecdf9fe6f2b","port":0},{"id":"deef39d98c46e97c","port":0},{"id":"3610563cbd918126","port":0},{"id":"c863317aef45878a","port":0},{"id":"473bdb73300fe567","port":0},{"id":"1474ea8a60d6f545","port":0},{"id":"81bede6e683a0715","port":0},{"id":"a03379a9ee3033ae","port":0},{"id":"410735b64703d92a","port":0},{"id":"7f3a4813c0bd4787","port":0}]}],"env":[{"name":"light_ID","type":"str","value":"add your light ID here"},{"name":"grouped_light_ID","type":"str","value":"add your grouped_light ID here"},{"name":"scene_ID","type":"str","value":"add your scene ID here"}],"meta":{},"color":"#3FADB5","icon":"node-red/status.svg","status":{"x":640,"y":260,"wires":[{"id":"d69f68219d838b03","port":0},{"id":"b1aba1a3fc063ec3","port":0},{"id":"0cca8bc26b3a9c77","port":0},{"id":"b32881f01c738db5","port":0},{"id":"383dfc4c0d53a80a","port":0},{"id":"b5896e14c4832b97","port":0},{"id":"546c46e8a257bb34","port":0}]}},{"id":"0caf317d93739774","type":"switch","z":"0b11cc70275b33e9","name":"","property":"topic","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"group_alarm","vt":"str"},{"t":"eq","v":"dynamic","vt":"str"},{"t":"eq","v":"alarm","vt":"str"},{"t":"eq","v":"fire","vt":"str"},{"t":"eq","v":"candle","vt":"str"},{"t":"eq","v":"effect_off","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":190,"y":520,"wires":[["110bf511c660213d"],["383dfc4c0d53a80a","c863317aef45878a","e25ec0e72a8d2c51"],["7f3a4813c0bd4787","546c46e8a257bb34"],["473bdb73300fe567","b32881f01c738db5","6d148f8832e6129c","ddfd96b92dd870d1"],["deef39d98c46e97c","d69f68219d838b03","6d148f8832e6129c"],["0cca8bc26b3a9c77","6d148f8832e6129c","c52b5ecdf9fe6f2b"],["3610563cbd918126","b1aba1a3fc063ec3","d870cfa25a9ac2d0","6d148f8832e6129c","a3fcf4bd75d37883"]]},{"id":"c52b5ecdf9fe6f2b","type":"change","z":"0b11cc70275b33e9","name":"Candle 20%","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"light_ID","tot":"env"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":20},\"effects\":{\"effect\":\"candle\"}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":560,"wires":[[]]},{"id":"deef39d98c46e97c","type":"change","z":"0b11cc70275b33e9","name":"Fire 70%","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"light_ID","tot":"env"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":70},\"effects\":{\"effect\":\"fire\"}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":520,"wires":[[]]},{"id":"3610563cbd918126","type":"change","z":"0b11cc70275b33e9","name":"Effects off","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"light_ID","tot":"env"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":30},\"effects\":{\"effect\":\"no_effect\"}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":600,"wires":[[]]},{"id":"66853ce22b64a266","type":"change","z":"0b11cc70275b33e9","name":"light_on","rules":[{"t":"set","p":"light_on","pt":"flow","to":"payload.data.0.on.on","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":80,"wires":[[]]},{"id":"840b5844c8fd3bda","type":"change","z":"0b11cc70275b33e9","name":"light_temp","rules":[{"t":"set","p":"light_temp","pt":"flow","to":"payload.data.0.color_temperature.mirek","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":160,"wires":[[]]},{"id":"728612b935b47d4d","type":"change","z":"0b11cc70275b33e9","name":"light_y","rules":[{"t":"set","p":"light_y","pt":"flow","to":"payload.data.0.color.xy.y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":240,"wires":[[]]},{"id":"2504f68f545674c2","type":"change","z":"0b11cc70275b33e9","name":"light_bright","rules":[{"t":"set","p":"light_bright","pt":"flow","to":"payload.data.0.dimming.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":120,"wires":[[]]},{"id":"d69f68219d838b03","type":"change","z":"0b11cc70275b33e9","name":"fire","rules":[{"t":"set","p":"payload","pt":"msg","to":"fire","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":435,"y":260,"wires":[[]],"l":false},{"id":"b1aba1a3fc063ec3","type":"change","z":"0b11cc70275b33e9","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"effect off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":435,"y":260,"wires":[[]],"l":false},{"id":"0cca8bc26b3a9c77","type":"change","z":"0b11cc70275b33e9","name":"candle","rules":[{"t":"set","p":"payload","pt":"msg","to":"candle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":435,"y":260,"wires":[[]],"l":false},{"id":"eec77edc93ef8c0a","type":"change","z":"0b11cc70275b33e9","name":"light_x","rules":[{"t":"set","p":"light_x","pt":"flow","to":"payload.data.0.color.xy.x","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":200,"wires":[[]]},{"id":"b6feb1c93ab3470f","type":"function","z":"0b11cc70275b33e9","name":"block","func":"//variable block\nlet alarm = {\n    block: flow.get(\"block\"),\n}\n// pass payload\nif  (\n    alarm.block === false\n    )\n{\n    return msg; \n} ","outputs":1,"noerr":0,"initialize":"// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nif (flow.get(\"block\") == null) flow.set(\"block\", false);","finalize":"","libs":[],"x":610,"y":180,"wires":[["66853ce22b64a266","728612b935b47d4d","2504f68f545674c2","eec77edc93ef8c0a","840b5844c8fd3bda","d7b6cbaa86b0c720"]]},{"id":"473bdb73300fe567","type":"change","z":"0b11cc70275b33e9","name":"Alarm ","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"light_ID","tot":"env"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100},\"color\":{\"xy\":{\"x\":0.6681,\"y\":0.3258}},\"alert\":{\"action\":\"breathe\"}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":480,"wires":[[]]},{"id":"110bf511c660213d","type":"switch","z":"0b11cc70275b33e9","name":"Light ID","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"light_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":180,"wires":[["b6feb1c93ab3470f"]]},{"id":"c863317aef45878a","type":"change","z":"0b11cc70275b33e9","name":"Group Alarm ","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"grouped_light_ID","tot":"env"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":true},\"dimming\":{\"brightness\":100},\"color\":{\"xy\":{\"x\":0.6681,\"y\":0.3258}},\"alert\":{\"action\":\"breathe\",\"duration\":5000}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":320,"wires":[[]]},{"id":"b32881f01c738db5","type":"change","z":"0b11cc70275b33e9","name":"alarm","rules":[{"t":"set","p":"payload","pt":"msg","to":"alarm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":435,"y":260,"wires":[[]],"l":false},{"id":"1474ea8a60d6f545","type":"change","z":"0b11cc70275b33e9","name":"restore_color","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.on.on","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.dimming.brightness","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.color.xy.x","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.color.xy.y","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.dynamics.duration","tot":"msg"},{"t":"set","p":"payload.on.on","pt":"msg","to":"light_on","tot":"flow"},{"t":"set","p":"payload.dimming.brightness","pt":"msg","to":"light_bright","tot":"flow"},{"t":"set","p":"payload.color.xy.x","pt":"msg","to":"light_x","tot":"flow"},{"t":"set","p":"payload.color.xy.y","pt":"msg","to":"light_y","tot":"flow"},{"t":"set","p":"payload.dynamics.duration","pt":"msg","to":"2500","tot":"num"},{"t":"set","p":"topic","pt":"msg","to":"light_ID","tot":"env"},{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":700,"wires":[[]]},{"id":"d870cfa25a9ac2d0","type":"delay","z":"0b11cc70275b33e9","name":"2sek","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":370,"y":780,"wires":[["4e81474996a57a85"]]},{"id":"744eaa409587fc9a","type":"change","z":"0b11cc70275b33e9","name":"block","rules":[{"t":"set","p":"block","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":820,"wires":[[]]},{"id":"6d148f8832e6129c","type":"change","z":"0b11cc70275b33e9","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":860,"wires":[["744eaa409587fc9a"]]},{"id":"4e81474996a57a85","type":"change","z":"0b11cc70275b33e9","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":820,"wires":[["744eaa409587fc9a"]]},{"id":"383dfc4c0d53a80a","type":"change","z":"0b11cc70275b33e9","name":"alarm","rules":[{"t":"set","p":"payload","pt":"msg","to":"group_alarm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":435,"y":260,"wires":[[]],"l":false},{"id":"81bede6e683a0715","type":"change","z":"0b11cc70275b33e9","name":"restore_mirek","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.on.on","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.dimming.brightness","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.color_temperature.mirek","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.color.xy.x","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.color.xy.y","tot":"msg"},{"t":"move","p":"payload","pt":"msg","to":"payload.dynamics.duration","tot":"msg"},{"t":"set","p":"payload.on.on","pt":"msg","to":"light_on","tot":"flow"},{"t":"set","p":"payload.dimming.brightness","pt":"msg","to":"light_bright","tot":"flow"},{"t":"set","p":"payload.color_temperature.mirek","pt":"msg","to":"light_temp","tot":"flow"},{"t":"set","p":"payload.color.xy.x","pt":"msg","to":"light_x","tot":"flow"},{"t":"set","p":"payload.color.xy.y","pt":"msg","to":"light_y","tot":"flow"},{"t":"set","p":"payload.dynamics.duration","pt":"msg","to":"2500","tot":"num"},{"t":"set","p":"topic","pt":"msg","to":"light_ID","tot":"env"},{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":660,"wires":[[]]},{"id":"b5896e14c4832b97","type":"change","z":"0b11cc70275b33e9","name":"sunrise","rules":[{"t":"set","p":"payload","pt":"msg","to":"sunrise","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":435,"y":260,"wires":[[]],"l":false},{"id":"d7b6cbaa86b0c720","type":"change","z":"0b11cc70275b33e9","name":"light_mirek","rules":[{"t":"set","p":"light_mirek","pt":"flow","to":"payload.data.0.color_temperature.mirek_valid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":280,"wires":[[]]},{"id":"a3fcf4bd75d37883","type":"function","z":"0b11cc70275b33e9","name":"mirek valid?","func":"//variable block\nlet valid = {\n    mirek: flow.get(\"light_mirek\"),\n}\n// pass payload\nif  (\n    valid.mirek === true\n    )\n{\n    return [msg, null]\n} \nif  (\n    valid.mirek === false\n    )\n{\n    return [null, msg]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":455,"y":680,"wires":[["81bede6e683a0715"],["1474ea8a60d6f545"]],"l":false},{"id":"a03379a9ee3033ae","type":"change","z":"0b11cc70275b33e9","name":"Off","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"grouped_light_ID","tot":"env"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":false},\"dynamics\":{\"duration\":1000}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":360,"wires":[[]]},{"id":"e25ec0e72a8d2c51","type":"delay","z":"0b11cc70275b33e9","name":"15sec","pauseType":"delay","timeout":"15100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":525,"y":360,"wires":[["a03379a9ee3033ae"]],"l":false},{"id":"ddfd96b92dd870d1","type":"delay","z":"0b11cc70275b33e9","name":"15sec","pauseType":"delay","timeout":"15100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":405,"y":720,"wires":[["410735b64703d92a","4a60db64205c4b6c","d870cfa25a9ac2d0"]],"l":false},{"id":"4a60db64205c4b6c","type":"delay","z":"0b11cc70275b33e9","name":"800ms","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":405,"y":680,"wires":[["a3fcf4bd75d37883"]],"l":false},{"id":"410735b64703d92a","type":"change","z":"0b11cc70275b33e9","name":"Off","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"light_ID","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":false},\"dynamics\":{\"duration\":1000}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":760,"wires":[[]]},{"id":"7f3a4813c0bd4787","type":"change","z":"0b11cc70275b33e9","name":"Dynamic Scene","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"scene","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"scene_ID","tot":"env"},{"t":"set","p":"payload","pt":"msg","to":"{\"recall\":{\"action\":\"dynamic_palette\"},\"speed\":0.6}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":420,"wires":[[]],"icon":"font-awesome/fa-star"},{"id":"efd7efbf9df6212b","type":"comment","z":"0b11cc70275b33e9","name":"You can change the speed (0.1 - 1)","info":"","x":800,"y":420,"wires":[]},{"id":"123b86e0fa83918e","type":"comment","z":"0b11cc70275b33e9","name":"You can adjust brightness ","info":"","x":770,"y":540,"wires":[]},{"id":"546c46e8a257bb34","type":"change","z":"0b11cc70275b33e9","name":"dynamic","rules":[{"t":"set","p":"payload","pt":"msg","to":"dynamic scene","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":435,"y":260,"wires":[[]],"l":false},{"id":"a0a1eb1ff08e309e","type":"tab","label":"HUE EFFECTS","disabled":false,"info":"","env":[]},{"id":"a4c6b23c81a127c9","type":"subflow:0b11cc70275b33e9","z":"a0a1eb1ff08e309e","name":"","env":[{"name":"light_ID","value":"Add light ID here","type":"str"},{"name":"grouped_light_ID","value":"Add group ID here","type":"str"},{"name":"scene_ID","value":"Add scene ID here","type":"str"}],"x":670,"y":320,"wires":[["92a831c1811ec20d"]]},{"id":"a2b80f604603c755","type":"inject","z":"a0a1eb1ff08e309e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"alarm","payload":"light endpoint","payloadType":"str","x":390,"y":220,"wires":[["a4c6b23c81a127c9"]]},{"id":"999666c47ec4fd28","type":"inject","z":"a0a1eb1ff08e309e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"group_alarm","payload":"group endpoint","payloadType":"str","x":360,"y":380,"wires":[["a4c6b23c81a127c9"]]},{"id":"aefc5ad9e324992b","type":"inject","z":"a0a1eb1ff08e309e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"dynamic","payload":"scene endpoint","payloadType":"str","x":370,"y":440,"wires":[["a4c6b23c81a127c9"]]},{"id":"37abe45f8a045f3a","type":"inject","z":"a0a1eb1ff08e309e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"effect_off","payload":"light endpoint","payloadType":"str","x":380,"y":260,"wires":[["a4c6b23c81a127c9"]]},{"id":"c223a8d51035fadb","type":"inject","z":"a0a1eb1ff08e309e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"fire","payload":"light endpoint","payloadType":"str","x":400,"y":180,"wires":[["a4c6b23c81a127c9"]]},{"id":"07524a0df6ed696a","type":"inject","z":"a0a1eb1ff08e309e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"candle","payload":"light endpoint","payloadType":"str","x":380,"y":140,"wires":[["a4c6b23c81a127c9"]]},{"id":"d5e012e0c6e1e0fd","type":"link in","z":"a0a1eb1ff08e309e","name":"to Event-Stream","links":[],"x":400,"y":320,"wires":[["a4c6b23c81a127c9"]],"l":true},{"id":"92a831c1811ec20d","type":"link out","z":"a0a1eb1ff08e309e","name":"to Header (http-request)","mode":"link","links":[],"x":870,"y":320,"wires":[],"l":true},{"id":"7b6bcbe007e69973","type":"comment","z":"a0a1eb1ff08e309e","name":"DESCRIPTION - DOUBLE CLICK","info":"This is a subflow for all the effects available\nat the moment. \n\nLight_Endpoints:\n-Candle\n-Fire\n-Alarm\n\nGrouped_Light Endpoints\n-Alarm\n\nScene_Endpoints\n-Dynamic Scenes\n\nStatus shown under the node. ","x":790,"y":200,"wires":[]},{"id":"6fa7c542c31f7a57","type":"comment","z":"a0a1eb1ff08e309e","name":"DOCUMENTATION - DOUBLE CLICK ","info":"Add Light/Group/Scene ID directly in the \nSubflow. \n\nThis works with topics, just try it out with\nthe Inject-Nodes.\n\ncandle:\nCreates a Candle Effect, effect_off will\nset it to previous state. You can adjust\nthe brightness in the subflow. \n\nfire:\nCreates a Fire Effect, effect_off will\nset it to previous state. You can adjust \nthe brightness in the subflow.\n\nalarm:\n15 Second Red-Alert for a single Light.\nAfter that it will return to the \nprevious state.\n\neffect_off:\nIt will stop the effect for Candle and Fire.\nThese two need to be stopped. \n\ngroup_alarm:\n15 Second Red-Alert for a whole Room or\nZone. After that the light will turn off.\n\ndynamic:\nStarts a dynamic scene. The colors will \nchange dynamically from your scene palette.\nIt can be turned off when another scene is \ntriggered or the room is turned off.\n\nATTENTION:\nI figured out in my own system, that this is \nworking properly with last generation \nHUE Lights. Older lamps or 3rd party \nLED-Driver are not properly alerting, or using\ndynamic scenes, etc. Try it out. \n","x":790,"y":260,"wires":[]},{"id":"9dade506ad6f69bc","type":"function","z":"a0a1eb1ff08e309e","name":"Array Splitter","func":"for (var i = 0; i < msg.payload.data.length; i++) {\n    // Create a deep copy of msg object\n    let splitmsg = JSON.parse(JSON.stringify(msg));\n\n    // Reset data of new message to its single data part\n    splitmsg.payload.data = [msg.payload.data[i]];\n    \n    // send using node\n    node.send(splitmsg);\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":320,"wires":[[]]},{"id":"239aedc951d34446","type":"comment","z":"a0a1eb1ff08e309e","name":"DOUBLE CLICK","info":"Connect it to the array-splitter.\nIf it is not working, use the splitter in this\nflow ADDITIONALLY to the one you use. \nThis is used just for the effect flow, or \nyou need to adjust the payload paths in the nodes\nthat are in the subflow. Debug it;)\nBut it should pretty much work out of the box. ","x":320,"y":300,"wires":[]},{"id":"fa3babadb746827b","type":"comment","z":"a0a1eb1ff08e309e","name":"======[ ALL IN ONE HUE EFFECT SUBFLOW ]======","info":"","x":790,"y":140,"wires":[]}]
