flows/motion_sensor_update.json
[{"id":"1c5512e9c3774987","type":"subflow","name":"Enabled","info":"","category":"","in":[{"x":140,"y":260,"wires":[{"id":"d1376a2966fb274f"}]}],"out":[],"env":[],"meta":{},"color":"#C7E900","icon":"node-red/feed.svg","status":{"x":400,"y":260,"wires":[{"id":"d1376a2966fb274f","port":0}]}},{"id":"d1376a2966fb274f","type":"switch","z":"1c5512e9c3774987","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"enabled","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":260,"wires":[[]]},{"id":"55a74390e1c251fb","type":"subflow","name":"HUE Motion (Receiver)","info":"","category":"HUE v2","in":[{"x":40,"y":440,"wires":[{"id":"27fffc1774c07397"}]}],"out":[{"x":1090,"y":380,"wires":[{"id":"d03a5382fae59395","port":0},{"id":"321f867083c0e761","port":0}]},{"x":1090,"y":500,"wires":[{"id":"d03a5382fae59395","port":0},{"id":"321f867083c0e761","port":0},{"id":"ecfe4b625af78b92","port":0},{"id":"e3197255f3d59ca0","port":0}]}],"env":[{"name":"motion_ID","type":"str","value":"replace with discovered Motion Sensor ID"}],"meta":{},"color":"#C7E9C0","outputLabels":["motion","data"],"icon":"node-red/bridge-dash.svg"},{"id":"4f8d9c73725ad07b","type":"switch","z":"55a74390e1c251fb","name":"payload.motion.motion","property":"payload.data.0.motion.motion","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":400,"wires":[["d03a5382fae59395"],["321f867083c0e761"]]},{"id":"d03a5382fae59395","type":"change","z":"55a74390e1c251fb","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":380,"wires":[[]]},{"id":"321f867083c0e761","type":"change","z":"55a74390e1c251fb","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":420,"wires":[[]]},{"id":"27fffc1774c07397","type":"switch","z":"55a74390e1c251fb","name":"Motion Sensor ID","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"motion_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":440,"wires":[["407d4a27886b89cb"]]},{"id":"407d4a27886b89cb","type":"rbe","z":"55a74390e1c251fb","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":370,"y":440,"wires":[["4f8d9c73725ad07b","ab6f3bb318571142"]]},{"id":"ab6f3bb318571142","type":"switch","z":"55a74390e1c251fb","name":"payload.data.0.enabled","property":"payload.data.0.enabled","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":480,"wires":[["ecfe4b625af78b92"],["e3197255f3d59ca0"]]},{"id":"ecfe4b625af78b92","type":"change","z":"55a74390e1c251fb","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"enabled","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":460,"wires":[[]]},{"id":"e3197255f3d59ca0","type":"change","z":"55a74390e1c251fb","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"enabled","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":500,"wires":[[]]},{"id":"76739e4aea498aca","type":"tab","label":"Motion Sensor Update","disabled":false,"info":"","env":[]},{"id":"583a809e49ea1098","type":"subflow:55a74390e1c251fb","z":"76739e4aea498aca","name":"","env":[{"name":"motion_ID","value":"add Sensor ID here","type":"str"}],"x":580,"y":520,"wires":[["f29570e43f269aae","e3ae6c7c96894b00"],["2ac0f5696c1a1134"]]},{"id":"2ac0f5696c1a1134","type":"subflow:1c5512e9c3774987","z":"76739e4aea498aca","name":"","x":900,"y":580,"wires":[]},{"id":"b646a27262d19d2a","type":"link in","z":"76739e4aea498aca","name":"connection to EventStream","links":[],"x":330,"y":520,"wires":[["583a809e49ea1098"]],"l":true},{"id":"f29570e43f269aae","type":"link out","z":"76739e4aea498aca","name":"Motion Sensor Events (true / false)","mode":"link","links":[],"x":980,"y":460,"wires":[],"l":true},{"id":"e3ae6c7c96894b00","type":"debug","z":"76739e4aea498aca","name":"Motion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":420,"wires":[]},{"id":"a9fe6f2b1163b432","type":"comment","z":"76739e4aea498aca","name":"- Shows Sensor Enable / Disable state (true/false)","info":"","x":1020,"y":620,"wires":[]},{"id":"b0d885afb8a9eac6","type":"comment","z":"76739e4aea498aca","name":"Add Sensor ID here","info":"","x":570,"y":480,"wires":[]},{"id":"4af12a5d186fcb9f","type":"comment","z":"76739e4aea498aca","name":"Comments - DOUBLE CLICK","info":"I use the Sensor Subflow node in every\nroom flow-tab. It is mostly informative. \n\nTHERE IS NO NEED TO CHANGE\nYOUR EXISTING FLOW. THIS IS NICE TO HAVE!\n\nIt makes in node-red easy to determine what \nstate the sensors have.\n\nMaybe you find this useful as well :)","x":960,"y":520,"wires":[]}]
