flows/motion_sensor_update.json
[{"id":"4370100e69d29882","type":"subflow","name":"Enabled","info":"","category":"","in":[{"x":140,"y":260,"wires":[{"id":"a9d5cb1ef8ce73b0"}]}],"out":[],"env":[],"meta":{},"color":"#C7E900","icon":"node-red/feed.svg","status":{"x":460,"y":260,"wires":[{"id":"a9d5cb1ef8ce73b0","port":0},{"id":"a9d5cb1ef8ce73b0","port":1}]}},{"id":"a9d5cb1ef8ce73b0","type":"switch","z":"4370100e69d29882","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":260,"wires":[[],[]]},{"id":"55a74390e1c251fb","type":"subflow","name":"HUE Motion (Receiver)","info":"","category":"HUE v2","in":[{"x":40,"y":440,"wires":[{"id":"27fffc1774c07397"}]}],"out":[{"x":1090,"y":380,"wires":[{"id":"d03a5382fae59395","port":0},{"id":"321f867083c0e761","port":0}]},{"x":1100,"y":500,"wires":[{"id":"ecfe4b625af78b92","port":0},{"id":"e3197255f3d59ca0","port":0}]}],"env":[{"name":"motion_ID","type":"str","value":"replace with discovered Motion Sensor ID"}],"meta":{},"color":"#C7E9C0","outputLabels":["motion","enabled"],"icon":"node-red/bridge-dash.svg"},{"id":"4f8d9c73725ad07b","type":"switch","z":"55a74390e1c251fb","name":"payload.motion.motion","property":"payload.data.0.motion.motion","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":400,"wires":[["d03a5382fae59395"],["321f867083c0e761"]]},{"id":"d03a5382fae59395","type":"change","z":"55a74390e1c251fb","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":380,"wires":[[]]},{"id":"321f867083c0e761","type":"change","z":"55a74390e1c251fb","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":420,"wires":[[]]},{"id":"27fffc1774c07397","type":"switch","z":"55a74390e1c251fb","name":"Motion Sensor ID","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"cont","v":"motion_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":440,"wires":[["407d4a27886b89cb"]]},{"id":"407d4a27886b89cb","type":"rbe","z":"55a74390e1c251fb","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":370,"y":440,"wires":[["4f8d9c73725ad07b","ab6f3bb318571142"]]},{"id":"ab6f3bb318571142","type":"switch","z":"55a74390e1c251fb","name":"payload.data.0.enabled","property":"payload.data.0.enabled","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":480,"wires":[["ecfe4b625af78b92"],["e3197255f3d59ca0"]]},{"id":"ecfe4b625af78b92","type":"change","z":"55a74390e1c251fb","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":460,"wires":[[]]},{"id":"e3197255f3d59ca0","type":"change","z":"55a74390e1c251fb","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":500,"wires":[[]]},{"id":"cb31a68d00adaafb","type":"tab","label":"Motion Sensor Update","disabled":false,"info":"","env":[]},{"id":"f7531cbca4724f0f","type":"subflow:55a74390e1c251fb","z":"cb31a68d00adaafb","name":"","env":[{"name":"motion_ID","value":"add Sensor ID here","type":"str"}],"x":580,"y":520,"wires":[["b6353977bf3437e5","18e1c555544ec8c6"],["1407f8e67832a924"]]},{"id":"1407f8e67832a924","type":"subflow:4370100e69d29882","z":"cb31a68d00adaafb","name":"","x":900,"y":580,"wires":[]},{"id":"3fd131b50d90da0d","type":"link in","z":"cb31a68d00adaafb","name":"connection to EventStream","links":[],"x":330,"y":520,"wires":[["f7531cbca4724f0f"]],"l":true},{"id":"b6353977bf3437e5","type":"link out","z":"cb31a68d00adaafb","name":"Motion Sensor Events (true / false)","mode":"link","links":[],"x":980,"y":460,"wires":[],"l":true},{"id":"18e1c555544ec8c6","type":"debug","z":"cb31a68d00adaafb","name":"Motion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":420,"wires":[]},{"id":"b81d6e11d91acea2","type":"comment","z":"cb31a68d00adaafb","name":"- Shows Sensor Enable / Disable state (true/false)","info":"","x":1020,"y":620,"wires":[]},{"id":"324e0f0c503beafe","type":"comment","z":"cb31a68d00adaafb","name":"Add Sensor ID here","info":"","x":570,"y":480,"wires":[]},{"id":"4881678c229d017c","type":"comment","z":"cb31a68d00adaafb","name":"Comments - DOUBLE CLICK","info":"I use the Sensor Subflow node in every\nroom flow-tab. It is mostly informative. \n\nTHERE IS NO NEED TO CHANGE\nYOUR EXISTING FLOW. THIS IS NICE TO HAVE!\n\nIt makes in node-red easy to determine what \nstate the sensors have.\n\nMaybe you find this useful as well :)","x":960,"y":520,"wires":[]}]
