flows/motion_sensor_behaviour.json
[{"id":"2f013cac.bbb514","type":"subflow","name":"Motion Sensor Logic","info":"","category":"HUE v2","in":[{"x":400,"y":360,"wires":[{"id":"b39cf1d4.20897"}]}],"out":[{"x":1180,"y":200,"wires":[{"id":"ead089f1.2f4ea8","port":0}]},{"x":1180,"y":240,"wires":[{"id":"ead089f1.2f4ea8","port":1}]},{"x":1180,"y":300,"wires":[{"id":"79f32db.6f9b2d4","port":0}]},{"x":1180,"y":340,"wires":[{"id":"79f32db.6f9b2d4","port":1}]},{"x":1180,"y":420,"wires":[{"id":"4daacf0.3530a3","port":0}]}],"env":[],"meta":{},"color":"#A6BBCF","icon":"node-red/light.svg"},{"id":"2591be76.7863f2","type":"switch","z":"2f013cac.bbb514","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":360,"wires":[["2debf3c6.275bbc"],["ead089f1.2f4ea8","5eac6333.d048bc"]]},{"id":"ead089f1.2f4ea8","type":"within-time-switch","z":"2f013cac.bbb514","name":"Time","nameInt":"","positionConfig":"d4cbc419.0d40e8","startTime":"07:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"22:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"","withinTimeValueType":"msgInput","outOfTimeValue":"","outOfTimeValueType":"msgInput","tsCompare":"0","x":910,"y":240,"wires":[[],[]]},{"id":"2debf3c6.275bbc","type":"delay","z":"2f013cac.bbb514","name":"25sek","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":910,"y":360,"wires":[["4daacf0.3530a3","79f32db.6f9b2d4"]]},{"id":"5eac6333.d048bc","type":"change","z":"2f013cac.bbb514","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":420,"wires":[["2debf3c6.275bbc","4daacf0.3530a3"]]},{"id":"4daacf0.3530a3","type":"delay","z":"2f013cac.bbb514","name":"7sek","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":910,"y":420,"wires":[[]]},{"id":"b39cf1d4.20897","type":"switch","z":"2f013cac.bbb514","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"trigger","vt":"str"},{"t":"else"},{"t":"eq","v":"reset","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":360,"wires":[["bc1312c8.026aa"],["12c2b6ec70fa576f"],["5eac6333.d048bc","5327e2b2.7c8aac"]]},{"id":"79f32db.6f9b2d4","type":"within-time-switch","z":"2f013cac.bbb514","name":"Time","nameInt":"","positionConfig":"d4cbc419.0d40e8","startTime":"07:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"22:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"","withinTimeValueType":"msgInput","outOfTimeValue":"","outOfTimeValueType":"msgInput","tsCompare":"0","x":910,"y":300,"wires":[[],[]]},{"id":"5327e2b2.7c8aac","type":"delay","z":"2f013cac.bbb514","name":"2sek","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":510,"y":420,"wires":[["5eac6333.d048bc"]]},{"id":"bc1312c8.026aa","type":"switch","z":"2f013cac.bbb514","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":300,"wires":[["8cdfb2c8.498a5"],["f2e74c75a84c7282"]]},{"id":"8cdfb2c8.498a5","type":"delay","z":"2f013cac.bbb514","name":"2sek","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":510,"y":240,"wires":[["f2e74c75a84c7282"]]},{"id":"f2e74c75a84c7282","type":"change","z":"2f013cac.bbb514","name":"stop","rules":[{"t":"set","p":"stop","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":240,"wires":[[]]},{"id":"12c2b6ec70fa576f","type":"function","z":"2f013cac.bbb514","name":"stop","func":"//fragt globale var ab\nlet func = {\n    VAR: global.get(\"stop\"),\n}\n// false\nif  (\n    func.VAR === false\n    )\n{\n    return msg; \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":300,"wires":[["2591be76.7863f2"]]},{"id":"d4cbc419.0d40e8","type":"position-config","name":"Zeitmodul","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"3","stateDateFormat":"12","contextStore":""},{"id":"cdefec44f7aa86db","type":"tab","label":"Motion Sensor Behavior ","disabled":false,"info":"","env":[]},{"id":"d97e1a4a51210263","type":"subflow:2f013cac.bbb514","z":"cdefec44f7aa86db","name":"","x":1000,"y":600,"wires":[["672658793463b1d2","b76d06aff9385f4a"],["1f6362019841bfec","a5d56d79871aeb42"],["5913f219bbf2b9df","011bfa073bf2c185"],["c16318e8ebd4a880","91454da2d036863f"],["e06fa44fa99ae1bf","6f37e7f83f23a4bc"]]},{"id":"7b7f27a2a5074f52","type":"change","z":"cdefec44f7aa86db","name":"pass","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"trigger","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":640,"wires":[["d97e1a4a51210263","868b3759859acf09"]]},{"id":"2905529515a0cedb","type":"change","z":"cdefec44f7aa86db","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"trigger","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":560,"wires":[["d97e1a4a51210263","868b3759859acf09"]]},{"id":"f71af7713573d1b0","type":"inject","z":"cdefec44f7aa86db","name":"Your switch (light off)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":490,"y":640,"wires":[["7b7f27a2a5074f52","32d82a70078bc300"]]},{"id":"89f90dad829e3017","type":"inject","z":"cdefec44f7aa86db","name":"Your switch (light on)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":490,"y":560,"wires":[["2905529515a0cedb","93054539bf414e8a"]]},{"id":"9a607e82b0f4e6ab","type":"function","z":"cdefec44f7aa86db","name":"counter","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get('count')||0;\ncount += 1;\n// store the value back\nflow.set('count',count);\n// make it part of the outgoing msg object\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":420,"wires":[["4a18086bf18a2a1b"]]},{"id":"1c32c3b9208b0561","type":"change","z":"cdefec44f7aa86db","name":"count","rules":[{"t":"set","p":"count","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":380,"wires":[[]],"icon":"node-red/function.svg"},{"id":"eb2a7061475911d6","type":"change","z":"cdefec44f7aa86db","name":"reset","rules":[{"t":"set","p":"count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":460,"wires":[[]]},{"id":"4a18086bf18a2a1b","type":"switch","z":"cdefec44f7aa86db","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":420,"wires":[["1c32c3b9208b0561","3ab5f6d599c968c3","2905529515a0cedb"],["1c32c3b9208b0561","eb2a7061475911d6","71cbd8044841facd","7b7f27a2a5074f52"]]},{"id":"3ab5f6d599c968c3","type":"debug","z":"cdefec44f7aa86db","name":"1st Push ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":400,"wires":[]},{"id":"71cbd8044841facd","type":"debug","z":"cdefec44f7aa86db","name":"2nd Push","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":440,"wires":[]},{"id":"5a93300cdddd7440","type":"inject","z":"cdefec44f7aa86db","name":"Single Tap switch logic","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":420,"wires":[["9a607e82b0f4e6ab"]]},{"id":"868b3759859acf09","type":"change","z":"cdefec44f7aa86db","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":600,"wires":[["d97e1a4a51210263"]]},{"id":"a49d5355ed2f30c1","type":"inject","z":"cdefec44f7aa86db","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":730,"y":860,"wires":[["d97e1a4a51210263","ef5b8d5e94bb3427"]]},{"id":"672658793463b1d2","type":"debug","z":"cdefec44f7aa86db","name":"Day","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":440,"wires":[]},{"id":"5913f219bbf2b9df","type":"debug","z":"cdefec44f7aa86db","name":"Day Dim","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1300,"y":600,"wires":[]},{"id":"1f6362019841bfec","type":"debug","z":"cdefec44f7aa86db","name":"Evening","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1300,"y":520,"wires":[]},{"id":"c16318e8ebd4a880","type":"debug","z":"cdefec44f7aa86db","name":"Evening Dim","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":680,"wires":[]},{"id":"e06fa44fa99ae1bf","type":"debug","z":"cdefec44f7aa86db","name":"Group off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1300,"y":760,"wires":[]},{"id":"366e585926417185","type":"link in","z":"cdefec44f7aa86db","name":"connect to Motion Sensor receiver (true/false)","links":[],"x":410,"y":600,"wires":[["d97e1a4a51210263"]],"l":true},{"id":"a40614c2d6ab7a3f","type":"comment","z":"cdefec44f7aa86db","name":"Scene \"day\"","info":"","x":1290,"y":420,"wires":[]},{"id":"f7d866f9c0b7b73d","type":"comment","z":"cdefec44f7aa86db","name":"\"day\" (dim down action)","info":"","x":1320,"y":580,"wires":[]},{"id":"69ce45506bdd554b","type":"comment","z":"cdefec44f7aa86db","name":"Scene \"evening\" ","info":"","x":1300,"y":500,"wires":[]},{"id":"3a55bb763410c25d","type":"comment","z":"cdefec44f7aa86db","name":"\"evening\" (dim down action)","info":"","x":1340,"y":660,"wires":[]},{"id":"02d0e65aeb3208c9","type":"comment","z":"cdefec44f7aa86db","name":"group or light off action","info":"","x":1320,"y":740,"wires":[]},{"id":"5a6a798079461a89","type":"comment","z":"cdefec44f7aa86db","name":"Test DOUBLE CLICK","info":"This test imitates the motion sensor.\nA true for detected motion, after 15sec\nno motion is detected any longer and \na false is send. \n\nWhen the false come through you can inject\nthe true (motion is detected) again, \nthe scene is recalled and group isnt \nturning off. \n\n","x":720,"y":900,"wires":[]},{"id":"011bfa073bf2c185","type":"change","z":"cdefec44f7aa86db","name":"25% brightness down","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"add group ID here","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"dimming_delta\":{\"action\":\"down\",\"brightness_delta\":25}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":580,"wires":[["e7431e513cc1a037"]]},{"id":"91454da2d036863f","type":"change","z":"cdefec44f7aa86db","name":"15% brightness down","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"add your group ID here","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"dimming_delta\":{\"action\":\"down\",\"brightness_delta\":15}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":620,"wires":[["e7431e513cc1a037"]]},{"id":"b76d06aff9385f4a","type":"change","z":"cdefec44f7aa86db","name":"Day Scene","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"scene","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"add scene ID here","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"recall\": {\"action\": \"active\"}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":500,"wires":[["e7431e513cc1a037"]],"icon":"font-awesome/fa-star"},{"id":"6f37e7f83f23a4bc","type":"change","z":"cdefec44f7aa86db","name":"Group Off","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"add group ID here","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":false}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":660,"wires":[["e7431e513cc1a037"]]},{"id":"a5d56d79871aeb42","type":"change","z":"cdefec44f7aa86db","name":"Evening Scene","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"scene","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"add scene ID here","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"recall\": {\"action\": \"active\"}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":540,"wires":[["e7431e513cc1a037"]],"icon":"font-awesome/fa-star"},{"id":"e7431e513cc1a037","type":"link out","z":"cdefec44f7aa86db","name":"to header and http request","mode":"link","links":[],"x":1980,"y":580,"wires":[],"l":true},{"id":"4edd0b81919cfe2c","type":"change","z":"cdefec44f7aa86db","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":780,"wires":[["d97e1a4a51210263"]]},{"id":"ef5b8d5e94bb3427","type":"delay","z":"cdefec44f7aa86db","name":"15sec","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":820,"wires":[["4edd0b81919cfe2c"]]},{"id":"37f9d0d13c6446c3","type":"comment","z":"cdefec44f7aa86db","name":"DOUBLE CLICK","info":"The switches are not turning the motion\nsensor off, they are just blocking or\npassing the payload in the subflow.\n\nFor me it had benefits not to disable\nmy sensors, just blocking the detection. \n\nIn my setup the switches are actually a \ncontact sensor, that sends it payload when\ndoor is closed or opened. (Bathroom)\n","x":500,"y":680,"wires":[]},{"id":"33f4109be99ba5cf","type":"comment","z":"cdefec44f7aa86db","name":"DOUBLE CLICK","info":"When you just have a button with only one \nfunction, you could try to use this.\n\nOn every push it triggers 1-2-1-2-1-2 etc\n\nNo promise that it works in any condition.\nTry it out, or delete it ","x":540,"y":340,"wires":[]},{"id":"9e604d9aca485a64","type":"comment","z":"cdefec44f7aa86db","name":"READ FIRST - DOUBLE CLICK","info":"What is this for?\n\nThis is for a room with physical wall switch \nor door contact (best your switch has\ntwo functions, ON and OFF) and also a motion \nsensor.\n\nI use this for my bathroom. Normally the \nsensor triggers the light on and off,\nwhen i go inside just for washing hands, \nlooking im the mirror, etc. \nWhen i am not enough moving for ~25sec\nthe light dims down 25%, to remind me \nthat the light will turn of soon.\nWhen I move, motion is detected and\nthe scene is triggered again, running\nthe timer from the start and so on...\n\nIf I leave the room light turns off shortly.\n\nThis subflow has the option for Day and\nEvening scenes. If you need just one,\nconnect the outputs to the same scenes\nand dim down actions.\n\nYou can adjust the timers and delays for \nyour needs,but this had be good for\nsome weeks testing.\n\nIt has the benefit, that the sensor is \nenabled all the time and I have almost\nno long delays, when i go back into the \nroom after i left and maybe want to go \nback because i forgot my phone. \n\nIf you use this with a switch and not \na door contact, dont forget to press \nthe switch when leaving the room.\n\nMore infos in the DOUBLE CLICKS\n\n","x":930,"y":200,"wires":[]},{"id":"93054539bf414e8a","type":"change","z":"cdefec44f7aa86db","name":"Day Scene","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"scene","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"add scene ID here","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"recall\": {\"action\": \"active\"}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":360,"wires":[["e7431e513cc1a037"]],"icon":"font-awesome/fa-star"},{"id":"32d82a70078bc300","type":"change","z":"cdefec44f7aa86db","name":"Group Off","rules":[{"t":"set","p":"endpoint","pt":"msg","to":"grouped_light","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"add group ID here","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"on\":{\"on\":false}}","tot":"json"},{"t":"set","p":"verb","pt":"msg","to":"put","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":840,"wires":[["e7431e513cc1a037"]]},{"id":"b405d8d45f792d3c","type":"comment","z":"cdefec44f7aa86db","name":"Your normal scene turning on the light using the switch","info":"","x":1300,"y":320,"wires":[]},{"id":"d2a153288bc7382d","type":"comment","z":"cdefec44f7aa86db","name":"turning off the light, using your switch","info":"","x":1290,"y":880,"wires":[]},{"id":"a41a1a3b0034b20d","type":"catch","z":"cdefec44f7aa86db","name":"","scope":null,"uncaught":false,"x":740,"y":200,"wires":[[]]},{"id":"530f6d6c12bfe2b0","type":"catch","z":"cdefec44f7aa86db","name":"","scope":null,"uncaught":false,"x":1120,"y":200,"wires":[[]]}]
