flows/power_state.json
[{"id":"cb5c8b2f988954a0","type":"tab","label":"power_state","disabled":false,"info":"","env":[]},{"id":"bfbaf08abd1ca30d","type":"function","z":"cb5c8b2f988954a0","name":"HUE API V2 - Header","func":"\n// you can copy the user from the hue config node\nvar user = \"your Api key\";\n\n\nif(msg.endpoint === undefined)\n msg.url = \"https://192.168.0.xx/clip/v2/resource\";\nelse if(msg.topic === undefined)\n msg.url = \"https://192.168.0.xx/clip/v2/resource/\" + msg.endpoint;\nelse\n msg.url = \"https://192.168.0.xx/clip/v2/resource/\" + msg.endpoint + \"/\" + msg.topic;\n\n\nmsg.headers = {};\n\nmsg.headers['hue-application-key'] = user;\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\n\nif(msg.payload != undefined)\n msg.headers['ContentLength'] = JSON.stringify(msg.payload).length;\n\nif(msg.verb === undefined)\n msg.method = \"get\";\nelse\n msg.method = msg.verb;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":220,"wires":[["c42ab8e0bb689946"]]},{"id":"c42ab8e0bb689946","type":"http request","z":"cb5c8b2f988954a0","name":"https request HUE API V2","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"4bc31af9bd03bbdc","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":710,"y":260,"wires":[["4b0554890dfadc2c"]]},{"id":"99ace1711ae9f41c","type":"change","z":"cb5c8b2f988954a0","name":"power_state","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"endpoint","pt":"msg","to":"device_power","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":180,"wires":[["bfbaf08abd1ca30d"]]},{"id":"d448f7c696ee6817","type":"debug","z":"cb5c8b2f988954a0","name":"power_state","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":340,"wires":[]},{"id":"4b0554890dfadc2c","type":"change","z":"cb5c8b2f988954a0","name":"payload.data","rules":[{"t":"move","p":"payload.data","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":300,"wires":[["5b14c3767ec2dc52"]]},{"id":"5b14c3767ec2dc52","type":"split","z":"cb5c8b2f988954a0","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":340,"wires":[["d448f7c696ee6817","dca3c7a2eebdda6a"]]},{"id":"1ffa97ab4cf25c4b","type":"inject","z":"cb5c8b2f988954a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":460,"y":180,"wires":[["99ace1711ae9f41c"]]},{"id":"dca3c7a2eebdda6a","type":"switch","z":"cb5c8b2f988954a0","name":"","property":"payload.power_state.battery_level","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"20","v2t":"num"},{"t":"btwn","v":"21","vt":"num","v2":"50","v2t":"num"},{"t":"btwn","v":"51","vt":"num","v2":"80","v2t":"num"},{"t":"btwn","v":"81","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":4,"x":810,"y":540,"wires":[["9a1bedd5d5482427"],["9933c4facfbb6bd9"],["3779f7e3dd9ed294"],["b18ad927e31f47b0"]]},{"id":"9a1bedd5d5482427","type":"debug","z":"cb5c8b2f988954a0","name":"0-20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":480,"wires":[]},{"id":"9933c4facfbb6bd9","type":"debug","z":"cb5c8b2f988954a0","name":"21-50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":520,"wires":[]},{"id":"3779f7e3dd9ed294","type":"debug","z":"cb5c8b2f988954a0","name":"51-80","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":560,"wires":[]},{"id":"b18ad927e31f47b0","type":"debug","z":"cb5c8b2f988954a0","name":"81-100","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":600,"wires":[]},{"id":"11b95f63f995afff","type":"comment","z":"cb5c8b2f988954a0","name":"All Battery Data","info":"","x":1080,"y":300,"wires":[]},{"id":"89d8609162c4e3e1","type":"comment","z":"cb5c8b2f988954a0","name":"Sorted by Battery state","info":"","x":1100,"y":440,"wires":[]},{"id":"cbec37d0aef4b037","type":"comment","z":"cb5c8b2f988954a0","name":"Add your Data here, or replace","info":"","x":730,"y":240,"wires":[]},{"id":"4bc31af9bd03bbdc","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]
