flows/scene_active.json
[{"id":"0bf2d511ae90c353","type":"subflow","name":"Scene Active","info":"","category":"","in":[{"x":320,"y":160,"wires":[{"id":"5ee9c9ec0c023e96"}]}],"out":[{"x":600,"y":160,"wires":[{"id":"e7fe122127d0a8fc","port":0}]}],"env":[{"name":"scene_ID","type":"str","value":"discovered scene ID"}],"meta":{},"color":"#C7E9C0","icon":"node-red/light.svg"},{"id":"717ac2cf5a81ff10","type":"switch","z":"0bf2d511ae90c353","name":"","property":"payload.data.0.status.active","propertyType":"msg","rules":[{"t":"eq","v":"static","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":465,"y":160,"wires":[["e7fe122127d0a8fc"]],"l":false},{"id":"e7fe122127d0a8fc","type":"change","z":"0bf2d511ae90c353","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":160,"wires":[[]],"l":false},{"id":"5ee9c9ec0c023e96","type":"switch","z":"0bf2d511ae90c353","name":"","property":"payload.data.0.id","propertyType":"msg","rules":[{"t":"eq","v":"scene_ID","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":395,"y":160,"wires":[["717ac2cf5a81ff10"]],"l":false},{"id":"3d918a0cce364f4e","type":"subflow:0bf2d511ae90c353","z":"ad3a171395c53733","name":"","x":1350,"y":1840,"wires":[[]]}]
