flows/Sub-Flows.json
[{"id":"8b11354f.4a0658","type":"subflow","name":"HUE light / grouped_light Event Filter","info":"","category":"","in":[{"x":240,"y":320,"wires":[{"id":"dac5f0fa.1f40f"}]}],"out":[{"x":940,"y":240,"wires":[{"id":"aace2843.2871c8","port":0}]},{"x":940,"y":320,"wires":[{"id":"aace2843.2871c8","port":0},{"id":"41a47fec.70648","port":0}]},{"x":940,"y":400,"wires":[{"id":"41a47fec.70648","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"746939f9.f6b108","type":"rbe","z":"8b11354f.4a0658","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":670,"y":240,"wires":[["aace2843.2871c8"]]},{"id":"aace2843.2871c8","type":"switch","z":"8b11354f.4a0658","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":240,"wires":[[]]},{"id":"2f699b9.a0d8564","type":"change","z":"8b11354f.4a0658","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":200,"wires":[["564377fd.a0e0b8"]]},{"id":"564377fd.a0e0b8","type":"delay","z":"8b11354f.4a0658","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":200,"wires":[["746939f9.f6b108"]]},{"id":"fa001d5d.71b28","type":"change","z":"8b11354f.4a0658","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":280,"wires":[["746939f9.f6b108"]]},{"id":"508f9bfa.48bee4","type":"delay","z":"8b11354f.4a0658","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":440,"wires":[["13d2358.64a41cb"]]},{"id":"13d2358.64a41cb","type":"rbe","z":"8b11354f.4a0658","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":670,"y":400,"wires":[["41a47fec.70648"]]},{"id":"53e1fe05.52fae","type":"change","z":"8b11354f.4a0658","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":360,"wires":[["13d2358.64a41cb"]]},{"id":"e79cdf6a.98b9a","type":"change","z":"8b11354f.4a0658","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":440,"wires":[["508f9bfa.48bee4"]]},{"id":"41a47fec.70648","type":"switch","z":"8b11354f.4a0658","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":400,"wires":[[]]},{"id":"dac5f0fa.1f40f","type":"switch","z":"8b11354f.4a0658","name":"payload.data.0.on.on","property":"payload.data.0.on.on","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":320,"wires":[["fa001d5d.71b28","2f699b9.a0d8564"],["53e1fe05.52fae","e79cdf6a.98b9a"]]},{"id":"a6fe1e7b.98bbb","type":"comment","z":"8b11354f.4a0658","name":"On","info":"","x":1030,"y":240,"wires":[]},{"id":"df72e146.b2f1","type":"comment","z":"8b11354f.4a0658","name":"On / Off","info":"","x":1030,"y":320,"wires":[]},{"id":"866ec200.3d95a","type":"comment","z":"8b11354f.4a0658","name":"Off","info":"","x":1030,"y":400,"wires":[]},{"id":"75146258.9bc82c","type":"comment","z":"8b11354f.4a0658","name":"PLEASE READ - DOUBLE CLICK","info":"Output 1:\nThis output will send a **true** when Lights or Groups are turned on.\n\nOutput 2:\nThis output will send a **true** when Lights or Groups are turned on AND a **false** when Lights or Groups are turned off.\n\nOutput 3:\nThis output will send a **false** when Lights or Groups are turned off\n\n\n\nDepending on your Situation it can be useful just to have a **true** OR **false** OR **both** states in your Flow. Thats the reason i built this Subflow.\nJust use the Output that makes you happy :)\n\n\n-----------------------\nAll outputs are boolean \n-----------------------\n\n\nThe delays will reset the RBE nodes.\nYou can adjust the times for your needs, but this worked for me prefectly.","x":360,"y":280,"wires":[]},{"id":"a0f46ca3.05bb","type":"subflow","name":"HUE Button Event Filter","info":"","category":"","in":[{"x":220,"y":440,"wires":[{"id":"16fe52.092431af"}]}],"out":[{"x":1060,"y":180,"wires":[{"id":"b32878f3.1affd8","port":0}]},{"x":1060,"y":380,"wires":[{"id":"3b896174.68dd9e","port":0}]},{"x":1060,"y":540,"wires":[{"id":"4e317780.000048","port":0}]},{"x":1060,"y":700,"wires":[{"id":"5785d67f.aaa618","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"5c9c6f16.5554d","type":"rbe","z":"a0f46ca3.05bb","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":810,"y":180,"wires":[["b32878f3.1affd8"]]},{"id":"b32878f3.1affd8","type":"switch","z":"a0f46ca3.05bb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":180,"wires":[[]]},{"id":"1e0b07e4.60c4d8","type":"change","z":"a0f46ca3.05bb","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":140,"wires":[["b42db4d.b8a2b48"]]},{"id":"b42db4d.b8a2b48","type":"delay","z":"a0f46ca3.05bb","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":140,"wires":[["5c9c6f16.5554d"]]},{"id":"95a9a39.1d3dc6","type":"change","z":"a0f46ca3.05bb","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":220,"wires":[["5c9c6f16.5554d"]]},{"id":"b3cdb363.f8188","type":"delay","z":"a0f46ca3.05bb","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":660,"wires":[["9e027249.8c0a7"]]},{"id":"9e027249.8c0a7","type":"rbe","z":"a0f46ca3.05bb","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":810,"y":700,"wires":[["5785d67f.aaa618"]]},{"id":"17135676.a1efda","type":"change","z":"a0f46ca3.05bb","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":660,"wires":[["b3cdb363.f8188"]]},{"id":"7f17a1ec.8e6b1","type":"change","z":"a0f46ca3.05bb","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":740,"wires":[["9e027249.8c0a7"]]},{"id":"5785d67f.aaa618","type":"switch","z":"a0f46ca3.05bb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":700,"wires":[[]]},{"id":"16fe52.092431af","type":"switch","z":"a0f46ca3.05bb","name":"payload.data.0.button.last_event","property":"payload.data.0.button.last_event","propertyType":"msg","rules":[{"t":"cont","v":"initial_press","vt":"str"},{"t":"cont","v":"short_release","vt":"str"},{"t":"cont","v":"repeat","vt":"str"},{"t":"cont","v":"long_release","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":440,"wires":[["1e0b07e4.60c4d8","95a9a39.1d3dc6"],["46f6f60.375360c","c2c46cf6.3eb51"],["4e317780.000048"],["7f17a1ec.8e6b1","17135676.a1efda"]]},{"id":"824dedac.3b8ea","type":"rbe","z":"a0f46ca3.05bb","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":810,"y":380,"wires":[["3b896174.68dd9e"]]},{"id":"3b896174.68dd9e","type":"switch","z":"a0f46ca3.05bb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":380,"wires":[[]]},{"id":"c2c46cf6.3eb51","type":"change","z":"a0f46ca3.05bb","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":340,"wires":[["6936b721.8e55a8"]]},{"id":"6936b721.8e55a8","type":"delay","z":"a0f46ca3.05bb","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":340,"wires":[["824dedac.3b8ea"]]},{"id":"46f6f60.375360c","type":"change","z":"a0f46ca3.05bb","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":420,"wires":[["824dedac.3b8ea"]]},{"id":"196bd0e9.4b109f","type":"comment","z":"a0f46ca3.05bb","name":"initial_press","info":"","x":830,"y":100,"wires":[]},{"id":"49d7d8aa.5cfb58","type":"comment","z":"a0f46ca3.05bb","name":"short_release","info":"","x":830,"y":300,"wires":[]},{"id":"b841cfd2.439de","type":"comment","z":"a0f46ca3.05bb","name":"long_release","info":"","x":830,"y":620,"wires":[]},{"id":"4e317780.000048","type":"change","z":"a0f46ca3.05bb","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":540,"wires":[[]]},{"id":"77123b03.4edec4","type":"comment","z":"a0f46ca3.05bb","name":"repeat","info":"","x":810,"y":500,"wires":[]},{"id":"ffcecb8d.db6828","type":"comment","z":"a0f46ca3.05bb","name":"PLEASE READ - DOUBLE CLICK","info":"Output 1:\nThe **initial_press** comes ALWAYS directly after you push the Button. Quickest response possible!\n\nOutput 2:\nThe **short_release** will just appear after the **initial_press**, when you pushed the Button quick.\n\nOutput 3:\nThe **repeat** will appear if you hold the button, and will send a message every second until you release it.\n\nOutput 4:\nThe **long_release** will appear after the **repeat** ENDED!\n\n\n--------------------------------\nAll outputs are boolean **true**\n--------------------------------\n\n\nThe delays will reset the RBE node with a false.\nYou can adjust the times for your needs, but this worked for me prefectly.","x":440,"y":380,"wires":[]},{"id":"4c3d3acf.2f8024","type":"subflow","name":"HUE - Motion Sensor Event Filter","info":"","category":"","in":[{"x":380,"y":280,"wires":[{"id":"141a3bcf.ada954"}]}],"out":[{"x":960,"y":200,"wires":[{"id":"803a4d3.1397db","port":0}]},{"x":960,"y":280,"wires":[{"id":"803a4d3.1397db","port":0},{"id":"9d94cd03.7d235","port":0}]},{"x":960,"y":360,"wires":[{"id":"9d94cd03.7d235","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"141a3bcf.ada954","type":"switch","z":"4c3d3acf.2f8024","name":"payload.data.0.motion.motion","property":"payload.data.0.motion.motion","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":280,"wires":[["803a4d3.1397db"],["9d94cd03.7d235"]]},{"id":"803a4d3.1397db","type":"change","z":"4c3d3acf.2f8024","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":240,"wires":[[]]},{"id":"9d94cd03.7d235","type":"change","z":"4c3d3acf.2f8024","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":320,"wires":[[]]},{"id":"8e15a437.76f868","type":"comment","z":"4c3d3acf.2f8024","name":"PLEASE READ - DOUBLE CLICK","info":"Output 1:\nWill send just an **true** when Motion is detected\n\nOutput 2:\nWill send an **true** when Motion is detected and a **false** if no motion is detected any longer.\n\nOutput 3:\nWill send just an **false** when no Motion is detected any longer.\n\n\n-----------------------\nAll outputs are boolean\n-----------------------\n\nMost easy Subflow, but convinient when lots of sensors need to be set up.","x":580,"y":240,"wires":[]},{"id":"53cefa81.4b65a4","type":"comment","z":"4c3d3acf.2f8024","name":"motion true","info":"","x":1060,"y":200,"wires":[]},{"id":"223ce200.ad667e","type":"comment","z":"4c3d3acf.2f8024","name":"motion false","info":"","x":1070,"y":360,"wires":[]},{"id":"83e117e4.a287b8","type":"comment","z":"4c3d3acf.2f8024","name":"motion true / false","info":"","x":1090,"y":280,"wires":[]},{"id":"9a8d42b3.720db","type":"subflow:4c3d3acf.2f8024","z":"af40bef6.327ce","name":"","x":740,"y":300,"wires":[[],[],[]]},{"id":"c6e17bf.ce82488","type":"subflow:a0f46ca3.05bb","z":"af40bef6.327ce","name":"","env":[],"x":770,"y":180,"wires":[[],[],[],[]]},{"id":"116a9b13.58f85d","type":"subflow:8b11354f.4a0658","z":"af40bef6.327ce","name":"","env":[],"x":730,"y":420,"wires":[[],[],[]]}]
